<div class="card card-custom">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-title align-items-start flex-column">
        <span class="font-weight-bolder text-dark">Merge Contacts</span>
        <!--        <span class="text-muted mt-3 font-weight-bold font-size-sm">{{getContactTitle()}}</span>-->
      </h3>
    </div>
  </div>
  <form class="form form-group-seperator-dashed" [formGroup]="mergeForm">
    <div class="card-body">
      <div class="form-group">
        <div class="row">
          <div class="col kt-margin-bottom-20-mobile">
            <kt-general-autocomplete [appearance]="'fill'"
                                     [label]="'Contacts'"
                                     [loadItemsFunction]="contactAutocompleteCall"
                                     [optionFormatter]="filterRecipientFn"
                                     [valueFormatter]="filterRecipientFn"
                                     [required]="true"
                                     [readOnly]="false"
                                     [control]="mergeForm.get('contacts')"
                                     [change]="onContactChange.bind(this)"
                                     [dataPath]="'data'"
                                     [placeholder]="'Search for contact...'"
                                     [chipList]="true"
                                     [objects]="mergeForm.get('contacts').value"
                                     [formatNewObjectFn]="formatFn"
                                     #contactAutocomplete></kt-general-autocomplete>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-between">
        <div class="mr-2"></div>
        <div>
          <button (click)="onCloseClick()" type="button" mat-raised-button cdkFocusInitial matTooltip="Cancel">
            <span translate="GLOBAL.CANCEL">Cancel</span>
          </button>&nbsp;
          <ng-template ngxPermissionsOnly="canEditTask">
            <button type="button" mat-raised-button color="primary" (click)="onMergeClick();" matTooltip="Merge">
              <span translate="GLOBAL.SAVE">Save</span>
            </button>
          </ng-template>
        </div>
      </div>
    </div>
  </form>
</div>
