<div class="card card-custom">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">{{ "TASK.COMMENTS" | translate }}</h3>
    </div>
  </div>
  <div class="form">
    <div class="card-body">
      <div class="card-body-progress">
        <mat-spinner [diameter]="20"></mat-spinner>
      </div>

      <div class="form-group row">
        <div class="col-lg-12">
            <kt-comments [id]="0" [comments]="comments" [type]="'tasks_v2'" readonly="true"></kt-comments>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-between">
        <div class="mr-2"></div>
        <div>
          <button type="button" mat-raised-button mat-dialog-close><span
            translate="GLOBAL.CANCEL">Close</span>
          </button>&nbsp;
        </div>
      </div>
    </div>
  </div>
</div>
