<kt-portlet>
  <!-- PORTLET LOADING | Binded to TABLE Datasource -->
  <!-- See prop => '~/core/_crud/models/data-sources/_base.datasource.ts' (loading$) -->
  <kt-portlet-header title="{{ 'TABLE.USER_LIST' | translate }}" [class]="'card-head-lg'"
                     [viewLoading$]="dataSource.loading$">
    <ng-container ktPortletTools>
<div>
      <ng-template ngxPermissionsOnly="canAddUser">
        <button [routerLink]="['../users/add']" mat-raised-button matTooltip="Create new User" color="primary"
                type="button">
                <span class="svg-icon-md" translate>
                  <span inlineSVG="./assets/media/svg/icons/General/add_circle_icon.svg"></span>
                  {{ 'TABLE.ADD_USER' | translate }}</span>
        </button>&nbsp;
      </ng-template>
</div>
    </ng-container>
  </kt-portlet-header>
  <!-- end::Header -->

  <!-- start::Body (attribute: ktPortletBody) -->
  <kt-portlet-body>
    <!-- start::FILTERS & GROUP ACTIONS -->
    <div class="form kt-margin-b-30">
      <!-- start::FILTERS -->
      <div class="form-filtration">
        <div class="row align-items-center">
          <div class="col-md-2 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid" appearance="fill">
              <mat-label>{{ 'TABLE.STATUS' | translate }}</mat-label>
              <mat-select [(value)]="filterStatus" (selectionChange)="loadUsersList()"
                          placeholder="{{ 'TABLE.STATUS' | translate }}">
                <mat-option>All</mat-option>
                <mat-option value="true">Active</mat-option>
                <mat-option value="false">Inactive</mat-option>
              </mat-select>
              <mat-hint align="start">
                <strong>{{ 'TABLE.FILTER' | translate }}</strong> {{ 'TABLE.BY_STATUS' | translate }}
              </mat-hint>
            </mat-form-field>
          </div>
          <div class="col-md-2 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid" appearance="fill">
              <mat-label>{{ 'TABLE.SEARCH' | translate }}</mat-label>
              <input matInput placeholder="{{ 'TABLE.SEARCH' | translate }}" #searchInput placeholder="Search">
              <mat-hint align="start">
                <strong>{{ 'TABLE.SEARCH' | translate }}</strong> {{ 'TABLE.IN_ALL_FIELDS' | translate }}
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>

      <!-- end::FILTERS -->

      <!-- start::GROUP ACTIONS -->
      <!-- Group actions list: 'Delete selected' | 'Fetch selected' | 'Update status for selected' -->
      <!-- Group actions are shared for all LISTS -->
      <div class="row align-items-center collapse form-group-actions kt-margin-top-20 kt-margin-bottom-20"
           [ngClass]="{'show' : selection.selected.length > 0}">
        <!-- We show 'Group Actions' div if smth are selected -->
        <div class="col-xl-12">
          <div class="form-group form-group-inline">
            <div class="form-label form-label-no-wrap">
              <label class="font-bold font-danger-">
                <span translate="GLOBAL.SELECTED_RECORDS_COUNT"></span> {{ selection.selected.length }}
              </label>
              <!-- selectedCountsTitle => function from codeBehind (users-list.component.ts file) -->
              <!-- selectedCountsTitle => just returns title of selected items count -->
              <!-- for example: Selected records count: 4 -->
            </div>
            <div class="kt-form__control kt-form__group--inline">
              <button (click)="deleteUsers()"
                      mat-raised-button
                      matTooltip="Delete selected users"
                      class=" btn btn-danger">
                <mat-icon>delete</mat-icon>
                {{ 'TABLE.DELETE' | translate }}
              </button>&nbsp;<!-- Call 'delete-entity-dialog' from _shared folder -->

              <button (click)="updateStatusForUsers()" mat-raised-button matTooltip="Update status for selected users"
                      class="mat-button-mt-4">
                <mat-icon>update</mat-icon>
                {{ 'TABLE.UPDATE' | translate }} {{ 'TABLE.STATUS' | translate }}
              </button><!-- Call 'update-stated-dialog' from _shared folder -->
            </div>
          </div>
        </div>
      </div>
      <!-- end::GROUP ACTIONS -->
    </div>
    <!-- end::FILTERS & GROUP ACTIONS -->

    <!-- MATERIAL TABLE | Binded to datasources -->
    <!-- See off.documentations 'https://material.angular.io/components/table/overview' -->
    <div class="mat-table-wrapper">
      <mat-table class="lmat-elevation-z8"
                 #table
                 [dataSource]="dataSource"
                 matSort
                 #sort1="matSort"
                 matSortActive="id"
                 matSortDirection="asc"
                 matSortDisableClear>
        <!-- Checkbox Column -->

        <!-- Table with selection -->
        <!-- https://run.stackblitz.com/api/angular/v1?file=app%2Ftable-selection-example.ts -->
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()" [color]="'primary'">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="mat-column-checkbox">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                          [color]="'primary'">
            </mat-checkbox>
          </mat-cell>
        </ng-container>


        <ng-container matColumnDef="userName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'USER.NAME' | translate }}</mat-header-cell>
          <mat-cell
                    *matCellDef="let user">{{user.firstName}} {{user.lastName}}</mat-cell>
        </ng-container>


        <ng-container *ngIf="currentUserRoleType == 'Super Admin'" matColumnDef="company">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'USER.COMPANY' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let user">
            {{user.company}}
          </mat-cell>

        </ng-container>


        <ng-container *ngIf="currentUserRoleType == 'Admin'" matColumnDef="company">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'USER.COMPANY' | translate }}</mat-header-cell>

          <mat-cell *matCellDef="let user">
            {{currentCompany}}
          </mat-cell>
        </ng-container>


        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'USER.STATUS' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let user">
            <span
              class="label label-lg label-light-{{ getItemCssClassByStatus(user.isActive) }} label-inline">{{  getItemStatusString(user.isActive) }}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'USER.EMAIL' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let user">
            <a href="mailto:{{user.email}}" class="font-weight-bold">{{user.email}}</a>
          </mat-cell>
        </ng-container>


        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>{{ 'TABLE.ACTIONS' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let user">
            <ng-template ngxPermissionsOnly="canViewUser">
              <button color="success" matTooltip="{{ 'TABLE.VIEW' | translate }}" (click)="viewUser(user)"
                      class="btn btn-icon btn-light btn-hover-success btn-sm ">
							<span class="svg-icon svg-icon-md svg-icon-success">
							   <span inlineSVG="./assets/media/svg/icons/General/visible.svg"></span>
						   </span>
              </button>
            </ng-template>
            &nbsp;
            <ng-template ngxPermissionsOnly="canEditUser">
              <button color="primary" matTooltip="{{ 'TABLE.UPDATE' | translate }}" (click)="editUser(user.id)"
                      class="btn btn-icon btn-light btn-hover-primary btn-sm margin-2">
							<span class="svg-icon svg-icon-md svg-icon-primary">
							   <span inlineSVG="./assets/media/svg/icons/General/edit_icon.svg"></span>
						   </span>
              </button>
            </ng-template>

            <ng-template ngxPermissionsOnly="canActivateUser">
              <button color="warning" matTooltip="Activate/Deactivate User"
                      (click)="updateSingleStatus(user)"
                      class="btn btn-icon btn-light btn-hover-warning btn-sm margin-2">
								<span class="svg-icon svg-icon-md svg-icon-warning">
									<span inlineSVG="./assets/media/svg/icons/General/update_icon2.svg"></span>
								</span>
              </button>
            </ng-template>
            <ng-template ngxPermissionsOnly="canSoftDeleteUser">
              <button color="danger" matTooltip="{{ 'TABLE.DELETE' | translate }}" (click)="deleteUser(user)"
                      class="btn btn-icon btn-light btn-hover-danger btn-sm margin-2">
                <span class="svg-icon svg-icon-md svg-icon-danger">
                 <span inlineSVG="./assets/media/svg/icons/General/delete_icon.svg"></span>
                </span>
              </button>
            </ng-template>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns" class="sticky-header"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <div class="mat-table__message" *ngIf="!dataSource.hasItems">{{ 'TABLE.NO_RECORDS' | translate }}</div>
      <!-- Message for empty data  -->
      <div class="mat-table__message"
           *ngIf="dataSource.isPreloadTextViewed$ | async">{{ 'TABLE.PLAESE_WAIT' | translate }}</div>
    </div>

    <!-- start: BOTTOM -->
    <div class="mat-table__bottom">
      <!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
      <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
      <!-- MATERIAL PAGINATOR | Binded to dasources -->
      <!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
      <mat-paginator [pageSize]="5" [pageSizeOptions]="[3, 5, 10]" [length]="dataSource.paginatorTotal$ | async"
                     [showFirstLastButtons]="true"></mat-paginator>
    </div>
    <!-- end: BOTTOM -->
  </kt-portlet-body>
  <!-- end::Body -->
</kt-portlet>
