<kt-portlet>
  <div class='card card-custom' style="background-color: white !important;">
    <kt-portlet-header [class]="'card-head-lg'">
      <ng-container ktPortletTitle>
        <form class="w-50">
          <mat-form-field [formGroup]="search">
            <mat-label>
              <mat-icon>search</mat-icon>
              Search
            </mat-label>
            <input class="pb-0 mb-0" type="text" matInput formControlName="searchInput" (keyup)="searchAction()">
          </mat-form-field>
        </form>
      </ng-container>
      <ng-container ktPortletTools>
        <div>
          <mat-button-toggle-group name="filterType" aria-label="Font Style">
            <mat-button-toggle (change)="resetSent()" (change)="loadTimelines($event.value)" value="EMAIL">
                <span class="svg-icon" [class]="'svg-icon svg-icon-primary m-1'"
                      [inlineSVG]="'./assets/media/svg/icons/Communication/Incoming-mail.svg'"> <svg>...</svg></span>
              EMAIL
            </mat-button-toggle>
            <mat-button-toggle (change)="resetSent()" (change)="loadTimelines($event.value)" value="FAX">
              <span class="svg-icon" [class]="'svg-icon svg-icon-success m-1'"
                    [inlineSVG]="'./assets/media/svg/icons/Communication/Incoming-box.svg'"> <svg>...</svg></span>
              FAX
            </mat-button-toggle>
            <mat-button-toggle (change)="resetSent()" (change)="loadTimelines($event.value)" value="MEETING">
              <span class="svg-icon" [class]="'svg-icon svg-icon-danger m-1'"
                    [inlineSVG]="'./assets/media/svg/icons/Code/Time-schedule.svg'"> <svg>...</svg></span>
              MEETING
            </mat-button-toggle>
            <mat-button-toggle (change)="resetSent()" (change)="loadTimelines($event.value)" value="FILTERED_VIEW_SESSION">
              <span class="svg-icon" [class]="'svg-icon svg-icon-secondary m-1'"
                    [inlineSVG]="'./assets/media/svg/icons/General/filter.svg'"> <svg>...</svg></span>
              SESSION
            </mat-button-toggle>
            <mat-button-toggle (change)="resetSent()" (change)="loadTimelines('')" value="ALL">ALL
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </ng-container>
    </kt-portlet-header>
    <!-- end::Header -->

    <kt-portlet-body style="max-height: 1750px; overflow-y: auto">
      <div class="timeline timeline-4">
        <div class="timeline-bar"></div>
        <div class="timeline-items" perfectScrollbar
             [ngStyle]="{'max-height': '50vh'}"
             (scroll)="onScrollSent($event)">
          <ng-container *ngFor="let item of timelines">
            <ng-container [ngTemplateOutlet]="itemTemplate"
                          [ngTemplateOutletContext]="{item: item}">
            </ng-container>
          </ng-container>

        </div>
      </div>
      <div *ngIf="spinnerStateSent" class="d-flex justify-content-center text-primary mt-5">
        <div class="spinner-grow" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="mat-table-message mt-5" style="text-align: center" *ngIf="!timelines?.length && !spinnerStateSent"
           translate="GLOBAL.NO_RECORDS_FOUND">No Records Found
      </div>

      <ng-template #itemTemplate let-item="item">
        <div [class]="getItemClass(item)">
          <div class="timeline-badge">
            <span [class]="getItemColor(item.type)" [inlineSVG]="getItem(item.type)"></span>
          </div>
          <div class="timeline-content">
            <div class="mr-2">
              <a class="dark-75 font-weight-bold text-capitalize">
                {{item.subject}}
              </a>
              <span class="text-muted ml-2">
                              {{getDate(item.created) | date:'mediumDate'}}   {{getDate(item.created) | date:'shortTime'}}
              </span>
            </div>
            <p class="p-0 pl-1">
              {{item.body || 'No body' | slice:0:150}}
            </p>
            <div class="ml-2">
              <a (click)="readMore(item,item.type)"
                 class="btn btn-sm btn-light-primary btn-text-primary btn-hover-text font-weight-bold btn-pill"
                 aria-expanded="false">
                <span class="svg-icon">Read More</span>
              </a>
            </div>
          </div>
        </div>
        <br>
        <br>
      </ng-template>
    </kt-portlet-body>
    <!-- end::Body -->
  </div>
</kt-portlet>
