
<div class="d-flex py-2" *ngFor="let h of history">
  <!--begin::Symbol-->
  <kt-user-photo [create]="false" [size]="40" [type]="'object'"  [editable]="false" [user$]="h"></kt-user-photo>

  <!--end::Symbol-->
  <!--begin::Info-->
  <div class="d-flex flex-column flex-row-fluid" style="padding-left: 12px;">
    <!--begin::Info-->
    <div class="d-flex align-middle align-items-center flex-wrap">
      <span class="text-dark-75 font-size-md pr-6"><b>{{h.userName}}</b> {{getActionText(h.revType)}} this workflow queue</span>
    </div>
    <div class="d-flex align-items-center flex-wrap pt-1">
      <span class="text-muted font-weight-normal font-size-xs pr-2">{{getMomentDate(h.revTimestamp)}}</span>
    </div>
    <!--end::Info-->
  </div>
  <!--end::Info-->
</div>
<div *ngIf="history.length===0" class="no-data-container"  >
  <p class="mb-0 mt-2">No actions yet</p>
  <p>After first action you will be able to view it here</p>
</div>
