<div>
  <div *ngIf="comments.length > 0">
    <div class="d-flex py-2" *ngFor="let c of comments" style="border-bottom: 1px solid #f7f6f8;">
      <!--begin::Symbol-->
      <kt-user-photo *ngIf="!readonly" [create]="false" [size]="40" [type]="'object'" [editable]="false" [user$]="c"></kt-user-photo>
      <!--end::Symbol-->
      <!--begin::Info-->
      <div class="d-flex flex-column flex-row-fluid" style="padding-left: 10px;">
        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap">
          <a class="text-dark-75  mb-1 font-size-lg font-weight-bolder pr-2">{{c.last_modified_user}}</a>
          <span class="text-muted font-weight-normal flex-grow-1 font-size-xs">{{getMomentDate(c.updated)}}</span>
        </div>
        <span *ngIf="!c.editMode"
              class="p-2 rounded bg-light text-dark-75 font-size-sm font-weight-normal pt-1">{{c.comment}}</span>
        <textarea *ngIf="c.editMode && !readonly" class="form-control" [(ngModel)]="editCommentValue" rows="1" autocomplete="off"
                  maxlength="1000"></textarea>
        <div *ngIf=" currentUser && c.last_modified_user === currentUser.userName">
          <div *ngIf="!c.editMode && !readonly" class="d-flex align-items-center flex-wrap pt-1">
            <button type="button" class="text-muted btn btn-link  p-0"
                    (click)="editCommentValue = c.comment; c.editMode = true; isEditing = true">Edit
            </button>
            <span class="text-muted pt-0">.</span>
            <button type="button" class="text-muted btn btn-link  p-0" (click)="deleteComment(c.id)">Delete</button>
            <!--            <span style="cursor: pointer; text-decoration: underline;" class="text-muted font-weight-normal font-size-xs pr-1" (click)="editCommentValue = c.comment; c.editMode = true; isEditing = true">Edit</span>-->
            <!--            <span style="cursor: pointer; text-decoration: underline;" class="text-muted font-weight-normal font-size-xs pl-1" (click)="deleteComment(c.id)">Delete</span>-->
          </div>
          <div *ngIf="c.editMode && !readonly" class="d-flex align-items-center flex-wrap pt-1">
<!--            <a class="btn btn-link font-weight-bold" (click)="c.editMode = false; isEditing = false">Cancel</a>-->
            <button class="btn btn-primary btn-sm mr-2" [disabled]="editCommentValue.length < 1"
                    (click)="updateComment(c.id)" type="button">Save
            </button>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="c.editMode = false; isEditing = false">x
            </button>
            <!--            <span style="cursor: pointer;" class="text-muted font-weight-normal font-size-xs" (click)="c.editMode = false; isEditing = false">Cancel</span>-->
          </div>
        </div>
        <!--end::Info-->
      </div>
      <!--end::Info-->
    </div>
  </div>
  <div *ngIf="!isEditing && !readonly" class="d-flex py-5">
    <!--begin::Symbol-->
    <kt-user-photo *ngIf="currentUser" [create]="false" [size]="40" [type]="'object'"  [editable]="false" [user$]="currentUser"></kt-user-photo>
    <!--end::-->
    <!--begin::Info-->
    <div class="d-flex flex-column flex-row-fluid" style="padding-left: 10px;" *ngIf="!readonly">
      <!--begin::Info-->
      <mat-form-field appearance="outline">
        <input matInput style="padding: 0px !important;" #newcomment class="form-control"
               placeholder="Write a comment..." maxlength="1000" autocomplete="off">
        <mat-spinner *ngIf="isSubmittingComment" matSuffix [diameter]="20"></mat-spinner>
        <div class="d-flex align-items-center flex-wrap pt-3">
          <button class="btn btn-primary btn-sm mr-2" [disabled]="newcomment.length < 1"
                  (click)="postComment(newcomment.value); newcomment.value=''" type="button">Save
          </button>
          <!--          <a class="btn btn-link font-weight-bold" (click)="newcomment.value=''">Cancel</a>-->
          <!--        <span (click)="newcomment.value=''" style="cursor: pointer;" class="text-muted font-weight-normal font-size-sm">Cancel</span>-->
        </div>
      </mat-form-field>

      <!--end::Info-->
    </div>
    <!--end::Info-->
  </div>
</div>
