<form>
  <mat-form-field [appearance]="appearance" class="mat-form-field-fluid">
    <mat-label>{{label}}</mat-label>
    <mat-chip-list *ngIf="chipList" #chipList aria-label="Participant selection" [formControl]="controlObject" [disabled]="readOnly">
      <mat-chip *ngFor="let object of objects" (removed)="remove(object)" [removable]="!readOnly">
        <div [innerHTML]="optionFormatter(object)"></div>
        <mat-icon matChipRemove *ngIf="!readOnly">cancel</mat-icon>
      </mat-chip>
      <input style="border: none; outline: none;" matInput [matAutocomplete]="autoRecorder" #recorderInput
      [formControl]="inputCtrl" (click)="onClick();$event.stopPropagation()" [placeholder]="placeholder"
      [readonly]="readOnly" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
    </mat-chip-list>
    <input *ngIf="!chipList" matInput [matAutocomplete]="autoRecorder" #recorderInput1 [formControl]="controlObject"
           (keyup)="onChange($event)" (click)="onClick();$event.stopPropagation()" [placeholder]="placeholder"
           [readonly]="readOnly">
    <mat-spinner matSuffix [diameter]="18" style="float: right; margin-left: 8px"
                 *ngIf="isLoading.asObservable() | async"></mat-spinner>
    <mat-autocomplete autoActiveFirstOption #autoRecorder="matAutocomplete" (optionSelected)="selectedRecorder()"
                      [displayWith]="valueFormatter" [panelWidth]="panelWidth">
      <mat-option *ngFor="let record of filteredItems| async" [value]="record" >
        <div [innerHTML]="optionFormatter(record)"></div>
      </mat-option>
      <mat-option disabled="true" *ngIf="(filteredItems| async).length == 0 && !(isLoading|async)" [value]="0">
        {{inputCtrl.value && inputCtrl.value.length ? 'No Match' : 'Start typing to Search'}}
      </mat-option>
    </mat-autocomplete>
    <mat-hint align="start" *ngIf="hint">
      {{ hint }}<strong>{{hintStrong}}</strong>
    </mat-hint>
    <mat-error *ngIf="(required && controlObject.touched && controlObject.hasError('required'))">
      {{ "AUTH.VALIDATION.REQUIRED_FIELD" | translate }}
    </mat-error>
  </mat-form-field>
</form>
