<kt-portlet>
  <kt-portlet-header [class]="'card-head-lg'" [viewLoading$]="dataSource.loading$">
    <!-- PORTLET LOADING | Binded to TABLE Datasource -->

    <ng-container ktPortletTitle>
      <span translate="CONTACT.CONTACTS_LIST">Contact List</span>
    </ng-container>

    <ng-container ktPortletTools>
      <div>
        <ng-template ngxPermissionsOnly="canAddContact">
          <button (click)="createContact()" mat-raised-button matTooltip="Create new contact" color="primary"
                  type="button">
            <span class="svg-icon-md" translate="CONTACT.NEW_CONTACT">
              <span inlineSVG="./assets/media/svg/icons/General/add_circle_icon.svg"></span>
              New Contact
            </span>
          </button>
        </ng-template>
      </div>
    </ng-container>
  </kt-portlet-header>
  <!-- end::Header -->

  <kt-portlet-body>
    <!-- start::FILTERS & GROUP ACTIONS -->
    <div class="form mb-3">
      <!-- start::FILTERS -->
      <div class="form-filtration" >
        <div class="row align-items-center">
          <div class="col-md-2 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid" appearance="fill">
              <mat-label>{{ 'GLOBAL.STATUS' | translate }}</mat-label>
              <mat-select [(value)]="filterStatus" (selectionChange)="paginator.firstPage();loadContactsList()"
                          placeholder="{{ 'GLOBAL.STATUS' | translate }}">
                <mat-option value="">{{ 'GLOBAL.ALL' | translate }}</mat-option>
                <mat-option value="true">{{ 'GLOBAL.ACTIVE' | translate }}</mat-option>
                <mat-option value="false">{{ 'GLOBAL.INACTIVE' | translate }}</mat-option>
              </mat-select>
              <mat-hint align="start">
                <strong>{{ 'GLOBAL.FILTER' | translate }}</strong> {{ 'GLOBAL.BY_STATUS' | translate
                }}
              </mat-hint>
            </mat-form-field>
          </div>
          <div class="col-md-2 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid" appearance="fill">
              <mat-label>{{ 'TABLE.SEARCH' | translate }}</mat-label>
              <input matInput placeholder="{{ 'TABLE.SEARCH' | translate }}" #searchInput placeholder="Search">
              <mat-hint align="start">
                <strong>{{ 'TABLE.SEARCH' | translate }}</strong> {{ 'TABLE.IN_ALL_FIELDS' | translate }}
              </mat-hint>
            </mat-form-field>
          </div>

        </div>
      </div>
      <!-- end::FILTERS -->
    </div>
    <!-- end::FILTERS & GROUP ACTIONS -->

    <!-- MATERIAL TABLE | Binded to datasources -->
    <div class="mat-table-wrapper">
      <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource" matSort #sort1="matSort"
                 matSortActive="firstName"
                 matSortDirection="asc" matSortDisableClear>
        <!-- Checkbox Column -->

        <ng-container matColumnDef="first_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header translate="CONTACT.TABLE.NAME">Name</mat-header-cell>
          <mat-cell *matCellDef="let contact" class="clickable" matTooltip="View"
                    (dblclick)="editContact(contact.id)">{{ getFullName(contact) }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="phone">
          <mat-header-cell *matHeaderCellDef translate="CONTACT.TABLE.PHONE">Phone</mat-header-cell>
          <mat-cell *matCellDef="let contact" class="phone-hyper-style">{{formatPhone(contact.cell_phone)}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef class="email-cell" mat-sort-header translate="CONTACT.TABLE.EMAIL">Email
          </mat-header-cell>
          <mat-cell class="email-cell" *matCellDef="let contact">{{ contact.email }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="entity_type">
          <mat-header-cell *matHeaderCellDef>Entity Type</mat-header-cell>
          <mat-cell *matCellDef="let contact" class="phone-hyper-style">
            <span style="width: 126px;">
              <span class="label label-{{getClassColor(contact.entity_type)}} label-dot mr-2"></span>
              <span style="font-size: 13px !important;" class="font-weight-bold text-{{getClassColor(contact.entity_type)}}">{{getTextEntity(contact)}}</span>
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="is_active">
          <mat-header-cell *matHeaderCellDef mat-sort-header translate="CONTACT.TABLE.STATUS">Status</mat-header-cell>
          <mat-cell *matCellDef="let contact">
            <span
              class="label label-lg label-light-{{ getItemCssClassByStatus(contact.is_active) }} label-inline">{{  getItemStatusString(contact.is_active) }}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef translate="TABLE.ACTIONS">Actions</mat-header-cell>
          <mat-cell *matCellDef="let contact">
              <button color="primary" matTooltip="Edit Contact" (click)="editContact(contact.id)"
                      class="btn btn-icon btn-light btn-hover-primary btn-sm  mr-1 margin-2">
                <span class="svg-icon svg-icon-md svg-icon-primary">
                  <span inlineSVG="./assets/media/svg/icons/General/edit_icon.svg"></span>
                </span>
              </button>
            <ng-template ngxPermissionsOnly="canActivateContact">
              <button color="warning" matTooltip="Activate/Deactivate Contact" (click)="updateStatusForContact(contact)"
                      class="btn btn-icon btn-light btn-hover-warning btn-sm margin-2">
                <span class="svg-icon svg-icon-md svg-icon-warning">
                  <span inlineSVG="./assets/media/svg/icons/General/update_icon2.svg"></span>
                </span>
              </button>
            </ng-template>
            <ng-template ngxPermissionsOnly="canSoftDeleteContact">
              <button color="danger" matTooltip="Delete Contact" (click)="deleteContact(contact)"
                      class="btn btn-icon btn-light btn-hover-danger btn-sm margin-2">
                <span class="svg-icon svg-icon-md svg-icon-danger">
                  <span inlineSVG="./assets/media/svg/icons/General/delete_icon.svg"></span>
                </span>
              </button>
            </ng-template>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns" class="sticky-header"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <!-- Message for empty data  -->
      <div class="mat-table-message" *ngIf="!dataSource.hasItems" translate="GLOBAL.NO_RECORDS_FOUND">No Records Found
      </div>
      <div class="mat-table-message" *ngIf="dataSource.isPreloadTextViewed$ | async" translate="GLOBAL.PLEASE_WAIT">
        Please Wait...
      </div>
    </div>

    <!-- start: BOTTOM -->
    <div class="mat-table-bottom">
      <!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
      <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
      <!-- MATERIAL PAGINATOR | Binded to dasources -->
      <!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [length]="dataSource.paginatorTotal$ | async"
                     [showFirstLastButtons]="true"></mat-paginator>
    </div>
    <!-- end: BOTTOM -->
  </kt-portlet-body>
  <!-- end::Body -->

</kt-portlet>
