<kt-portlet>
  <kt-portlet-header [class]="'card-head-lg'" [viewLoading$]="dataSource.loading$">
    <!-- PORTLET LOADING | Binded to TABLE Datasource -->

    <ng-container ktPortletTitle>
      <span translate="TEMPLATE.TEMPLATES_LIST">Task Template List</span>
    </ng-container>

    <ng-container ktPortletTools>
      <div *ngIf="!isReadOnly">
        <button (click)="addTemplate()" mat-raised-button matTooltip="Create new template" color="primary"
                type="button">
            <span class="svg-icon-md" translate="TEMPLATE.NEW_TEMPLATE">
              <span inlineSVG="./assets/media/svg/icons/General/add_circle_icon.svg"></span>
              New Template
            </span>
        </button>
      </div>
    </ng-container>
  </kt-portlet-header>
  <!-- end::Header -->

  <kt-portlet-body>
    <div class="form mb-3">
      <!-- start::FILTERS -->
      <div class="form-filtration">
        <div class="row align-items-center">
          <div class="col-md-2 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid" appearance="fill">
              <mat-label>{{ 'TABLE.SEARCH' | translate }}</mat-label>
              <input matInput placeholder="{{ 'TABLE.SEARCH' | translate }}" #searchInput placeholder="Search">
              <mat-hint align="start">
                <strong>{{ 'TABLE.SEARCH' | translate }}</strong> {{ 'TABLE.IN_ALL_FIELDS' | translate }}
              </mat-hint>
            </mat-form-field>
          </div>
          <div class="col-md-2 kt-margin-bottom-10-mobile">
            <mat-form-field appearance="fill" class="mat-form-field-fluid">
              <mat-label>Team</mat-label>
              <mat-select [(value)]="categoryId" (selectionChange)="loadTemplatesList(true)">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let category of categoryList" [value]="category.id">
                  {{category.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>

    <div class="mat-table-wrapper">
      <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource" matSort #sort1="matSort" matSortActive="id"
                 matSortDirection="desc" matSortDisableClear>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef translate="TEMPLATE.NAME">Name</mat-header-cell>
          <mat-cell *matCellDef="let template" (dblclick)="viewTemplate(template)" class="clickable"
                    matTooltip="View">{{ template.name }}</mat-cell>
        </ng-container>


        <ng-container matColumnDef="category_id">
          <mat-header-cell *matHeaderCellDef translate="TEMPLATE.CATEGORY">Team</mat-header-cell>
          <mat-cell *matCellDef="let template">{{ getCategory(template.category_id) }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef translate="TABLE.ACTIONS">Actions</mat-header-cell>
          <mat-cell *matCellDef="let template">
            <button *ngIf="isViewMode" color="success" matTooltip="{{ 'TABLE.VIEW' | translate }}"
                    (click)="updateTemplate(template)"
                    class="btn btn-icon btn-light btn-hover-success btn-sm margin-2">
								<span class="svg-icon svg-icon-md svg-icon-success">
									<span inlineSVG="./assets/media/svg/icons/General/visible.svg"></span>
								</span>
            </button>
            <button *ngIf="!isViewMode" color="primary" matTooltip="Edit Template" (click)="updateTemplate(template)"
                    class="btn btn-icon btn-light btn-hover-primary btn-sm margin-2">
                <span class="svg-icon svg-icon-md svg-icon-primary">
                  <span inlineSVG="./assets/media/svg/icons/General/edit_icon.svg"></span>
                </span>
            </button>
            <button *ngIf="!isViewMode" color="danger" matTooltip="Delete Template" (click)="deleteTemplate(template)"
                    class="btn btn-icon btn-light btn-hover-danger btn-sm margin-2">
                <span class="svg-icon svg-icon-md svg-icon-danger">
                  <span inlineSVG="./assets/media/svg/icons/General/delete_icon.svg"></span>
                </span>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns" class="sticky-header"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <!-- Message for empty data  -->
      <div class="mat-table-message" *ngIf="!dataSource.hasItems" translate="GLOBAL.NO_RECORDS_FOUND">No Records Found
      </div>
      <div class="mat-table-message" *ngIf="dataSource.isPreloadTextViewed$ | async" translate="GLOBAL.PLEASE_WAIT">
        Please Wait...
      </div>
    </div>

    <!-- start: BOTTOM -->
    <div class="mat-table-bottom">
      <!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
      <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
      <!-- MATERIAL PAGINATOR | Binded to dasources -->
      <!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [length]="dataSource.paginatorTotal$ | async"
                     [showFirstLastButtons]="true"></mat-paginator>
    </div>
    <!-- end: BOTTOM -->
  </kt-portlet-body>
  <!-- end::Body -->

</kt-portlet>
