<!--begin::Notifications-->
<ng-template ngxPermissionsOnly="canSendMessage">
  <div ngbDropdown placement="bottom-right" autoClose="outside" class="dropdown dropdown-fluid">
    <!--begin::Toggle-->
    <div ngbDropdownToggle class="topbar-item" (click)="toggleBadgeVisibility()">
      <ng-container *ngIf="useSVG">
        <div class="btn btn-icon btn-clean btn-dropdown btn-lg mr-1 pulse pulse-primary">
          <span class="svg-icon svg-icon-xl svg-icon-primary" [inlineSVG]="icon"></span>
          <!--        <span  matBadge="'count'" matBadgeSize="small" [matBadgeHidden]="hidden" matBadgeColor="warn"></span>-->
          <span *ngIf="!hidden" class="pulse-ring bg-danger border-danger"></span>
        </div>
      </ng-container>
      <ng-container *ngIf="!useSVG">
        <i [ngClass]="icon"></i>
      </ng-container>
    </div>
    <!--end::Toggle-->

    <!--begin::Dropdown-->
    <div ngbDropdownMenu class="dropdown-menu p-0 m-0 dropdown-menu-right dropdown-menu-anim-up dropdown-menu-lg show">
      <form>
        <!--begin::Header-->
        <div class="d-flex flex-column pt-10 bp-10 bgi-size-cover bgi-no-repeat rounded-top"
             style="background-color: #00aaff;">
          <!-- [ngStyle]="{'background-image': backGroundStyle() }" -->
          <!--begin::Title-->
          <h4 class="d-flex flex-center rounded-top">
            <span class="text-white">User Notifications</span>
            <!-- <span class="btn btn-text btn-success btn-sm font-weight-bold btn-font-md ml-2">23 new</span> -->
          </h4>
          <!--end::Title-->
          <!--begin::Tabs-->
          <ul ktTabClickEvent
              class="nav nav-bold nav-tabs nav-tabs-line nav-tabs-line-3x nav-tabs-line-transparent-white nav-tabs-line-active-border-success mt-2 px-6"
              role="tablist">
            <li class="nav-item">
              <a (click)="tab.select('tab-id-1')" class="nav-link active show" data-toggle="tab" role="tab"
                 aria-selected="true">Messages</a>
            </li>
            <!-- <li class="nav-item">
              <a (click)="tab.select('tab-id-2')" class="nav-link" data-toggle="tab" href="javascript:;"
                role="tab" aria-selected="false">Events</a>
            </li>
            <li class="nav-item">
              <a (click)="tab.select('tab-id-3')" class="nav-link" data-toggle="tab" href="javascript:;"
                role="tab" aria-selected="false">Logs</a>
            </li> -->
          </ul>
          <!--end::Tabs-->
        </div>
        <!--end::Header-->

        <ngb-tabset #tab="ngbTabset" class="tab-content">

          <ngb-tab id="tab-id-1">
            <ng-template ngbTabContent>
              <div *ngIf="notifications.length!==0" [perfectScrollbar]="{wheelPropagation :false}"
                   class="navi navi-hover scroll"
                   [ngStyle]="{'height': '300px', 'position': 'relative','overflow': 'auto' }"
                   (scroll)="onScroll($event)">
                <!--begin::Nav-->
                <a class="navi-item" *ngFor="let item of notifications">
                  <div class="navi-link" (click)="viewMessage(item)">
                    <div class="navi-icon mr-2">
										<span class="svg-icon svg-icon-xl svg-icon-primary"
                          [inlineSVG]="getItem(item.is_completed)"></span>
                    </div>
                    <div class="navi-text">
                      <div class="font-weight-bold">
                        {{item.sender_name}}
                      </div>
                      <div class="text-muted" style="text-overflow: ellipsis; overflow: hidden;
										white-space: nowrap; width: 95%; ">{{item.body | slice:0:55}}</div>
                      <div class="text-muted" style="font-size: x-small; ">
                        {{getDate(item.created) | date: 'MM-dd hh:mm a'}}</div>
                    </div>
                  </div>
                </a>


                <!--end::Nav-->
              </div>
              <div *ngIf="notifications.length===0" class="d-flex flex-center text-center text-muted"
                   style="min-height: 200px;">
                All caught up!
                <br/>No new notifications.
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab id="tab-id-3">
            <ng-template ngbTabContent>
              <div class="d-flex flex-center text-center text-muted" style="min-height: 200px;">
                All caught up!
                <br/>No new notifications.
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </form>
    </div>
    <!--end::Dropdown-->
  </div>
</ng-template>
<!--end::Notifications-->
