<kt-portlet>
  <!-- PORTLET LOADING | Binded to TABLE Datasource -->
  <!-- See prop => '~/core/_crud/models/data-sources/_base.datasource.ts' (loading$) -->
  <kt-portlet-header [class]="'card-head-lg'" [viewLoading$]="dataSource.loading$">

    <ng-container ktPortletTitle>
      <span translate="ROLES.ROLES_LIST">Role List</span>
    </ng-container>

    <ng-container ktPortletTools>
      <div>
        <ng-template ngxPermissionsOnly="canAddRole">
          <button (click)="addRole()" mat-raised-button matTooltip="Create new role" color="primary" type="button">
            <span class="svg-icon-md" translate="ROLES.NEW_ROLE">
              <span inlineSVG="./assets/media/svg/icons/General/add_circle_icon.svg"></span>
              Create Role
            </span>
          </button>
        </ng-template>
      </div>
    </ng-container>
  </kt-portlet-header>
  <!-- end::Header -->

  <kt-portlet-body>
    <!-- start::FILTERS & GROUP ACTIONS -->
    <div class="form kt-margin-b-30">
      <!-- start::FILTERS -->
      <div class="form-filtration">
        <div class="row align-items-center">
          <div class="col-md-2 kt-margin-bottom-10-mobile">
            <mat-form-field appearance="fill" class="mat-form-field-fluid">
              <input matInput placeholder="Search user" #searchInput placeholder="Search">
              <mat-hint align="start">
                <strong translate="GLOBAL.SEARCH">Search</strong><span translate="GLOBAL.IN_ALL_FIELDS">In All Fields</span>
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
      <!-- end::FILTERS -->

      <!-- start::GROUP ACTIONS -->
      <!-- Group actions list: 'Delete selected' | 'Fetch selected' | 'Update status for selected' -->
      <!-- Group actions are shared for all LISTS -->
      <div class="row align-items-center collapse form-group-actions kt-margin-top-20 kt-margin-bottom-20" [ngClass]="{'show' : selection.selected.length > 0}">
        <!-- We show 'Group Actions' div if smth are selected -->
        <div class="col-xl-12">
          <div class="form-group form-group-inline">
            <div class="form-label form-label-no-wrap">
              <label class="font-bold font-danger">
                <span translate="GLOBAL.SELECTED_RECORDS_COUNT">Selected records count: </span>
                {{ selection.selected.length }}
              </label>
              <!-- selectedCountsTitle => function from codeBehind (roles-list.component.ts file) -->
              <!-- selectedCountsTitle => just returns title of selected items count -->
              <!-- for example: Selected records count: 4 -->
            </div>
            <div>
              <ng-template ngxPermissionsOnly="canSoftDeleteRole">
                <button (click)="deleteRoles()" mat-raised-button color="warn" matTooltip="Delete selected roles" class="mat-button-mt-4">
                  <mat-icon>delete</mat-icon>
                  <span translate="GLOBAL.DELETE_ALL">Delete All</span>
                </button>
              </ng-template>&nbsp;
              <button (click)="fetchRoles()" mat-raised-button matTooltip="Fetch selected roles" class="mat-button-mt-4">
                <mat-icon>clear_all</mat-icon>
                <span translate="GLOBAL.FETCH_SELECTED">Fetch Selected</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- end::GROUP ACTIONS -->
    </div>
    <!-- end::FILTERS & GROUP ACTIONS -->

    <!-- MATERIAL TABLE | Binded to datasources -->
    <!-- See off.documentations 'https://material.angular.io/components/table/overview' -->
    <div class="mat-table-wrapper">
      <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource" matSort #sort1="matSort" matSortActive="id" matSortDirection="asc" matSortDisableClear>
        <!-- Checkbox Column -->

        <!-- Table with selection -->
        <!-- https://run.stackblitz.com/api/angular/v1?file=app%2Ftable-selection-example.ts -->
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="mat-column-checkbox">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef mat-sort-header translate="ROLES.TABLE.TITLE">Title</mat-header-cell>
          <mat-cell *matCellDef="let role">{{role.title}}</mat-cell>
        </ng-container>

        <ng-container *ngIf="isSuperAdmin" matColumnDef="company">
          <mat-header-cell *matHeaderCellDef mat-sort-header translate="ROLES.TABLE.COMPANY">Company</mat-header-cell>
          <mat-cell *matCellDef="let role">{{getCompanyName(role.companyID)}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef translate="TABLE.ACTIONS">Actions</mat-header-cell>
          <mat-cell *matCellDef="let role">
            <ng-template ngxPermissionsOnly="canEditRole">
              <button color="primary" matTooltip="Edit Role" (click)="editRole(role)" class="btn btn-icon btn-light btn-hover-primary btn-sm margin-2">
                <span class="svg-icon svg-icon-md svg-icon-primary">
                  <span inlineSVG="./assets/media/svg/icons/General/edit_icon.svg"></span>
                </span>
              </button>
            </ng-template>
            <ng-template ngxPermissionsOnly="canSoftDeleteRole">
              <button color="danger" matTooltip="Delete Role" (click)="deleteRole(role)" class="btn btn-icon btn-light btn-hover-danger btn-sm margin-2">
                <span class="svg-icon svg-icon-md svg-icon-danger">
                  <span inlineSVG="./assets/media/svg/icons/General/delete_icon.svg"></span>
                </span>
              </button>
            </ng-template>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns" class="sticky-header"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>

      <div class="mat-table-message" *ngIf="!dataSource.hasItems" translate="GLOBAL.NO_RECORDS_FOUND">No Records Found</div>
      <div class="mat-table-message" *ngIf="dataSource.isPreloadTextViewed$ | async" translate="GLOBAL.PLEASE_WAIT">Please Wait...</div>
    </div>

    <!-- start: BOTTOM -->
    <div class="mat-table__bottom">
      <!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
      <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
      <!-- MATERIAL PAGINATOR | Binded to dasources -->
      <!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
    </div>
    <!-- end: BOTTOM -->
  </kt-portlet-body>
  <!-- end::Body -->
</kt-portlet>
