:host {
	::ng-deep {
		.loading-bar {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;

			.progress-bar {
				// brand color
				background-color: #00aaff;
			}
		}

		.topbar-item {
			height: 100%;
		}

		@media (min-width: 1025px) {
			.topbar, .topbar-item-wrapper {
				height: 100%;
			}
		}
	}
}

