.workflow-inprogress {
  background-color: lightblue;
}


.workflow-pending {
  background-color: #d1d1d1;

}

.workflow-ready {
  background-color: lightgreen;

}

.workflow-review {
  background-color: #DDBDF1;

}

.workflow-card {
  margin-top: 8px;
}

.svg-icon {
  cursor: pointer;
  padding-right: 10px;
}

.warning-icon {
  display: flex;
  align-items: center;
}

.lock-overlay{
  overflow: hidden;
  position: absolute; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: rgb(0, 0, 0); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .3s
}

.overlay-content{
  color: #ffdea3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lock-overlay:hover{
  opacity: .25;
}

.overlay-icon .material-icons{
  font-size: 3em !important;
  max-width: 50%;
}

.pin{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0px;
  position: absolute;
  z-index: 1;
  top: -1px;
  right: 8px;
  min-height: 34px;
}


.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

::ng-deep .mat-tooltip {
  white-space: pre-line;
}

.date {
  position: absolute;
  top: 16px;
  left: -5px;
  height: 11px;
  width: 27px;
  background: #c7c5c5;
  font-size: 9px;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  border-radius: 3px;
  padding-left: 1px;
}

.no-task {
  display: flex;
  justify-content: center;
  padding-top: 12%;
  height: 400px;
}

.xyloading {
  display: flex;
  justify-content: center;
  padding-top: 1%;
  height: 44px;
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 43px;
}

.header-item {
  padding-right: 5px;
  font-weight: 600;
  color: #b5b5c3!important;
  font-size: .9rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.displayInline{
  display: inline-block;
}
.text-weight-bold{
  font-weight: 600;
}
.border-right{
  border-right: 1px solid #bcbdc3 !important;
}
.header-title-workflow{
  font-weight: 500;
  font-size: 1.2rem;
}
.workflow-status{
  color: #00aaff;
  background-color: #e1f0ff;
  padding: 5%;
  border-radius: 6px;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  text-overflow: ellipsis;
}
