<div class="card card-custom">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label" translate>Calendar</h3>
    </div>
    <ng-template ngxPermissionsOnly="canViewOtherUsersTasks">
      <div class="card-toolbar">
        <div>
          <button class="mr-2" mat-button color="{{isMyTasks? 'primary': ''}}" (click)="fetchMyTasks()">My Tasks</button>
        </div>
        <div>
          <button  class="mr-2" mat-button color="{{isFollowing? 'primary': ''}}" (click)="fetchFollowingTasks()">Following</button>
        </div>
        <div class="btn-group">
          <button class="btn btn-sm btn-clean mr-2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
            FILTER
            <i class="ml-2 ki ki-arrow-down text-primary"></i>
          </button>
          <div class="dropdown-menu p-5 dropdown-menu-right dropdown-menu-anim-up dropdown-menu-lg"
               aria-labelledby="dropdownMenuButton" (click)="$event.stopPropagation()">
            <kt-general-autocomplete
              [label]="'User'"
              [loadItemsFunction]="searchUsers"
              [optionFormatter]="displayFn"
              [valueFormatter]="displayFnSelected"
              [required]="false"
              [readOnly]="false"
              [control]="userCtrl"
              [change]="userSelected.bind(this)"
              [placeholder]="'Search User'"
              [dataPath]="'data'"
              [appearance]="'standard'"
              #userAutocomplete
            ></kt-general-autocomplete>
            <kt-general-autocomplete
              [label]="'Entity'"
              [loadItemsFunction]="entityAutocompleteCall"
              [optionFormatter]="displayEntity"
              [valueFormatter]="displayEntitySelected"
              [required]="false"
              [readOnly]="false"
              [control]="entity"
              [change]="entitySelected.bind(this)"
              [placeholder]="'Search Entity'"
              [dataPath]="'data'"
              [appearance]="'standard'"
            ></kt-general-autocomplete>
            <mat-form-field appearance="standard" class="mat-form-field-fluid">
              <mat-label>Category</mat-label>
              <mat-select [(value)]="categoryId" (selectionChange)="loadTasks()">
                <mat-option>None</mat-option>
                <mat-option value="without">Without Category</mat-option>
                <mat-option *ngFor="let category of categoryList" [value]="category.id">
                  {{category.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <kt-general-autocomplete
              [label]="'Template'"
              [loadItemsFunction]="this.loadTemplatesList.bind(this)"
              [optionFormatter]="displayTemplate"
              [valueFormatter]="displayTemplateSelected"
              [required]="false"
              [readOnly]="false"
              [control]="template"
              [change]="onTemplateChange.bind(this)"
              [placeholder]="'Search Template'"
              [dataPath]="'data'"
              [appearance]="'standard'"
            ></kt-general-autocomplete>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
  <div class="navi-hover scroll card-body " [perfectScrollbar]="{wheelPropagation :false}">
    <full-calendar [options]="calendarOptions"></full-calendar>
  </div>
  <div class="card-footer">
    <div class="d-flex justify-content-between">
      <div class="mr-2"></div>
      <div>
        <button (click)="close()" type="button" mat-raised-button cdkFocusInitial matTooltip="Cancel">
          <span translate="GLOBAL.CLOSE">Close</span>
        </button>
      </div>
    </div>
  </div>
</div>
