<div class="card card-custom">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">{{getTitle()}}</h3>
    </div>
  </div>
  <form class="form" [formGroup]="entityForm">
    <div class="card-body">
      <div class="form-group row">
        <div class="col kt-margin-bottom-20-mobile">
          <mat-form-field appearance="fill" class="mat-form-field-fluid">
            <mat-label>Entity name</mat-label>
            <input matInput formControlName="name"/>
            <mat-error *ngIf="entityForm.controls['name'].hasError('required')">
              <span>Entity name is required</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="form-group row">
        <div class="col kt-margin-bottom-20-mobile">
          <json-editor [options]="editorOptions" formControlName="schema"></json-editor>
          <ng-container *ngIf="editor && editor.isFocused">
            <mat-error *ngIf="entityForm.controls['schema'].hasError('required')">
              <span>Schema is required</span>
            </mat-error>
            <mat-error *ngIf="!editor.isValidJson()">
              <span>Enter a valid schema</span>
            </mat-error>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="card-footer p-4">
      <div class="d-flex justify-content-between">
        <div class="mr-2"></div>
        <div>
          <button type="button" mat-raised-button mat-dialog-close cdkFocusInitial matTooltip="Cancel" class="mr-3">
            <span translate="GLOBAL.CANCEL">Cancel</span>
          </button>
          <button type="button" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="viewLoading"
                  matTooltip="Save changes">
            <span translate="GLOBAL.SAVE">Save</span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
