<!-- begin:: Header Topbar -->
<ng-container *ngIf="user$ | async as _user">
  <ng-container *ngIf="_user && _user.userName && _user.userName !== 'super_admin'">
    <ng-container *ngIf="searchDisplay">
      <!--begin: Search -->
      <ng-container>
        <div>
          <ng-template ngxPermissionsOnly="canSearchGeneral">
            <kt-search-dropdown [icon]="'./assets/media/svg/icons/General/Search.svg'"
                                [useSVG]="true"></kt-search-dropdown>
          </ng-template>
        </div>
      </ng-container>
      <!--end: Search -->
    </ng-container>

  </ng-container>
  <ng-container *ngIf="_user && _user.userName && _user.userName !== 'super_admin'">
    <!--begin: Notifications -->
    <kt-notification [bgImage]="'./assets/media/misc/bg-1.jpg'" [pulse]="true" [skin]="'dark'"
                     [icon]="'./assets/media/svg/icons/General/Notifications1.svg'" [useSVG]="true"></kt-notification>
    <!--end: Notifications -->
  </ng-container>
  <ng-template ngxPermissionsOnly="canViewCalender">
    <div class="topbar-item">
      <div class="btn btn-icon btn-clean btn-dropdown btn-lg mr-1 pulse pulse-primary" (click)="openCalendar()">
        <span class="svg-icon svg-icon-xl svg-icon-primary original"
              [inlineSVG]="'./assets/media/svg/icons/General/calendar_today.svg'"></span>
        <div class="symbol-label overlay">
          <a>{{currentDate}}</a>
        </div>
      </div>
    </div>

  </ng-template>
  <ng-template ngxPermissionsOnly="communication">
    <kt-quick-action [bgImage]="'./assets/media/misc/bg-2.jpg'" [skin]="'dark'"
                     [icon]="'./assets/media/svg/icons/Layout/Layout-4-blocks.svg'" [useSVG]="true"></kt-quick-action>
  </ng-template>
  <ng-container *ngIf="userDisplay">
    <ng-container *ngIf="userLayout === 'dropdown'">
      <kt-user-profile [userDropdownStyle]="userDropdownStyle"></kt-user-profile>
    </ng-container>
    <ng-container *ngIf="userLayout === 'offcanvas'">
      <!--begin: User bar -->
      <kt-user-profile4></kt-user-profile4>
      <!--end: User bar -->
    </ng-container>
  </ng-container>
</ng-container>
<!-- end:: Header Topbar -->
