:host {
	::ng-deep {
		// override default version style
		.topbar {
			> :last-child:not([role="tooltip"]) {
				.topbar-item {
					margin-right: 0 !important;
				}
			}
			.topbar-item {
				margin-right: 0.36rem !important;
			}
		}
	}
}
.topbar-item {
  margin-right: 0.36rem !important;
}
.overlay{
  //width: 10px;
  //height: 10px;
  //z-index: -1;
  //position:absolute;
  top: 5%;
  //left: 29%;
}
.original{
  top: 19%;
  left: 19%;
  z-index: 1;
  position:absolute;
}
