<div class="card card-custom" [ngClass]="{ 'card-body-progress card-body-progress-overlay' : viewLoading }">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">{{getTitle()}}</h3>
    </div>
  </div>
  <form class="form" [formGroup]="workflowActionsForm">
    <div class="navi-hover scroll card-body" [perfectScrollbar]="{wheelPropagation :false}">
      <div class="card-body-progress">
        <mat-spinner [diameter]="20"></mat-spinner>
      </div>
      <kt-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true" (close)="onAlertClose()">
        <span translate="GLOBAL.FORM_ERROR"></span>
      </kt-alert>
      <div class="form-group row">
        <div class="col-lg-6 kt-margin-bottom-20-mobile">
          <mat-form-field appearance="fill" class="mat-form-field-fluid">
            <mat-label translate="WORKFLOW.INPUT.NAME">Name</mat-label>
            <input matInput formControlName="name" />
            <mat-error *ngIf="workflowActionsForm.controls['name'].hasError('required')">
              <span translate="WORKFLOW.FORM.NAME">Name is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6 kt-margin-bottom-20-mobile">
          <mat-form-field appearance="fill" class="mat-form-field-fluid">
            <mat-label translate="WORKFLOW.INPUT.STATUS">Status</mat-label>
            <mat-select formControlName="status">
              <mat-option disabled hidden>-</mat-option>
              <mat-option *ngFor="let stat of filteredStatus" [value]="stat.status">{{stat.status}}</mat-option>
            </mat-select>
            <mat-error *ngIf="workflowActionsForm.controls['status'].hasError('required')">
              <span translate="WORKFLOW.FORM.STATUS">Status is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6 kt-margin-bottom-20-mobile">
          <kt-general-autocomplete
            [label]="'Action'"
            [loadItemsFunction]="actionAutocompleteCall"
            [optionFormatter]="displayAction"
            [valueFormatter]="displayAction"
            [required]="false"
            [readOnly]="false"
            [control] = "workflowActionsForm.get('action')"
            [change]="onActionChange.bind(this)"
            [dataPath]="'data'"
            [placeholder]="''"
            #actionAutocomplete
          ></kt-general-autocomplete>
        </div>

        <div class="col-lg-6 kt-margin-bottom-20-mobile">
          <kt-general-autocomplete
            [label]="'Form'"
            [loadItemsFunction]="formAutocompleteCall"
            [optionFormatter]="displayForm"
            [valueFormatter]="displayForm"
            [required]="true"
            [readOnly]="false"
            [control] = "workflowActionsForm.get('form')"
            [change]="onFormChange.bind(this)"
            [dataPath]="'data'"
            [placeholder]="''"
            #formAutocomplete
          ></kt-general-autocomplete>
        </div>
        <div class="col-lg-12 kt-margin-bottom-20-mobile">
          <kt-general-autocomplete [appearance]="'fill'" [label]="'APIs'" [loadItemsFunction]="apiAutocompleteCall"
                                   [optionFormatter]="displayApi" [valueFormatter]="displayApi" [required]="false"
                                   [readOnly]="false" [control]="workflowActionsForm.get('apis')" [change]="onApiChange.bind(this)"
                                   [dataPath]="'data'" [placeholder]="'Select APIs'" [formatNewObjectFn]="formatNewApiFn" [chipList]="true"
                                   [objects]="workflowActionsForm.get('apis').value" #apiAutocomplete></kt-general-autocomplete>
        </div>
        <div class="col-lg-12 kt-margin-bottom-20-mobile">
          <mat-form-field appearance="fill" class="mat-form-field-fluid">
            <mat-label translate="WORKFLOW.INPUT.DESCRIPTION">Description</mat-label>
            <textarea matInput formControlName="description" rows="8"></textarea>
            <mat-error *ngIf="workflowActionsForm.controls['description'].hasError('required')">
              <span translate="WORKFLOW.FORM.DESCRIPTION">Description is required</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-between">
        <div class="mr-2"></div>
        <div>
          <button type="button" mat-raised-button [mat-dialog-close]="data.animal" cdkFocusInitial matTooltip="Cancel changes">
            <span translate="GLOBAL.CANCEL">Cancel</span>
          </button>&nbsp;
          <button type="button" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="viewLoading" matTooltip="Save changes">
            <span translate="GLOBAL.SAVE">Save</span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
