<div class="card card-custom" [ngClass]="{ 'card-body-progress card-body-progress-overlay' : viewLoading }">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label" translate>{{ 'MESSAGE.INPUT.INFO' | translate }}</h3>
        </div>
    </div>
    <div class="card-body">

        <div class="card-body-progress">
            <mat-spinner [diameter]="20"></mat-spinner>
        </div>
        <dl class="row">
          <div class="col-sm-6">
            <div class=" col-sm-12 row">


                <dt class="col-sm-6 py-2">{{ 'MESSAGE.INPUT.SENDER' | translate }}</dt>
                <dd class="col-sm-6 py-2">{{message.sender_name}}</dd>

                <dt class="col-sm-6 py-2">{{ 'MESSAGE.INPUT.TEXT' | translate }}</dt>
                <dd class="col-sm-6 py-2">{{message.body}}</dd>



            </div>
          </div>
            <div class="col-sm-6">

                <dt class="col-sm-12 py-2">{{ 'MESSAGE.INPUT.FILE' | translate }}</dt>
                <dd class="col-sm-12 py-2"><kt-attachments-list [data]="attachmentData"></kt-attachments-list></dd>

            </div>

        </dl>
    </div>
    <div class="card-footer">
        <div class="d-flex justify-content-between">
            <div class="mr-2"></div>
            <div>
                <button mat-button mat-dialog-close>{{ 'TABLE.CLOSE' | translate }}</button>
            </div>
        </div>
    </div>
</div>
