<!--begin::Sticky Toolbar-->
<ul class="sticky-toolbar nav flex-column pl-2 pr-2 pt-3 pb-3 mt-4">
  <ng-template ngxPermissionsOnly="canAddTask">
    <li class="nav-item mb-2" data-toggle="tooltip" data-placement="left" ngbTooltip="New task">
      <a class="btn btn-sm btn-icon btn-bg-light btn-icon-warning btn-hover-warning" (click)="createTask()">
        <i class="flaticon2-notepad"></i>
      </a>
    </li>
  </ng-template>
  <ng-template ngxPermissionsOnly="accessToChatModule">
    <li class="nav-item mb-2" data-toggle="tooltip" data-placement="left" ngbTooltip="Start chat">
      <a class="btn btn-sm btn-icon btn-bg-light btn-icon-danger btn-hover-danger" [routerLink]="['/timeline/chat']">
        <i class="flaticon2-chat-1"></i>
      </a>
    </li>
  </ng-template>
</ul>
