<kt-portlet>
  <kt-portlet-header title="{{ 'TABLE.WORKFLOW_ACTIONS_LIST' | translate }}" [class]="'card-head-lg'" [viewLoading$]="dataSource.loading$">
    <ng-container ktPortletTools>
      <div>
        <ng-template ngxPermissionsOnly="canAddWorkflow">
          <a [routerLink]="['/events/event-workflows']" class="btn btn-secondary mr-2" mat-raised-button matTooltip="{{ 'AUTH.INPUT.BACK'| translate }}">
            <span class="hidden-mobile"> {{ 'AUTH.INPUT.BACK'| translate }}</span>
          </a>
        </ng-template>
        &nbsp;
        <ng-template ngxPermissionsOnly="canAddWorkflow">
          <button (click)="addWorkflowAction()" mat-raised-button matTooltip="Create new action" color="primary" type="button">
            <span inlineSVG="./assets/media/svg/icons/General/add_circle_icon.svg"></span>
            {{ 'TABLE.ADD_WORKFLOW_ACTION' | translate }}
          </button>
        </ng-template>
        &nbsp;
      </div>
    </ng-container>
  </kt-portlet-header>
  <!-- end::Header -->
  <!-- start::Body (attribute: ktPortletBody) -->
  <kt-portlet-body>
    <!-- start::FILTERS & GROUP ACTIONS -->
    <div class="form kt-margin-b-30" hidden>
      <!-- start::FILTERS -->
      <div class="form-filtration">
        <div class="row align-items-center">
          <div class="col-md-2 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid" appearance="fill">
              <mat-label>{{ 'TABLE.SEARCH' | translate }}</mat-label>
              <input matInput placeholder="{{ 'TABLE.SEARCH' | translate }}" #searchInput placeholder="Search">
              <mat-hint align="start">
                <strong>{{ 'TABLE.SEARCH' | translate }}</strong>
                {{ 'TABLE.IN_ALL_FIELDS' | translate }}
              </mat-hint>
            </mat-form-field>
          </div>

        </div>
      </div>
    </div>
    <!-- end::FILTERS & GROUP ACTIONS -->
    <div class="mat-table-wrapper">
      <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource" matSort #sort1="matSort" matSortActive="id" matSortDirection="asc" matSortDisableClear>
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Id
          </mat-header-cell>
          <mat-cell (dblclick)="updateWorkflowAction(workflowAction)" *matCellDef="let workflowAction" class="clickable" matTooltip="double click to edit">
            {{workflowAction.id}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'WORKFLOW.INPUT.NAME' | translate }}
          </mat-header-cell>
          <mat-cell (dblclick)="updateWorkflowAction(workflowAction)" *matCellDef="let workflowAction" class="clickable" matTooltip="double click to edit">
            {{workflowAction.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="action_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'WORKFLOW.INPUT.ACTION' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let workflowAction">
            {{getActionName(workflowAction.action)}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="api_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'WORKFLOW.INPUT.API' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let workflowAction">
            <span >
            <span class=" pr-1 pl-1" *ngFor="let ent of workflowAction.apis;let i = index" [class.border-right]="i !== workflowAction.apis.length-1">{{ent.api_name}}</span>
          </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="form_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'WORKFLOW.INPUT.FORM' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let workflowAction">
            {{getFormName(workflowAction.form)}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'WORKFLOW.INPUT.DESCRIPTION' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let workflowAction">
            {{workflowAction.description}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'WORKFLOW.INPUT.STATUS' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let workflowAction">
            {{ workflowAction.status}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>{{ 'TABLE.ACTIONS' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let workflowAction; index as i;">
            <ng-template ngxPermissionsOnly="canEditWorkflow" *ngIf="i!==0">
              <button color="success" matTooltip="{{ 'TABLE.MAPPING' | translate }}"
                      (click)="mapDialog(workflowAction,i)"
                      class="btn btn-icon btn-light btn-hover-primary btn-sm margin-2">
								<span class="svg-icon svg-icon-primary svg-icon-2x">
                  <span inlineSVG="./assets/media/svg/icons/Layout/Layout-3d.svg"></span>
                </span>
              </button>
            </ng-template>
            <ng-template ngxPermissionsOnly="canEditWorkflow">
              <button color="primary" matTooltip="{{ 'TABLE.UPDATE' | translate }}" (click)="updateWorkflowAction(workflowAction)" class="btn btn-icon btn-light btn-hover-primary btn-sm margin-2">
                <span class="svg-icon svg-icon-md svg-icon-primary">
                  <span inlineSVG="./assets/media/svg/icons/General/edit_icon.svg"></span>
                </span>
              </button>
            </ng-template>

            <ng-template ngxPermissionsOnly="canSoftDeleteWorkflow">
              <button color="danger" matTooltip="{{ 'TABLE.DELETE' | translate }}" (click)="deleteWorkflowAction(workflowAction)" class="btn btn-icon btn-light btn-hover-danger btn-sm margin-2">
                <span class="svg-icon svg-icon-md svg-icon-danger">
                  <span inlineSVG="./assets/media/svg/icons/General/delete_icon.svg"></span>
                </span>
              </button>
            </ng-template>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <div class="mat-table__message" *ngIf="noItem">{{ 'TABLE.NO_RECORDS' | translate }}</div>
      <div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">
        {{ 'TABLE.PLAESE_WAIT' | translate }}</div>
    </div>
    <div class="mat-table__bottom">
      <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
      <mat-paginator [pageSize]="100" [pageSizeOptions]="[3, 5, 10]" [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true" hidden></mat-paginator>
    </div>
  </kt-portlet-body>
  <!-- end::Body -->
</kt-portlet>
