<div class="card card-custom">
  <div class="card-header card-header-tabs-line">
    <div class="card-title">
      <h3 class="card-label">{{data.title}}</h3>
    </div>
  </div>
  <div class="form">
    <div class="card-body">
      <formio [form]="data.schema" (change)="onChangeLeftSide($event)"></formio>
  </div>
    <div class="card-footer">
      <div class="d-flex justify-content-between">
        <div class="mr-2"></div>
        <div>
          <button type="button" mat-raised-button (click)="onNoClick()">Cancel</button>
          &nbsp;
          <button type="button" mat-raised-button color="primary" (click)="onSubmit()"
                  matTooltip="Save changes">
            <span translate="GLOBAL.SAVE">Save</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
