<kt-portlet>
  <kt-portlet-header [class]="'card-head-lg'" [viewLoading$]="dataSource.loading$">
    <ng-container ktPortletTitle>
      <span translate="INBOX.INBOX">Inbox</span>
    </ng-container>
    <ng-container ktPortletTools>

    </ng-container>
  </kt-portlet-header>
  <!-- end::Header -->

  <kt-portlet-body>
    <!-- start::FILTERS & GROUP ACTIONS -->
    <div class="form mb-3">
      <!-- start::FILTERS -->
      <div class="form-filtration">
        <div class="row align-items-center">
          <div class="col-md-2 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid" appearance="fill">
              <mat-label>{{ 'INBOX.TYPE' | translate }}</mat-label>
              <mat-select [(value)]="filterType" (selectionChange)="paginator.firstPage();loadInbox()"
                          placeholder="{{ 'INBOX.TYPE' | translate }}">
                <mat-option value="">{{ 'GLOBAL.ALL' | translate }}</mat-option>
                <mat-option value="EMAIL">Email</mat-option>
                <mat-option value="FAX">Fax</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-2 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid" appearance="fill">
              <mat-label>{{ 'INBOX.FROM_DATE' | translate }}</mat-label>
              <input matInput [matDatepicker]="fromPicker" [formControl]="fromDate"
                     (dateChange)="paginator.firstPage();loadInbox()" [matDatepickerFilter]='startFilter.bind(parent)'>
              <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
              <mat-datepicker #fromPicker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-2 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid" appearance="fill">
              <mat-label>{{ 'INBOX.TO_DATE' | translate }}</mat-label>
              <input matInput [matDatepicker]="toPicker" [formControl]="toDate"
                     (dateChange)="paginator.firstPage();loadInbox()" [matDatepickerFilter]='toFilter.bind(parent)'>
              <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
              <mat-datepicker #toPicker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-2 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid" appearance="fill">
              <mat-label>{{ 'INBOX.DOMAIN' | translate }}</mat-label>
              <input matInput (keyup)="paginator.firstPage();loadInbox()" placeholder="{{ 'TABLE.SEARCH' | translate }}" #searchInput placeholder="Search">
            </mat-form-field>
          </div>
        </div>
      </div>
      <!-- end::FILTERS -->
    </div>
    <!-- end::FILTERS & GROUP ACTIONS -->

    <!-- MATERIAL TABLE | Binded to datasources -->
    <div class="mat-table-wrapper">
      <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource" matSort #sort1="matSort"
                 matSortActive="created"
                 matSortDirection="desc" matSortDisableClear>
        <!-- Checkbox Column -->

        <ng-container matColumnDef="created">
          <mat-header-cell *matHeaderCellDef mat-sort-header translate="INBOX.DATE">Date</mat-header-cell>
          <mat-cell *matCellDef="let inboxItem">{{ inboxItem.created | date:'MM-dd-yy  h:mm a'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef mat-sort-header translate="INBOX.TYPE">Type</mat-header-cell>
          <mat-cell *matCellDef="let inboxItem">{{ inboxItem.type | uppercase }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="sender_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header translate="INBOX.FROM">From</mat-header-cell>
          <mat-cell *matCellDef="let inboxItem">
            <span style="width: 200px;">
                <div class="font-weight-bolder font-size-lg mb-0">{{ inboxItem.sender_name }}</div>
                <div *ngIf="inboxItem.domain_name" class="font-weight-bold text-muted">Domain: {{ inboxItem.domain_name }}</div>
            </span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header translate="INBOX.STATUS">Status</mat-header-cell>
          <mat-cell *matCellDef="let inboxItem">
            <span
              class="label label-lg label-light-{{ getItemCssClassByStatus(inboxItem.status) }} label-inline">{{ getItemTextByStatus(inboxItem.status) }}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef translate="TABLE.ACTIONS">Actions</mat-header-cell>
          <mat-cell *matCellDef="let inboxItem">

            <button color="success" matTooltip="View Contact" (click)="viewMail(inboxItem)"
                    [disabled]="inboxItem.locked && user.userName != inboxItem.locked_by"
                    class="btn btn-icon btn-light btn-hover-success btn-sm ">
              <span class="svg-icon svg-icon-md svg-icon-success">
                <span inlineSVG="./assets/media/svg/icons/General/visible.svg"></span>
              </span>
            </button>
            <button *ngIf="inboxItem.locked && user.userName != inboxItem.locked_by" color="primary"
                    matTooltip="Locked by {{inboxItem.locked_by}} click to unlock" (click)="unlockInbox(inboxItem)"
                    class="btn btn-icon btn-light btn-hover-danger btn-sm ml-4 "
                    style="margin-right: 5px; background-color: unset; border: unset">
                <span class="material-icons">
                  lock
                </span>
            </button>

            <button  color="success" matTooltip="View Task" *ngIf="inboxItem.task"
                     (click)="createTask(inboxItem)" class="btn btn-icon btn-light  btn-hover-success btn-sm margin-2">
              <span class="svg-icon svg-icon-success svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2020-12-10-081610/theme/html/demo1/dist/../src/media/svg/icons/Communication/Clipboard-check.svg--><svg
                xmlns="http://www.w3.org/2000/svg"
                width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <rect x="0" y="0" width="24" height="24"/>
        <path
          d="M8,3 L8,3.5 C8,4.32842712 8.67157288,5 9.5,5 L14.5,5 C15.3284271,5 16,4.32842712 16,3.5 L16,3 L18,3 C19.1045695,3 20,3.8954305 20,5 L20,21 C20,22.1045695 19.1045695,23 18,23 L6,23 C4.8954305,23 4,22.1045695 4,21 L4,5 C4,3.8954305 4.8954305,3 6,3 L8,3 Z"
          fill="#000000" opacity="0.3"/>
        <path
          d="M10.875,15.75 C10.6354167,15.75 10.3958333,15.6541667 10.2041667,15.4625 L8.2875,13.5458333 C7.90416667,13.1625 7.90416667,12.5875 8.2875,12.2041667 C8.67083333,11.8208333 9.29375,11.8208333 9.62916667,12.2041667 L10.875,13.45 L14.0375,10.2875 C14.4208333,9.90416667 14.9958333,9.90416667 15.3791667,10.2875 C15.7625,10.6708333 15.7625,11.2458333 15.3791667,11.6291667 L11.5458333,15.4625 C11.3541667,15.6541667 11.1145833,15.75 10.875,15.75 Z"
          fill="#000000"/>
        <path
          d="M11,2 C11,1.44771525 11.4477153,1 12,1 C12.5522847,1 13,1.44771525 13,2 L14.5,2 C14.7761424,2 15,2.22385763 15,2.5 L15,3.5 C15,3.77614237 14.7761424,4 14.5,4 L9.5,4 C9.22385763,4 9,3.77614237 9,3.5 L9,2.5 C9,2.22385763 9.22385763,2 9.5,2 L11,2 Z"
          fill="#000000"/>
    </g>
</svg><!--end::Svg Icon--></span>
            </button>

            <button  color="warning" matTooltip="Create Task" *ngIf="!inboxItem.task"
                     (click)="createTask(inboxItem)" class="btn btn-icon btn-light  btn-hover-warning btn-sm margin-2">
              <span class="svg-icon svg-icon-warning svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2020-12-10-081610/theme/html/demo1/dist/../src/media/svg/icons/Communication/Clipboard-check.svg--><svg
                xmlns="http://www.w3.org/2000/svg"
                width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <rect x="0" y="0" width="24" height="24"/>
        <path
          d="M8,3 L8,3.5 C8,4.32842712 8.67157288,5 9.5,5 L14.5,5 C15.3284271,5 16,4.32842712 16,3.5 L16,3 L18,3 C19.1045695,3 20,3.8954305 20,5 L20,21 C20,22.1045695 19.1045695,23 18,23 L6,23 C4.8954305,23 4,22.1045695 4,21 L4,5 C4,3.8954305 4.8954305,3 6,3 L8,3 Z"
          fill="#000000" opacity="0.3"/>
        <path
          d="M10.875,15.75 C10.6354167,15.75 10.3958333,15.6541667 10.2041667,15.4625 L8.2875,13.5458333 C7.90416667,13.1625 7.90416667,12.5875 8.2875,12.2041667 C8.67083333,11.8208333 9.29375,11.8208333 9.62916667,12.2041667 L10.875,13.45 L14.0375,10.2875 C14.4208333,9.90416667 14.9958333,9.90416667 15.3791667,10.2875 C15.7625,10.6708333 15.7625,11.2458333 15.3791667,11.6291667 L11.5458333,15.4625 C11.3541667,15.6541667 11.1145833,15.75 10.875,15.75 Z"
          fill="#000000"/>
        <path
          d="M11,2 C11,1.44771525 11.4477153,1 12,1 C12.5522847,1 13,1.44771525 13,2 L14.5,2 C14.7761424,2 15,2.22385763 15,2.5 L15,3.5 C15,3.77614237 14.7761424,4 14.5,4 L9.5,4 C9.22385763,4 9,3.77614237 9,3.5 L9,2.5 C9,2.22385763 9.22385763,2 9.5,2 L11,2 Z"
          fill="#000000"/>
    </g>
</svg><!--end::Svg Icon--></span>
            </button>

          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns" class="sticky-header"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

      </mat-table>
      <!-- Message for empty data  -->
      <div class="mat-table-message" *ngIf="!dataSource.hasItems" translate="GLOBAL.NO_RECORDS_FOUND">No Records Found
      </div>
      <div class="mat-table-message" *ngIf="dataSource.isPreloadTextViewed$ | async" translate="GLOBAL.PLEASE_WAIT">
        Please Wait...
      </div>
    </div>

    <!-- start: BOTTOM -->
    <div class="mat-table-bottom">
      <!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
      <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
      <!-- MATERIAL PAGINATOR | Binded to dasources -->
      <!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [length]="dataSource.paginatorTotal$ | async"
                     [showFirstLastButtons]="true"></mat-paginator>
    </div>
    <!-- end: BOTTOM -->
  </kt-portlet-body>
  <!-- end::Body -->

</kt-portlet>
