.locked{
  overflow: hidden;
  position: absolute; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .7;
  background-color: #b5b5b5; /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: opacity .3s
}

.locked:hover{
  //opacity: .25;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.hide{
  display: none;
}

.overlay-icon{
  position: absolute;
  left: calc(50% - 10px);
  top: calc(50% - 10px);
  z-index: 5;
  cursor: pointer;
}
