<div class="card card-custom"
     [ngClass]="{ 'card-body-progress card-body-progress-overlay' : viewLoading }">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label" translate>{{getTitle()}}</h3>
    </div>
  </div>
  <form class="form" [formGroup]="officeForm">
    <div class="navi-hover scroll card-body" [perfectScrollbar]="{wheelPropagation :false}">

      <div class="card-body-progress">
        <mat-spinner [diameter]="20"></mat-spinner>
      </div>

      <kt-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true"
                (close)="onAlertClose($event)">
        <span translate="GLOBAL.FORM_ERROR"></span>
      </kt-alert>

      <kt-alert *ngIf="hasSubmissionErrors && !hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true"
                (close)="onAlertClose($event)">
        <ul>
          <li *ngFor="let msg of submissionErrorObj">{{msg.message | translate}}</li>
        </ul>
      </kt-alert>

      <mat-tab-group>
        <mat-tab label="Main Details">
          <div class="form-group row">
            <div class="col-lg-12 kt-margin-bottom-20-mobile">
              <mat-form-field appearance="fill" class="mat-form-field-fluid">
                <mat-label translate="OFFICE.FORM.NAME">Name</mat-label>
                <input matInput formControlName="name"/>
                <mat-error *ngIf="officeForm.controls['name'].hasError('required')">
                  <span translate="OFFICE.FORM.NAME_REQUIRED">Name is required</span>
                </mat-error>
              </mat-form-field>
            </div>


            <div class="col-lg-12 kt-margin-bottom-20-mobile">
              <mat-form-field appearance="fill" class="mat-form-field-fluid">
                <mat-label translate="OFFICE.FORM.PHONE">Phone</mat-label>
                <input matInput type="tel" formControlName="phone" maxlength="14" appPhoneMask>
                <mat-error *ngIf="isControlHasError('phone', 'required')">
                  Phone is required
                </mat-error>
                <mat-error *ngIf="isControlHasError('phone', 'pattern')">
                  Phone is invalid
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-lg-12 kt-margin-bottom-20-mobile">
              <mat-form-field appearance="fill" class="mat-form-field-fluid">
                <mat-label translate="OFFICE.FORM.FAX">Fax</mat-label>
                <input matInput type="tel" formControlName="fax" maxlength="14" appPhoneMask>
                <mat-error *ngIf="isControlHasError('fax', 'required')">
                  Fax is required
                </mat-error>
                <mat-error *ngIf="isControlHasError('fax', 'pattern')">
                  Fax is invalid
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-lg-12 kt-margin-bottom-20-mobile">
              <mat-form-field appearance="fill" class="mat-form-field-fluid">
                <mat-label translate="OFFICE.FORM.ADDRESS">Address</mat-label>
                <textarea matInput formControlName="address"></textarea>
                <mat-error *ngIf="officeForm.controls['address'].hasError('required')">
                  <span translate="OFFICE.FORM.ADDRESS_REQUIRED">Address is required</span>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-lg-12 kt-margin-bottom-20-mobile" style="padding-left: 30px">
              <mat-label class="row" translate="OFFICE.FORM.STATUS">Office Status</mat-label>
              <mat-slide-toggle class="row mt-2 mr-2" formControlName="isActive"></mat-slide-toggle>
              <mat-hint align="start">
                <strong>{{ getStatusString() }}</strong>
              </mat-hint>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Settings">
          <div class="form-group row">
            <div class="col-lg-12 kt-margin-bottom-20-mobile">
              <mat-form-field appearance="fill" class="mat-form-field-fluid">
                <mat-label translate="OFFICE.FORM.PREFIX">Prefix</mat-label>
                <textarea matInput placeholder="Enter Phone Prefix" formControlName="prefix"></textarea>
              </mat-form-field>
            </div>
            <div class="col-lg-12 kt-margin-bottom-20-mobile">
              <mat-form-field appearance="fill" class="mat-form-field-fluid">
                <mat-label translate="OFFICE.FORM.SUFFIX">Suffix</mat-label>
                <textarea matInput placeholder="Enter Phone Suffix" formControlName="suffix"></textarea>
              </mat-form-field>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-between">
        <div class="mr-2"></div>
        <div>
          <button type="button" mat-raised-button [mat-dialog-close]="data.animal" cdkFocusInitial
                  matTooltip="Cancel changes">
            <span translate="GLOBAL.CANCEL">Cancel</span>
          </button>&nbsp;
          <button type="button" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="viewLoading"
                  matTooltip="Save changes">
            <span translate="GLOBAL.SAVE">Save</span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
