<kt-portlet>
  <kt-portlet-header [title]="getComponentTitle()" [class]="'card-head-lg'" [viewLoading$]="loading$">
    <ng-container ktPortletTools>
      <div id="upload_button" *ngIf="user && !user.id" class="mr-2" style="display: inline-block;padding-top: 7px;">
        <span class="mr-2">
          <i class="flaticon2-cross" style="font-size:12px" *ngIf="file.length>0" (click)="resetFileInput()"></i>
          {{attachments[0]}}
        </span>
        <label>
          <input #fileInput type="file" name="attachments" (change)="onFileChange($event)" style="display:none;">
          <span class="btn btn-secondary mat-raised-button" matTooltip="upload profile picture">Upload picture</span>
        </label>
      </div>
      <a [routerLink]="['/user-management/users']" class="btn btn-secondary mr-2" mat-raised-button
         *ngIf="currentUserRoleType != 'User'"
         matTooltip="{{ 'AUTH.INPUT.BACK'| translate }}">
        <i class="la la-arrow-left"></i>
        <span class="hidden-mobile"> {{ 'AUTH.INPUT.BACK'| translate }}</span>
      </a>

      <a href="javascript:;" class="btn btn-primary mr-2" color="primary" (click)="onSumbit(true)" mat-raised-button
         matTooltip="Save & Continue">
        <span class="hidden-mobile"> {{ 'AUTH.INPUT.SAVE'| translate }}</span>
      </a>
    </ng-container>
  </kt-portlet-header>

  <kt-portlet-body>
    <mat-tab-group [(selectedIndex)]="selectedTab">
      <mat-tab>
        <ng-template mat-tab-label>
          <i class="mat-tab-label-icon fa fa-user"></i>
          {{ 'AUTH.INPUT.BASIC_INFO'| translate }}
        </ng-template>
        <ng-template matTabContent>
          <mat-spinner *ngIf="formnotloaded"></mat-spinner>

          <!--begin::Form-->
          <div *ngIf="user">
            <form [formGroup]="userForm" class="form form-group-seperator-dashed">
              <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
                        (close)="onAlertClose($event)">
                {{ "AUTH.VALIDATION.INVALID_OR_REQUIRED" | translate }}
              </kt-alert>
              <kt-alert *ngIf="hasSubmissionErrors && !hasFormErrors" type="warn" [duration]="30000"
                        [showCloseButton]="true" (close)="onAlertClose($event)">
                <ul>
                  <li *ngFor="let msg of submissionErrorObj">{{msg.message | translate}}</li>
                </ul>
              </kt-alert>
              <div class="form-section form-section-first">
                <div class="form-group row">
                  <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid" appearance="fill">
                      <mat-label>{{ "USER.INPUT.FIRST_NAME" | translate }}</mat-label>
                      <input matInput placeholder="First name" formControlName="firstName"/>
                      <mat-error>{{ "USER.INPUT.FIRST_NAME" | translate }}
                        <strong>{{ "AUTH.VALIDATION.REQUIRED" | translate }}</strong>
                      </mat-error>

                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid" appearance="fill">
                      <mat-label>{{ "USER.INPUT.LAST_NAME" | translate }}</mat-label>
                      <input matInput placeholder="Last name" formControlName="lastName"/>
                      <mat-error>{{ "USER.INPUT.LAST_NAME" | translate }}
                        <strong>{{ "AUTH.VALIDATION.REQUIRED" | translate }}</strong>
                      </mat-error>

                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 kt-margin-bottom-20-mobile">

                  </div>
                  <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid" appearance="fill">
                      <mat-label>{{ "USER.INPUT.USERNAME" | translate }}</mat-label>
                      <input matInput placeholder="Username" formControlName="userName"/>
                      <mat-error>{{ "USER.INPUT.USERNAME" | translate }}
                        <strong>{{ "AUTH.VALIDATION.REQUIRED" | translate }}</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid" appearance="fill">
                      <mat-label>{{ "USER.INPUT.EMAIL" | translate }}</mat-label>
                      <input type="email" matInput placeholder="Enter Email" formControlName="email"/>
                      <mat-error>{{ "USER.INPUT.EMAIL" | translate }}
                        <strong>{{ "AUTH.VALIDATION.REQUIRED" | translate }}</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 kt-margin-bottom-20-mobile"></div>

                  <div class="col-lg-4 kt-margin-bottom-20-mobile"
                       *ngIf="currentUserRoleType === 'Super Admin' && !user.id">
                    <mat-form-field class="mat-form-field-fluid" appearance="fill">
                      <mat-label>{{ "USER.INPUT.COMPANY" | translate }}</mat-label>
                      <mat-select formControlName="company">
                        <mat-option *ngFor="let company of companies" [value]="company.id">
                          {{company.name}}
                        </mat-option>
                      </mat-select>
                      <mat-error>{{ "USER.INPUT.COMPANY" | translate }}
                        <strong>{{ "AUTH.VALIDATION.REQUIRED" | translate }}</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 kt-margin-bottom-20-mobile" *ngIf="currentUserRoleType == 'Super Admin'"></div>
                  <div class="col-lg-4 kt-margin-bottom-20-mobile" *ngIf="currentUserRoleType == 'Admin'">
                    <mat-form-field class="mat-form-field-fluid" appearance="fill">
                      <mat-label>{{ "USER.INPUT.PRIMARY_OFFICE" | translate }}</mat-label>
                      <mat-select formControlName="primaryOffice">
                        <mat-option *ngFor="let office of offices" [value]="office.id">
                          {{office.name}}
                        </mat-option>
                      </mat-select>
                      <mat-error>{{ "USER.INPUT.PRIMARY_OFFICE" | translate }}
                        <strong>{{ "AUTH.VALIDATION.REQUIRED" | translate }}</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 kt-margin-bottom-20-mobile" *ngIf="currentUserRoleType == 'Admin'">
                    <mat-form-field class="mat-form-field-fluid" appearance="fill">
                      <mat-label>{{ "USER.INPUT.ALLOWED_OFFICES" | translate }}</mat-label>
                      <mat-select formControlName="allowedOffices" multiple>
                        <mat-option *ngFor="let office of offices" [value]="office.id">
                          {{office.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 kt-margin-bottom-20-mobile"></div>
                  <div class="col-lg-4 kt-margin-bottom-20-mobile" *ngIf="!user.id">
                    <mat-form-field class="mat-form-field-fluid" appearance="fill">
                      <mat-label>{{ "USER.INPUT.PASSWORD" | translate }}</mat-label>
                      <input matInput placeholder="Enter password" formControlName="password" type="password"/>
                      <mat-error *ngIf="isControlHasError('password', 'required')">
                        <strong>{{ "AUTH.VALIDATION.REQUIRED_FIELD" | translate }}</strong>
                      </mat-error>
                      <mat-error *ngIf="isControlHasError('password', 'pattern')">
                        <strong>{{ "AUTH.VALIDATION.PATTERN_PASSWORD" | translate }} </strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 kt-margin-bottom-20-mobile" *ngIf="!user.id">
                    <mat-form-field class="mat-form-field-fluid" appearance="fill">
                      <mat-label>{{ "USER.INPUT.CONFIRM_PASSWORD" | translate }}</mat-label>
                      <input matInput placeholder="Enter password" formControlName="confirmPassword" type="password"/>
                      <mat-error *ngIf="isControlHasError('confirmPassword', 'required')">
                        <strong>{{ "AUTH.VALIDATION.REQUIRED_FIELD" | translate }}</strong>
                      </mat-error>
                      <mat-error *ngIf="f.confirmPassword.invalid">
                        <strong>{{ "AUTH.VALIDATION.NOT_MATCH" | translate }} </strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-11 kt-margin-bottom-20-mobile" style="padding-left: 30px"
                       *ngIf="currentUserRoleType == 'Admin' && pathUserId == currentUserId">
                    <mat-label class="row">{{ "USER.INPUT.STATUS" | translate }}</mat-label>
                    <mat-slide-toggle class="row mt-2 mr-2" formControlName="isActive"></mat-slide-toggle>
                    <mat-hint align="start">
                      <strong>{{ getStatusString() }}</strong>
                    </mat-hint>
                  </div>


                  <div class="col-lg-11 kt-margin-bottom-20-mobile" *ngIf="currentUserId == pathUserId">
                    <button mat-button (click)="connectionFunction(isConnected(),AuthServer.GOOGLE)" color="primary"
                            [disabled]="disableBtn">
                      <span *ngIf="!user.inboxActivated" class="svg-icon svg-icon-2x"
                            inlineSVG="./assets/media/svg/logos/google-icon.svg"></span> {{getText(user.inboxActivated,AuthServer.GOOGLE)}}
                    </button>

                    <button *ngIf="!user.inboxActivated" mat-button (click)="connectionFunction(isConnected(),AuthServer.MICROSOFT)" color="primary"
                            [disabled]="disableBtn">
                      <span class="svg-icon svg-icon-2x"
                            inlineSVG="./assets/media/svg/logos/microsoft-5.svg"></span> {{getText(user.inboxActivated,AuthServer.MICROSOFT)}}
                    </button>

                  </div>
                </div>
              </div>
            </form>
          </div>
          <!--end::Form-->
        </ng-template>
      </mat-tab>
      <mat-tab *ngIf="currentUserRoleType == 'Admin' && formcreated && (loggedInUser.id != pathUserId)">

        <ng-template mat-tab-label>
          <i class="mat-tab-label-icon fa fa-unlock"></i>
          {{ "USER.INPUT.ROLE" | translate }}
        </ng-template>
        <ng-template matTabContent>
          <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
                    (close)="onAlertClose($event)">
            {{ "AUTH.VALIDATION.INVALID_OR_REQUIRED" | translate }}
          </kt-alert>
          <kt-alert *ngIf="hasSubmissionErrors && !hasFormErrors" type="warn" [duration]="30000"
                    [showCloseButton]="true" (close)="onAlertClose($event)">
            <ul>
              <li *ngFor="let msg of submissionErrorObj">{{msg.message | translate}}</li>
            </ul>
          </kt-alert>
          <kt-user-roles-list [(rolesSubject)]="rolesSubject"></kt-user-roles-list>
        </ng-template>
      </mat-tab>
      <mat-tab *ngIf="user && user.id" [disabled]="!user || !user.id">
        <ng-template mat-tab-label>
          <i class="mat-tab-label-icon fa fa-exchange-alt"></i>
          {{ "AUTH.INPUT.CHANGE_PASS" | translate }}
        </ng-template>
        <ng-template matTabContent>
          <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
                    (close)="onAlertClose($event)">
            {{ "AUTH.VALIDATION.INVALID_OR_REQUIRED" | translate }}
          </kt-alert>
          <kt-alert *ngIf="hasSubmissionErrors && !hasFormErrors" type="warn" [duration]="30000"
                    [showCloseButton]="true" (close)="onAlertClose($event)">
            <ul>
              <li *ngFor="let msg of submissionErrorObj">{{msg.message | translate}}</li>
            </ul>
          </kt-alert>
          <kt-change-password [userId]="user.id"></kt-change-password>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </kt-portlet-body>
</kt-portlet>
