<kt-portlet>
  <kt-portlet-header title="{{ 'TABLE.EVENT_LIST' | translate }}" [class]="'card-head-lg'" [viewLoading$]="dataSource.loading$">
    <ng-container ktPortletTools>
      <div>
         <ng-template ngxPermissionsOnly="canAddEvent">
        <button (click)="addEvent()" mat-raised-button matTooltip="Create new Event"
                color="primary" type="button">
						<span class="svg-icon-md" translate>
							<span inlineSVG="./assets/media/svg/icons/General/add_circle_icon.svg"></span>
              {{ 'TABLE.ADD_EVENT' | translate }}</span>
        </button>
         </ng-template>
        &nbsp;</div>
    </ng-container>
  </kt-portlet-header>
  <kt-portlet-body>
    <div class="form kt-margin-b-30">
      <!-- start::FILTERS -->
      <div class="form-filtration">
        <div class="row align-items-center">
          <div class="col-md-2 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid" appearance="fill">
              <mat-label>{{ 'TABLE.SEARCH' | translate }}</mat-label>
              <input matInput placeholder="{{ 'TABLE.SEARCH' | translate }}" #searchInput placeholder="Search">
              <mat-hint align="start">
                <strong>{{ 'TABLE.SEARCH' | translate }}</strong>
                {{ 'TABLE.IN_ALL_FIELDS' | translate }}
              </mat-hint>
            </mat-form-field>
          </div>
          <div class="col-md-2 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid" appearance="fill">
              <mat-label>{{ 'USER.INPUT.COMPANY' | translate }}</mat-label>
              <mat-select [(value)]="filterCompany" (selectionChange)="loadEventsList()"placeholder="{{ 'USER.INPUT.COMPANY' | translate }}">
                <mat-option disabled hidden></mat-option>
                <mat-option value="">All</mat-option>
                <mat-option *ngFor="let company of companies" [value]="company.id">
                  {{company.name}}
                </mat-option>
              </mat-select>
              <mat-hint align="start">
                <strong>{{ 'TABLE.FILTER' | translate }}</strong> {{ 'USER.INPUT.COMPANY' | translate }}
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="mat-table-wrapper">
      <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource" matSort #sort1="matSort"matSortActive="id" matSortDirection="asc" matSortDisableClear>
        <ng-container matColumnDef="event_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'EVENT.INPUT.NAME' | translate }}
          </mat-header-cell>
          <mat-cell (dblclick)="updateEvent(event)" *matCellDef="let event" class="clickable"matTooltip="double click to edit">
            {{event.event_name}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="responsible">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'EVENT.INPUT.RESPONSIBLE' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let event" >
            {{event.responsible}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="due_date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'EVENT.INPUT.DUE_DATE' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let event" >
            {{event.due_date | date:'MM-dd-yy'}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="company_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'EVENT.INPUT.COMPANY_NAME' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let event">
            {{getCompanyName(event.company_id)}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'EVENT.INPUT.DESCRIPTION' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let event">
            {{event.description}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="visible_from_app">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'EVENT.INPUT.STATUS' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let event">
						<span
              class="label label-lg label-light-{{ getItemCssClassByStatus(event.visible_from_app) }} label-inline">{{  getItemStatusString(event.visible_from_app) }}</span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>{{ 'TABLE.ACTIONS' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let event">
             <ng-template ngxPermissionsOnly="canEditEvent">
            <button color="primary" matTooltip="{{ 'TABLE.UPDATE' | translate }}"
                    (click)="updateEvent(event)"
                    class="btn btn-icon btn-light btn-hover-primary btn-sm margin-2">
								<span class="svg-icon svg-icon-md svg-icon-primary">
									<span inlineSVG="./assets/media/svg/icons/General/edit_icon.svg"></span>
								</span>
            </button>
             </ng-template>

            <ng-template ngxPermissionsOnly="canSoftDeleteEvent">
              <button color="danger" matTooltip="{{ 'TABLE.DELETE' | translate }}"
                      (click)="deleteEvent(event)"
                      class="btn btn-icon btn-light btn-hover-danger btn-sm margin-2">
								<span class="svg-icon svg-icon-md svg-icon-danger">
									<span inlineSVG="./assets/media/svg/icons/General/delete_icon.svg"></span>
								</span>
              </button>
             </ng-template>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns" class="sticky-header"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <div class="mat-table__message" *ngIf="!dataSource.hasItems">{{ 'TABLE.NO_RECORDS' | translate }}</div>
      <!-- Message for empty data  -->
      <div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">
        {{ 'TABLE.PLAESE_WAIT' | translate }}</div>
    </div>
    <!-- start: BOTTOM -->
    <div class="mat-table__bottom">
      <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [length]="dataSource.paginatorTotal$ | async"
                     [showFirstLastButtons]="true"></mat-paginator>
    </div>
    <!-- end: BOTTOM -->
  </kt-portlet-body>
  <!-- end::Body -->
</kt-portlet>
