<div class="d-flex flex-column-fluid" style="margin-bottom:20px">
</div>
<div class="d-flex flex-column-fluid" style="margin-bottom:20px" *ngIf="tasks && tasks.length > 0">
  <div class="container-fluid" style="padding-right:0px;padding-left:0px">
    <div class="card card-custom">
      <div class="cursor-pointer card-header flex-wrap border-0 pt-6 pb-0" (click)="ToggleTable('Tasks')">
        <div class="card-title">
          <h3 class="card-label">
            <div class="d-flex align-items-center">
              <div class="symbol symbol-40 symbol-light-warning mr-4">
                <span class="symbol-label">
                    <span class="svg-icon svg-icon-lg svg-icon-warning">
                      <i class="mat-tab-label-icon fa fa-tasks text-warning mr-0"></i>
                    </span>
                  </span>
              </div>
              <div class="d-flex flex-column flex-grow-1">
                <a class="text-dark-75 mb-0 font-size-xl font-weight-bolder">
                  Tasks</a>
                <span class="text-muted mt-1 font-weight-bold font-size-sm">{{result.taskCount}} Task</span>
              </div>
            </div>
          </h3>
        </div>
        <div class="card-toolbar">
          <a class="btn btn-clean btn-hover-light-primary btn-sm btn-icon">
            <i class="ki ki-arrow-up" *ngIf="displayTasksTable "></i>
            <i class="ki ki-arrow-down" *ngIf="!displayTasksTable"></i>
          </a>
        </div>
      </div>
      <kt-task-list [inputTasks]="tasks" [term]="term" *ngIf="displayTasksTable"></kt-task-list>
    </div>
  </div>
</div>

<div class="d-flex flex-column-fluid" style="margin-top:20px" *ngIf="inboxes && inboxes.length > 0">
  <div class="container-fluid" style="padding-right:0px;padding-left:0px">
    <div class="card card-custom">
      <div class="cursor-pointer card-header flex-wrap border-0 pt-6 pb-0" (click)="ToggleTable('Inbox')">
        <div class="card-title">
          <h3 class="card-label">
            <div class="d-flex align-items-center">
              <div class="symbol symbol-40 symbol-light-danger mr-4">
                 <span class="symbol-label">
                    <span class="svg-icon svg-icon-lg svg-icon-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24px"
                             height="24px" viewBox="0 0 24 24" version="1.1">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <rect x="0" y="0" width="24" height="24"/>
                          <path
                            d="M5,6 L19,6 C20.1045695,6 21,6.8954305 21,8 L21,17 C21,18.1045695 20.1045695,19 19,19 L5,19 C3.8954305,19 3,18.1045695 3,17 L3,8 C3,6.8954305 3.8954305,6 5,6 Z M18.1444251,7.83964668 L12,11.1481833 L5.85557487,7.83964668 C5.4908718,7.6432681 5.03602525,7.77972206 4.83964668,8.14442513 C4.6432681,8.5091282 4.77972206,8.96397475 5.14442513,9.16035332 L11.6444251,12.6603533 C11.8664074,12.7798822 12.1335926,12.7798822 12.3555749,12.6603533 L18.8555749,9.16035332 C19.2202779,8.96397475 19.3567319,8.5091282 19.1603533,8.14442513 C18.9639747,7.77972206 18.5091282,7.6432681 18.1444251,7.83964668 Z"
                            fill="#000000"/>
                      </g>
            </svg>
                    </span>
                  </span>
              </div>
              <div class="d-flex flex-column flex-grow-1">
                <a class="text-dark-75 mb-0 font-size-xl font-weight-bolder">Inbox</a>
                <span class="text-muted mt-1 font-weight-bold font-size-sm">{{inboxes.length}} Result</span>
              </div>
            </div>
          </h3>
        </div>
        <div class="card-toolbar">
          <a class="btn btn-clean btn-hover-light-primary btn-sm btn-icon">
            <i class="ki ki-arrow-up" *ngIf="displayInboxTable "></i>
            <i class="ki ki-arrow-down" *ngIf="!displayInboxTable"></i>
          </a>
        </div>
      </div>
      <div class="card-body" *ngIf="displayInboxTable">
        <div class="mat-table-wrapper">
          <mat-table class="lmat-elevation-z8" #table [dataSource]="inboxes" matSort
                     matSortDirection="asc" matSortDisableClear>
            <ng-container matColumnDef="created">
              <mat-header-cell *matHeaderCellDef>Date
              </mat-header-cell>
              <mat-cell *matCellDef="let inb">
                <div class="ml-4">
                  <div class="text-dark-75 font-weight-bolder font-size-lg mb-0">
                    {{inb.created | date:'MM-dd-yy  h:mm a'}}</div>
                </div>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="sender_name">
              <mat-header-cell *matHeaderCellDef>From
              </mat-header-cell>
              <mat-cell *matCellDef="let inb">
                <div class="ml-4">
                  <div class="text-dark-75 font-weight-bolder font-size-lg mb-0">
                    {{inb.sender_name}}
                  </div>
                  <a class="text-muted font-weight-bold" *ngIf="inb.domain_name">Domain: {{inb.domain_name}}</a>
                </div>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="type">
              <mat-header-cell *matHeaderCellDef>Type
              </mat-header-cell>
              <mat-cell *matCellDef="let inb">
                <div>{{inb.type | uppercase}}</div>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef>Status
              </mat-header-cell>
              <mat-cell *matCellDef="let inb">
                <span
                  class="label label-lg label-light-{{ getItemCssClassByStatusInbox(inb.status) }} label-inline">
                  {{ getItemTextByStatusInbox(inb.status) }}</span>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
              <mat-cell *matCellDef="let inb">
                <button color="success" matTooltip="View Contact" (click)="viewMail(inb)"
                        class="btn btn-icon btn-light btn-hover-success btn-sm ">
              <span class="svg-icon svg-icon-md svg-icon-success">
                <span inlineSVG="./assets/media/svg/icons/General/visible.svg"></span>
              </span>
                </button>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedInboxColumns" class="sticky-header"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedInboxColumns"></mat-row>
          </mat-table>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="d-flex flex-column-fluid" style="margin-top:20px" *ngIf="emails && emails.length > 0">
  <div class="container-fluid" style="padding-right:0px;padding-left:0px">
    <div class="card card-custom">
      <div class="cursor-pointer card-header flex-wrap border-0 pt-6 pb-0" (click)="ToggleTable('Emails')">
        <div class="card-title">
          <h3 class="card-label">
            <div class="d-flex align-items-center">
              <div class="symbol symbol-40 symbol-light-primary mr-4">
                 <span class="symbol-label">
                    <span class="svg-icon svg-icon-lg svg-icon-primary mr-0">
                    <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect id="bound" x="0" y="0" width="24" height="24"></rect>
                        <path
                          d="M4,16 L5,16 C5.55228475,16 6,16.4477153 6,17 C6,17.5522847 5.55228475,18 5,18 L4,18 C3.44771525,18 3,17.5522847 3,17 C3,16.4477153 3.44771525,16 4,16 Z M1,11 L5,11 C5.55228475,11 6,11.4477153 6,12 C6,12.5522847 5.55228475,13 5,13 L1,13 C0.44771525,13 6.76353751e-17,12.5522847 0,12 C-6.76353751e-17,11.4477153 0.44771525,11 1,11 Z M3,6 L5,6 C5.55228475,6 6,6.44771525 6,7 C6,7.55228475 5.55228475,8 5,8 L3,8 C2.44771525,8 2,7.55228475 2,7 C2,6.44771525 2.44771525,6 3,6 Z"
                          id="Combined-Shape" fill="#000000" opacity="0.3"></path>
                        <path
                          d="M10,6 L22,6 C23.1045695,6 24,6.8954305 24,8 L24,16 C24,17.1045695 23.1045695,18 22,18 L10,18 C8.8954305,18 8,17.1045695 8,16 L8,8 C8,6.8954305 8.8954305,6 10,6 Z M21.0849395,8.0718316 L16,10.7185839 L10.9150605,8.0718316 C10.6132433,7.91473331 10.2368262,8.02389331 10.0743092,8.31564728 C9.91179228,8.60740125 10.0247174,8.9712679 10.3265346,9.12836619 L15.705737,11.9282847 C15.8894428,12.0239051 16.1105572,12.0239051 16.294263,11.9282847 L21.6734654,9.12836619 C21.9752826,8.9712679 22.0882077,8.60740125 21.9256908,8.31564728 C21.7631738,8.02389331 21.3867567,7.91473331 21.0849395,8.0718316 Z"
                          id="Combined-Shape" fill="#000000"></path>
                      </g>
                    </svg>
                    </span>
                  </span>
              </div>
              <div class="d-flex flex-column flex-grow-1">
                <a class="text-dark-75 mb-0 font-size-xl font-weight-bolder">Emails</a>
                <span class="text-muted mt-1 font-weight-bold font-size-sm">{{emails.length}} Email</span>
              </div>
            </div>
          </h3>
        </div>
        <div class="card-toolbar">
          <a class="btn btn-clean btn-hover-light-primary btn-sm btn-icon">
            <i class="ki ki-arrow-up" *ngIf="displayEmailsTable "></i>
            <i class="ki ki-arrow-down" *ngIf="!displayEmailsTable"></i>
          </a>
        </div>
      </div>
      <div class="card-body" *ngIf="displayEmailsTable">
        <div class="mat-table-wrapper">
          <mat-table class="lmat-elevation-z8" #table [dataSource]="emails" matSort
                     matSortDirection="asc" matSortDisableClear>
            <ng-container matColumnDef="subject">
              <mat-header-cell *matHeaderCellDef>Subject
              </mat-header-cell>
              <mat-cell *matCellDef="let email">
                <div class="ml-4">
                  <div class="text-dark-75 font-weight-bolder font-size-lg mb-0">
                    {{email.subject}}</div>
                </div>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="sender">
              <mat-header-cell *matHeaderCellDef>Sender
              </mat-header-cell>
              <mat-cell *matCellDef="let email">
                <div class="ml-4">
                  <div class="text-dark-75 font-weight-bolder font-size-lg mb-0">
                    {{email.sender_name}}
                  </div>
                  <a class="text-muted font-weight-bold" *ngIf="email.sender_type">Type: {{email.sender_type}}</a>
                </div>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="sender_email">
              <mat-header-cell *matHeaderCellDef>Sender Email
              </mat-header-cell>
              <mat-cell *matCellDef="let email">
                <div>{{email.sender_email}}</div>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="created_date">
              <mat-header-cell *matHeaderCellDef>Created Date
              </mat-header-cell>
              <mat-cell *matCellDef="let email">
                <div>{{email.created | date:'yyyy-MM-dd'}}</div>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedEmailsColumns" class="sticky-header"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedEmailsColumns"></mat-row>
          </mat-table>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="d-flex flex-column-fluid" style="margin-top:20px" *ngIf="projects && projects.length > 0">
  <div class="container-fluid" style="padding-right:0px;padding-left:0px">
    <div class="card card-custom">
      <div class="cursor-pointer card-header flex-wrap border-0 pt-6 pb-0" (click)="ToggleTable('Projects')">
        <div class="card-title">
          <h3 class="card-label">
            <div class="d-flex align-items-center">
              <div class="symbol symbol-40 symbol-light-info mr-4">
                 <span class="symbol-label">
                    <span class="svg-icon svg-icon-info svg-icon-lg">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                      height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <rect x="0" y="0" width="24" height="24"/>
                          <path
                            d="M5,8.6862915 L5,5 L8.6862915,5 L11.5857864,2.10050506 L14.4852814,5 L19,5 L19,9.51471863 L21.4852814,12 L19,14.4852814 L19,19 L14.4852814,19 L11.5857864,21.8994949 L8.6862915,19 L5,19 L5,15.3137085 L1.6862915,12 L5,8.6862915 Z M12,15 C13.6568542,15 15,13.6568542 15,12 C15,10.3431458 13.6568542,9 12,9 C10.3431458,9 9,10.3431458 9,12 C9,13.6568542 10.3431458,15 12,15 Z"
                            fill="#000000"/>
                        </g>
                      </svg>
                    </span>
                  </span>
              </div>
              <div class="d-flex flex-column flex-grow-1">
                <a class="text-dark-75 mb-0 font-size-xl font-weight-bolder">Projects</a>
                <span class="text-muted mt-1 font-weight-bold font-size-sm">{{projects.length}} Project</span>
              </div>
            </div>
          </h3>
        </div>
        <div class="card-toolbar">
          <a class="btn btn-clean btn-hover-light-primary btn-sm btn-icon">
            <i class="ki ki-arrow-up" *ngIf="displayProjectsTable "></i>
            <i class="ki ki-arrow-down" *ngIf="!displayProjectsTable"></i>
          </a>
        </div>
      </div>
      <div class="card-body" *ngIf="displayProjectsTable">
        <div class="mat-table-wrapper">
          <mat-table class="lmat-elevation-z8" #table [dataSource]="projects" matSort
                     matSortDirection="asc" matSortDisableClear>
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef>Name
              </mat-header-cell>
              <mat-cell *matCellDef="let project">
                <div class="ml-4">
                  <div class="text-dark-75 font-weight-bolder font-size-lg mb-0">
                    {{project.name}}</div>
                </div>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedProjectsColumns" class="sticky-header"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedProjectsColumns"></mat-row>
          </mat-table>
        </div>
      </div>
    </div>
  </div>
</div>
