:host {
  width: 100%;
	::ng-deep {
		ngb-tabset > .nav-tabs {
			display: none;
		}
	}
}

.mat-table-wrapper{
  max-height: 400px;
  overflow-y: auto;
}
.filter-buttons{
  margin-right: 10px;
  margin-left: 10px;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

.date-range-form-field{
  height: 15px;
  overflow: visible;
}
