<div class="card card-custom" [ngClass]="{ 'card-body-progress card-body-progress-overlay' : viewLoading }">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">{{getTitle()}}</h3>
    </div>
  </div>
  <form class="form" [formGroup]="eventForm">
    <div class="navi-hover scroll card-body" [perfectScrollbar]="{wheelPropagation :false}">
      <div class="card-body-progress">
        <mat-spinner [diameter]="20"></mat-spinner>
      </div>
      <kt-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true" (close)="onAlertClose($event)">
        <span translate="GLOBAL.FORM_ERROR"></span>
      </kt-alert>
      <div class="form-group row">
        <div class="col-lg-6 kt-margin-bottom-20-mobile">
          <mat-form-field appearance="fill" class="mat-form-field-fluid">
            <mat-label translate="EVENT.INPUT.NAME">Name</mat-label>
            <input matInput formControlName="event_name" />
            <mat-error *ngIf="eventForm.controls['event_name'].hasError('required')">
              <span translate="EVENT.FORM.NAME">Name is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6 kt-margin-bottom-20-mobile">
          <mat-form-field appearance="fill" class="mat-form-field-fluid">
            <mat-label translate="EVENT.INPUT.RESPONSIBLE">Event</mat-label>
            <input matInput formControlName="responsible" />
            <mat-error *ngIf="eventForm.controls['responsible'].hasError('required')">
              <span translate="EVENT.FORM.RESPONSIBLE">Responsible is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6 kt-margin-bottom-20-mobile">
          <mat-form-field appearance="fill" class="mat-form-field-fluid">
            <mat-label translate="EVENT.INPUT.COMPANY_NAME">Company</mat-label>
            <mat-select formControlName="company_id">
              <mat-option disabled hidden>-</mat-option>
              <mat-option *ngFor="let company of companies" [value]="company.id">
                {{company.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="eventForm.controls['company_id'].hasError('required')">
              <span translate="EVENT.FORM.COMPANY">Company is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6 kt-margin-bottom-20-mobile">
          <mat-form-field class="col kt-margin-bottom-20-mobile" appearance="fill">
            <mat-label translate="EVENT.INPUT.DUE_DATE">Due date</mat-label>
            <input required [owlDateTime]="dt1" matInput [owlDateTimeTrigger]="dt1" placeholder="Due date" class="clendar-btn" formControlName="due_date" readonly>
            <owl-date-time #dt1 pickerType="calendar"></owl-date-time>
            <mat-icon matSuffix>access_time</mat-icon>
            <mat-error *ngIf="eventForm.controls['due_date'].hasError('required')">
              <span translate="EVENT.FORM.DUE_DATE">Due date is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-12 kt-margin-bottom-20-mobile">
          <mat-form-field appearance="fill" class="mat-form-field-fluid">
            <mat-label translate="EVENT.INPUT.DESCRIPTION">Description</mat-label>
            <textarea matInput formControlName="description" rows="8"></textarea>
            <mat-error *ngIf="eventForm.controls['description'].hasError('required')">
              <span translate="EVENT.FORM.DESCRIPTION">Description is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-12 kt-margin-bottom-20-mobile" style="padding-left: 30px">
          <mat-label class="row" translate="EVENT.INPUT.STATUS">Event Status</mat-label>
          <mat-slide-toggle class="row mt-2 mr-2" formControlName="visible_from_app"></mat-slide-toggle>
          <mat-hint align="start">
            <strong>{{ getStatusString() }}</strong>
          </mat-hint>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-between">
        <div class="mr-2"></div>
        <div>
          <button type="button" mat-raised-button [mat-dialog-close]="data.animal" cdkFocusInitial matTooltip="Cancel changes">
            <span translate="GLOBAL.CANCEL">Cancel</span>
          </button>&nbsp;
          <button type="button" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="viewLoading" matTooltip="Save changes">
            <span translate="GLOBAL.SAVE">Save</span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
