<kt-portlet>
  <kt-portlet-header [class]="'card-head-lg'" [viewLoading$]="dataSource.loading$">
    <!-- PORTLET LOADING | Binded to TABLE Datasource -->

    <ng-container ktPortletTitle>
      <span translate>OFFICE.OFFICES_LIST</span>
    </ng-container>

    <ng-container ktPortletTools>
      <div>
      <ng-template ngxPermissionsOnly="canAddOffice">
        <button (click)="addOffice()" mat-raised-button matTooltip="Create new office" color="primary" type="button">
          <span class="svg-icon-md" translate>
            <span inlineSVG="./assets/media/svg/icons/General/add_circle_icon.svg"></span>
            OFFICE.NEW_OFFICE
          </span>
        </button>
      </ng-template>
    </div>
    </ng-container>
  </kt-portlet-header>
  <!-- end::Header -->

  <kt-portlet-body>
    <!-- start::FILTERS & GROUP ACTIONS -->
    <div class="form mb-3">
      <!-- start::FILTERS -->
      <div class="form-filtration">
        <div class="row align-items-center">
          <div class="col-md-2 kt-margin-bottom-10-mobile">
              <mat-form-field class="mat-form-field-fluid" appearance="fill">
                  <mat-label>{{ 'GLOBAL.STATUS' | translate }}</mat-label>
                  <mat-select [(value)]="filterStatus" (selectionChange)="loadOfficesList()" placeholder="{{ 'GLOBAL.STATUS' | translate }}">
                      <mat-option value="">{{ 'GLOBAL.ALL' | translate }}</mat-option>
                      <mat-option value="true">{{ 'GLOBAL.ACTIVE' | translate }}</mat-option>
                      <mat-option value="false">{{ 'GLOBAL.INACTIVE' | translate }}</mat-option>
                  </mat-select>
                  <mat-hint align="start">
                      <strong>{{ 'GLOBAL.FILTER' | translate }}</strong> {{ 'GLOBAL.BY_STATUS' | translate
                      }}
                  </mat-hint>
              </mat-form-field>
          </div>
          <div class="col-md-2 kt-margin-bottom-10-mobile">
              <mat-form-field class="mat-form-field-fluid" appearance="fill">
                  <mat-label>{{ 'TABLE.SEARCH' | translate }}</mat-label>
                  <input matInput placeholder="{{ 'TABLE.SEARCH' | translate }}" #searchInput placeholder="Search">
                  <mat-hint align="start">
                      <strong>{{ 'TABLE.SEARCH' | translate }}</strong> {{ 'TABLE.IN_ALL_FIELDS' | translate }}
                  </mat-hint>
              </mat-form-field>
          </div>

        </div>
      </div>
      <!-- end::FILTERS -->

      <!-- start::GROUP ACTIONS -->
      <!-- Group actions list: 'Delete selected' | 'Fetch selected' | 'Update status for selected' -->
      <!-- Group actions are shared for all LISTS | See '../../_shared' folder -->
      <div class="row align-items-center collapse form-group-actions kt-margin-top-20 kt-margin-bottom-20" [ngClass]="{'show' : selection.selected.length > 0}">
        <!-- We show 'Group Actions' div if smth are selected -->
        <div class="col-xl-12">
          <div class="form-group form-group-inline">
            <div class="form-label form-label-no-wrap">
              <label class="font-bold font-danger">
                <span translate>GLOBAL.SELECTED_RECORDS_COUNT</span>
                {{ selection.selected.length }}
              </label>
              <!-- selectedCountsTitle => function from codeBehind (office-list.component.ts file) -->
              <!-- selectedCountsTitle => just returns title of selected items count -->
              <!-- for example: Selected records count: 4 -->
            </div>
            <div>
              <ng-template ngxPermissionsOnly="canSoftDeleteOffice">
                <button (click)="deleteOffices()" mat-raised-button color="warn" matTooltip="Delete selected offices" class="mat-button-mt-4">
                  <mat-icon>delete</mat-icon>
                  <span translate>GLOBAL.DELETE_ALL</span>
                </button>
              </ng-template>&nbsp;
              <!-- Call 'delete-entity-dialog' from _shared folder -->

              <button (click)="fetchOffices()" mat-raised-button matTooltip="Fetch selected offices" class="mat-button-mt-4">
                <mat-icon>clear_all</mat-icon>
                <span translate>GLOBAL.FETCH_SELECTED</span>
              </button>&nbsp;
              <!-- Call 'fetch-entity-dialog' from _shared folder -->
              <ng-template ngxPermissionsOnly="canActivateOffice">
                <button (click)="updateStatusForOffices()" mat-raised-button matTooltip="Update status for selected offices" class="mat-button-mt-4">
                  <mat-icon>update</mat-icon>
                  <span translate>GLOBAL.UPDATE_STATUS</span>
                </button>
              </ng-template><!-- Call 'update-stated-dialog' from _shared folder -->
            </div>
          </div>
        </div>
      </div>
      <!-- end::GROUP ACTIONS -->
    </div>
    <!-- end::FILTERS & GROUP ACTIONS -->

    <!-- MATERIAL TABLE | Binded to datasources -->
    <div class="mat-table-wrapper">
      <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource" matSort #sort1="matSort" matSortActive="id" matSortDirection="asc" matSortDisableClear>
        <!-- Checkbox Column -->

        <!-- Table with selection -->
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [color]="'primary'">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="mat-column-checkbox">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [color]="'primary'">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header translate="OFFICE.TABLE.NAME">Name</mat-header-cell>
          <mat-cell *matCellDef="let office"  class="clickable" matTooltip="View" (dblclick)="viewOffice(office)" >{{office.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="phone">
          <mat-header-cell *matHeaderCellDef mat-sort-header translate="OFFICE.TABLE.PHONE">Phone</mat-header-cell>
          <mat-cell *matCellDef="let office"  class="phone-hyper-style">{{formatPhone(office.phone)}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="fax">
          <mat-header-cell *matHeaderCellDef mat-sort-header translate="OFFICE.TABLE.FAX">Fax</mat-header-cell>
          <mat-cell *matCellDef="let office"  class="phone-hyper-style">{{formatPhone(office.fax)}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="isActive">
          <mat-header-cell *matHeaderCellDef mat-sort-header translate="OFFICE.TABLE.STATUS">Status</mat-header-cell>
          <mat-cell *matCellDef="let office">
            <span (dblclick)="updateStatusForOffice(office)" class="label label-lg label-light-{{ getItemCssClassByStatus(office.isActive) }} label-inline">{{  getItemStatusString(office.isActive) }}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef translate="TABLE.ACTIONS">Actions</mat-header-cell>
          <mat-cell *matCellDef="let office">
            <ng-template ngxPermissionsOnly="canViewOffice">
              <button color="success" matTooltip="View Office" (click)="viewOffice(office)" class="btn btn-icon btn-light btn-hover-success btn-sm margin-2">
                <span class="svg-icon svg-icon-md svg-icon-success">
                  <span inlineSVG="./assets/media/svg/icons/General/visible.svg"></span>
                </span>
              </button>
            </ng-template>
            <ng-template ngxPermissionsOnly="canEditOffice">
              <button color="primary" matTooltip="Edit Office" (click)="editOffice(office)" class="btn btn-icon btn-light btn-hover-primary btn-sm margin-2">
                <span class="svg-icon svg-icon-md svg-icon-primary">
                  <span inlineSVG="./assets/media/svg/icons/General/edit_icon.svg"></span>
                </span>
              </button>
            </ng-template>
            <ng-template ngxPermissionsOnly="canActivateOffice">
              <button color="warning" matTooltip="Activate/Deactivate Office" (click)="updateStatusForOffice(office)" class="btn btn-icon btn-light btn-hover-warning btn-sm margin-2">
                <span class="svg-icon svg-icon-md svg-icon-warning">
                  <span inlineSVG="./assets/media/svg/icons/General/update_icon2.svg"></span>
                </span>
              </button>
            </ng-template>
            <ng-template ngxPermissionsOnly="canSoftDeleteOffice">
              <button color="danger" matTooltip="Delete Office" (click)="deleteOffice(office)" class="btn btn-icon btn-light btn-hover-danger btn-sm margin-2">
                <span class="svg-icon svg-icon-md svg-icon-danger">
                  <span inlineSVG="./assets/media/svg/icons/General/delete_icon.svg"></span>
                </span>
              </button>
            </ng-template>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns" class="sticky-header"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <!-- Message for empty data  -->
      <div class="mat-table-message" *ngIf="!dataSource.hasItems" translate>GLOBAL.NO_RECORDS_FOUND</div>
      <div class="mat-table-message" *ngIf="dataSource.isPreloadTextViewed$ | async" translate>GLOBAL.PLEASE_WAIT</div>
    </div>

    <!-- start: BOTTOM -->
    <div class="mat-table-bottom">
      <!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
      <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
      <!-- MATERIAL PAGINATOR | Binded to dasources -->
      <!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
    </div>
    <!-- end: BOTTOM -->
  </kt-portlet-body>
  <!-- end::Body -->

</kt-portlet>
