<div class="card card-custom">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">{{getTitle()}}</h3>
    </div>
  </div>
    <div class="card-body">
      <formio  src="https://bdflegisogzbcxq.form.io/aplos"></formio>
    </div>
    <div class="card-footer p-4">
      <div class="d-flex justify-content-between">
        <div class="mr-2"></div>
        <div>
          <button type="button" mat-raised-button mat-dialog-close cdkFocusInitial matTooltip="Cancel" class="mr-3">
            <span translate="GLOBAL.CANCEL">Cancel</span>
          </button>
          <button type="button" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="viewLoading"
                  matTooltip="Save changes">
            <span translate="GLOBAL.SAVE">Save</span>
          </button>
        </div>
      </div>
    </div>
</div>
