<kt-portlet>
  <kt-portlet-header title="{{ 'TABLE.WORKFLOW_LIST' | translate }}" [class]="'card-head-lg'" [viewLoading$]="dataSource.loading$">
    <ng-container ktPortletTools>
      <div>
        <ng-template ngxPermissionsOnly="canAddWorkflow">
          <button (click)="addWorkflow()" mat-raised-button matTooltip="Create new Workflow" color="primary" type="button">
            <span inlineSVG="./assets/media/svg/icons/General/add_circle_icon.svg"></span>
            {{ 'TABLE.ADD_WORKFLOW' | translate }}
          </button>
        </ng-template>
        &nbsp;
      </div>
    </ng-container>
  </kt-portlet-header>
  <!-- end::Header -->
  <!-- start::Body (attribute: ktPortletBody) -->
  <kt-portlet-body>
    <!-- start::FILTERS & GROUP ACTIONS -->
    <div class="form kt-margin-b-30">
      <!-- start::FILTERS -->
      <div class="form-filtration">
        <div class="row align-items-center">
          <div class="col-md-2 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid" appearance="fill">
              <mat-label>{{ 'TABLE.SEARCH' | translate }}</mat-label>
              <input matInput placeholder="{{ 'TABLE.SEARCH' | translate }}" #searchInput placeholder="Search">
              <mat-hint align="start">
                <strong>{{ 'TABLE.SEARCH' | translate }}</strong>
                {{ 'TABLE.IN_ALL_FIELDS' | translate }}
              </mat-hint>
            </mat-form-field>
          </div>
          <div class="col-md-2 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid" appearance="fill">
              <mat-label>{{ 'USER.INPUT.COMPANY' | translate }}</mat-label>
              <mat-select [(value)]="filterCompany" (selectionChange)="loadWorkflowsList()" placeholder="{{ 'USER.INPUT.COMPANY' | translate }}">
                <mat-option disabled hidden></mat-option>
                <mat-option value="">All</mat-option>
                <mat-option *ngFor="let company of companies" [value]="company.id">
                  {{company.name}}
                </mat-option>
              </mat-select>
              <mat-hint align="start">
                <strong>{{ 'TABLE.FILTER' | translate }}</strong> {{ 'USER.INPUT.COMPANY' | translate }}
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <!-- end::FILTERS & GROUP ACTIONS -->
    <div class="mat-table-wrapper">
      <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource" matSort #sort1="matSort" matSortActive="id" matSortDirection="asc" matSortDisableClear>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'WORKFLOW.INPUT.NAME' | translate }}
          </mat-header-cell>
          <mat-cell (dblclick)="updateWorkflow(workflow)" *matCellDef="let workflow" class="clickable" matTooltip="double click to edit">
            {{workflow.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="event_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'WORKFLOW.INPUT.EVENT' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let workflow">
            {{getEventName(workflow.event)}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="company_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'WORKFLOW.INPUT.COMPANY_NAME' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let workflow">
            {{  getCompanyName(workflow.company_id)}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'WORKFLOW.INPUT.DESCRIPTION' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let workflow">
            {{workflow.description}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="is_active">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'WORKFLOW.INPUT.STATUS' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let workflow">
            <span class="label label-lg label-light-{{ getItemCssClassByStatus(workflow.is_active) }} label-inline">{{  getItemStatusString(workflow.is_active) }}</span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>{{ 'TABLE.ACTIONS' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let workflow">
            <a (click)="goToActions(workflow.id, workflow.company_id ,workflow.workflow_group_id)" class="btn btn-light-primary font-weight-bold dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              Actions
            </a>
            <ng-template ngxPermissionsOnly="canEditWorkflow">
              <button color="primary" matTooltip="{{ 'TABLE.UPDATE' | translate }}" (click)="updateWorkflow(workflow)" class="btn btn-icon btn-light btn-hover-primary btn-sm margin-2">
                <span class="svg-icon svg-icon-md svg-icon-primary">
                  <span inlineSVG="./assets/media/svg/icons/General/edit_icon.svg"></span>
                </span>
              </button>
            </ng-template>

            <ng-template ngxPermissionsOnly="canSoftDeleteWorkflow">
              <button color="danger" matTooltip="{{ 'TABLE.DELETE' | translate }}" (click)="deleteWorkflow(workflow)" class="btn btn-icon btn-light btn-hover-danger btn-sm margin-2">
                <span class="svg-icon svg-icon-md svg-icon-danger">
                  <span inlineSVG="./assets/media/svg/icons/General/delete_icon.svg"></span>
                </span>
              </button>
            </ng-template>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns" class="sticky-header"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <div class="mat-table__message" *ngIf="!dataSource.hasItems">{{ 'TABLE.NO_RECORDS' | translate }}</div>
      <div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">
        {{ 'TABLE.PLAESE_WAIT' | translate }}</div>
    </div>
    <div class="mat-table__bottom">
      <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
    </div>
  </kt-portlet-body>
  <!-- end::Body -->
</kt-portlet>
