<div class="card card-custom" [ngClass]="{ 'card-body-progress card-body-progress-overlay' : viewLoading }">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">{{getTitle()}}</h3>
    </div>
  </div>

  <form class="form" [formGroup]="apiForm">
    <div class="navi-hover scroll card-body" [perfectScrollbar]="{wheelPropagation :false}">

      <div class="card-body-progress">
        <mat-spinner [diameter]="20"></mat-spinner>
      </div>

      <kt-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true" (close)="onAlertClose()">
        <span translate="GLOBAL.FORM_ERROR"></span>
      </kt-alert>

      <div class="form-group row">
        <div class="col-lg-6 kt-margin-bottom-20-mobile">
          <mat-form-field appearance="fill" class="mat-form-field-fluid">
            <mat-label translate="API.INPUT.NAME">Name</mat-label>
            <input matInput formControlName="api_name"/>
            <mat-error *ngIf="apiForm.controls['api_name'].hasError('required')">
              <span>Name is required</span>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-lg-3 kt-margin-bottom-20-mobile">
          <mat-form-field appearance="fill" class="mat-form-field-fluid">
            <mat-label translate="API.INPUT.COMPANY">Company</mat-label>
            <mat-select formControlName="company_id">
              <mat-option disabled hidden>-</mat-option>
              <mat-option *ngFor="let company of companies" [value]="company.id">
                {{company.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="apiForm.controls['company_id'].hasError('required')">
              <span>Company is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-3 kt-margin-bottom-20-mobile">
        <mat-form-field appearance="fill" class="mat-form-field-fluid">
          <mat-label>API Type</mat-label>
          <mat-select formControlName="executionType">
            <mat-option>None</mat-option>
            <mat-option value="SAVE">Save</mat-option>
            <mat-option value="SaveAndNext">Next</mat-option>
            <mat-option value="SaveANDSaveAndNext">Save & Next</mat-option>
          </mat-select>
        </mat-form-field>
        </div>
        <div class="col-lg-3 kt-margin-bottom-20-mobile">
          <mat-form-field class="mat-form-field-fluid" appearance="fill">
            <mat-label>{{ "API.INPUT.METHOD" | translate }}</mat-label>
            <mat-select formControlName="http_method">
              <mat-option value="GET">
                <span class="navi-text">
                  <span class="label label-xl label-inline label-light-primary">GET</span>
                </span>
              </mat-option>
              <mat-option value="POST">
                <span class="navi-text">
                  <span class="label label-xl label-inline label-light-success">POST</span>
                </span>
              </mat-option>
              <mat-option value="PUT">
                <span class="navi-text">
                  <span class="label label-xl label-inline label-light-info">PUT</span>
                </span>
              </mat-option>
              <mat-option value="DELETE">
                <span class="navi-text">
                  <span class="label label-xl label-inline label-light-danger">DELETE</span>
                </span>
              </mat-option>
            </mat-select>
            <mat-error *ngIf="apiForm.controls['http_method'].hasError('required')">
              {{ "AUTH.VALIDATION.REQUIRED_FIELD" | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-3 kt-margin-bottom-20-mobile">
          <mat-form-field class="mat-form-field-fluid" appearance="fill">
            <mat-label>Base URL</mat-label>
            <mat-select formControlName="baseURL">
              <mat-option *ngFor="let url of URLs" [value]="url" [matTooltip]="url.val">
                {{url.key| uppercase}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="apiForm.controls['baseURL'].hasError('required')">
              {{ "AUTH.VALIDATION.REQUIRED_FIELD" | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6 kt-margin-bottom-20-mobile">
          <mat-form-field class="mat-form-field-fluid" appearance="fill">
            <mat-label>{{ "API.INPUT.URL" | translate }}</mat-label>
            <input matInput formControlName="url"/>
            <mat-error *ngIf="apiForm.controls['url'].hasError('required')">
              {{ "AUTH.VALIDATION.REQUIRED_FIELD" | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-12 kt-margin-bottom-20-mobile mb-3">
          <mat-form-field class="mat-form-field-fluid" appearance="fill">
            <mat-label>Condition</mat-label>
            <textarea matInput formControlName="condition" rows="1"></textarea>
            <mat-error *ngIf="apiForm.controls['condition'].hasError('required')">
              {{ "AUTH.VALIDATION.REQUIRED_FIELD" | translate }}
            </mat-error>
            <mat-error [hidden]="apiForm.get('condition').pristine || apiForm.get('condition').valid">
              Please insert a valid Condition.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-12 kt-margin-bottom-20-mobile mb-3">
          <mat-form-field class="mat-form-field-fluid" appearance="fill">
            <mat-label>{{ "API.INPUT.PAYLOAD" | translate }}</mat-label>
            <textarea matInput formControlName="payload" rows="7"></textarea>
            <mat-error *ngIf="apiForm.controls['payload'].hasError('required')">
              {{ "AUTH.VALIDATION.REQUIRED_FIELD" | translate }}
            </mat-error>
            <mat-error [hidden]="apiForm.get('payload').pristine || apiForm.get('payload').valid">
              Please insert a valid JSON.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-12 kt-margin-bottom-20-mobile">
          <mat-form-field class="mat-form-field-fluid" appearance="fill">
            <mat-label>{{ "API.INPUT.DESCRIPTION" | translate }}</mat-label>
            <textarea matInput formControlName="description" rows="7"></textarea>
            <mat-error *ngIf="apiForm.controls['description'].hasError('required')">
              {{ "AUTH.VALIDATION.REQUIRED_FIELD" | translate }}
            </mat-error>

          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-between">
        <div class="mr-2"></div>
        <div>
          <button type="button" mat-raised-button [mat-dialog-close]="data.animal" cdkFocusInitial
                  matTooltip="Cancel changes">
            <span translate="GLOBAL.CANCEL">Cancel</span>
          </button>&nbsp;
          <button type="button" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="viewLoading"
                  matTooltip="Save changes">
            <span translate="GLOBAL.SAVE">Save</span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
