<div class="card card-custom"
	[ngClass]="{ 'card-body-progress card-body-progress-overlay' : viewLoading }">
	<div class="card-header">
		<div class="card-title">
			<h3 class="card-label" translate>{{getTitle()}}</h3>
		</div>
	</div>
	<form class="form" [formGroup]="companyForm">
		<div class="card-body">

			<div class="card-body-progress">
				<mat-spinner [diameter]="20"></mat-spinner>
			</div>

			<kt-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true" (close)="onAlertClose($event)">
				<span translate="GLOBAL.FORM_ERROR"></span>
			</kt-alert>

			<kt-alert *ngIf="hasSubmissionErrors && !hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true" (close)="onAlertClose($event)">
                <ul>
                    <li *ngFor="let msg of submissionErrorObj">{{msg.message | translate}}</li>
                </ul>
			</kt-alert>

			<div class="form-group row">
				<div class="col-lg-4 kt-margin-bottom-20-mobile">
					<mat-form-field appearance="fill" class="mat-form-field-fluid">
						<mat-label translate="COMPANY.FORM.NAME">Name</mat-label>
						<input matInput formControlName="name" />
						<mat-error><span translate="COMPANY.FORM.NAME_REQUIRED">Name is required</span></mat-error>
					</mat-form-field>
				</div>
				<div class="col-lg-4 kt-margin-bottom-20-mobile">
					<mat-form-field appearance="fill" class="mat-form-field-fluid">
						<mat-label translate="COMPANY.FORM.OFFICE_LIMIT">Office number limit</mat-label>
						<input type="number" matInput formControlName="limitNumberOffices" />
						<mat-error *ngIf="companyForm.controls['limitNumberOffices'].touched && companyForm.controls['limitNumberOffices'].hasError('officeLimitError')">
							<span translate="COMPANY.FORM.OFFICE_LIMIT_ERROR">Office limit cannot be smaller than the current no. of the company's active offices</span>
						</mat-error>
					</mat-form-field>
				</div>
				<div class="col-lg-4 kt-margin-bottom-20-mobile">
					<mat-form-field appearance="fill" class="mat-form-field-fluid">
						<mat-label translate="COMPANY.FORM.USER_LIMIT">User number limit</mat-label>
						<input type="number" matInput formControlName="limitNumberUsers" />
						<mat-error *ngIf="companyForm.controls['limitNumberUsers'].touched && companyForm.controls['limitNumberUsers'].hasError('userLimitError')">
							<span translate="COMPANY.FORM.USER_LIMIT_ERROR">User limit cannot be smaller than the current no. of the company's active users</span>
						</mat-error>
					</mat-form-field>
				</div>
			</div>
			<div class="separator separator-dashed my-6"></div>
			<div class="form-group row">
				<div class="col-lg-3 kt-margin-bottom-20-mobile">
					<mat-label class="mb-1" translate="COMPANY.FORM.MEASURMENT_SYSTEM">Measurement System</mat-label>
						<mat-button-toggle-group formControlName="measurementSystem">
						<mat-button-toggle value="i" aria-label="Imperial">
						  <span translate="COMPANY.IMPERIAL">Imperial</span>
						</mat-button-toggle>
						<mat-button-toggle value="m" aria-label="Metric">
							<span translate="COMPANY.METRIC">Metric</span>
						</mat-button-toggle>
					  </mat-button-toggle-group>
				</div>
				<div class="col-lg-3 kt-margin-bottom-20-mobile">
					<mat-label class="row" translate="COMPANY.FORM.STATUS">Company Status</mat-label>
						<mat-slide-toggle class="row mt-2 mr-2" formControlName="isActive"></mat-slide-toggle>
                        <mat-hint align="start">
                          <strong>{{ getStatusString() }}</strong>
                        </mat-hint>
				</div>
				<div *ngIf="company.id !== 0" class="col-lg-3 kt-margin-bottom-20-mobile">
					<mat-form-field appearance="fill" class="mat-form-field-fluid">
						<mat-label translate="COMPANY.FORM.DT_CREATED">Date and Time Created</mat-label>
						<input matInput placeholder="Created At" formControlName="createdAt"/>
					</mat-form-field>
				</div>
				<div *ngIf="company.id !== 0" class="col-lg-3 kt-margin-bottom-20-mobile">
					<mat-form-field appearance="fill" class="mat-form-field-fluid">
						<mat-label translate="COMPANY.FORM.DT_UPDATED">Date and Time Updated</mat-label>
						<input matInput placeholder="Updated At" formControlName="updatedAt"/>
					</mat-form-field>
				</div>
			</div>
      <div class="form-group row">
        <div class="col-lg-4 kt-margin-bottom-20-mobile">

        <kt-general-autocomplete [appearance]="'fill'" [label]="'Entity'"
                                 [loadItemsFunction]="loadEntityFunction" [optionFormatter]="entityFormatter"
                                 [valueFormatter]="entityFormatter" [required]="true" [readOnly]="false"
                                 [control]="companyForm.get('entity')" [change]="onEntityChange.bind(this)"
                                 [dataPath]="'data'" [placeholder]="'Select Contacts'"
                                 [chipList]="false"
                                 #entityAutocomplete></kt-general-autocomplete>
        </div>

        <div class="col-lg-4 kt-margin-bottom-20-mobile">

        <kt-general-autocomplete [appearance]="'fill'" [label]="'Project'"
                                 [loadItemsFunction]="loadProjectFunction" [optionFormatter]="entityFormatter"
                                 [valueFormatter]="entityFormatter" [required]="true" [readOnly]="false"
                                 [control]="companyForm.get('project')" [change]="onProjectChange.bind(this)"
                                 [dataPath]="'data'" [placeholder]="'Select Contacts'"
                                 [chipList]="false"
                                 #projectAutocomplete></kt-general-autocomplete>
        </div>
      </div>
      </div>
		<div class="card-footer">
			<div class="d-flex justify-content-between">
				<div class="mr-2"></div>
				<div>
					<button type="button" mat-raised-button [mat-dialog-close]="data.animal" cdkFocusInitial matTooltip="Cancel changes">
						<span translate="GLOBAL.CANCEL">Cancel</span>
					</button>&nbsp;
					<button type="button" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="viewLoading" matTooltip="Save changes">
						<span translate="GLOBAL.SAVE">Save</span>
					</button>
				</div>
			</div>
		</div>
	</form>
</div>
