<div class="card card-custom mb-6" [ngStyle]="getStyleComponent()">
  <div class="card-header card-header-tabs-line">
    <div class="card-toolbar">
      <ul class="nav nav-tabs nav-bold nav-tabs-line">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" (click)="resetPagination();loadTasks(false,false)">
            <span class="nav-text">Open Tasks ({{openTaskLength}})</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" (click)="resetPagination();loadTasks(true,false)">
            <span class="nav-text">Completed ({{completedTaskLength}})</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" (click)="resetPagination();loadTasks(true, true)">
            <span class="nav-text">Canceled ({{cancelledTaskLength}})</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="card-toolbar">
      <div style="margin-bottom: -20px;margin-right: 11px;">
        <kt-general-autocomplete
          [label]="'Contact'"
          [loadItemsFunction]="entityAutocompleteCall"
          [optionFormatter]="displayEntity"
          [valueFormatter]="displayEntitySelected"
          [required]="false"
          [readOnly]="false"
          [control]="searchForm.get('entity')"
          [change]="onEntityChange.bind(this)"
          [placeholder]="'Search Contact'"
          [dataPath]="'data'"
          [appearance]="'outline'"
        ></kt-general-autocomplete>
      </div>
      <div>
        <button class="mr-2" mat-button color="{{isMyTasks? 'primary': ''}}" #myTaskBtn (click)="fetchMyTasks()">My
          Tasks
        </button>
      </div>
      <div>
        <button class="mr-2" mat-button color="{{isFollowing? 'primary': ''}}"
                (click)="fetchFollowingTasks()">Following
        </button>
      </div>
      <div class="btn-group" *ngIf="!this.inputTasks">
        <button class="btn btn-sm btn-clean mr-2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
          FILTER
          <i class="ml-2 ki ki-arrow-down text-primary"></i>
        </button>
        <div class="dropdown-menu p-5 dropdown-menu-right dropdown-menu-anim-up dropdown-menu-lg"
             aria-labelledby="dropdownMenuButton" (click)="$event.stopPropagation()">
          <mat-label>Due Date</mat-label>
          <div class="row">
            <mat-form-field appearance="standard" class="col">
              <mat-label>From Date</mat-label>
              <input matInput [formControl]="startDateDue" [matDatepicker]="startDatePicker" [max]="maxDateCreated"
                     readonly (dateChange)="setMinDate($event)">
              <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #startDatePicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="standard" class="col">
              <mat-label>To Date</mat-label>
              <input matInput [formControl]="toDateDue" [matDatepicker]="toDatePicker" [min]="minDateCreated" readonly
                     (dateChange)="setMaxDate($event)">
              <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #toDatePicker></mat-datepicker>
            </mat-form-field>
            <a (click)="clearDateFilter()" class="col-2 text-primary"
               style="display: flex;align-items: center">Clear</a>
          </div>
          <mat-label>Created Date</mat-label>
          <div class="row">
            <mat-form-field appearance="standard" class="col">
              <mat-label>From Date</mat-label>
              <input matInput [formControl]="startDateCreated" [matDatepicker]="startDatePickerCreated" [max]="maxDate"
                     readonly (dateChange)="setMinDateCreated($event)">
              <mat-datepicker-toggle matSuffix [for]="startDatePickerCreated"></mat-datepicker-toggle>
              <mat-datepicker #startDatePickerCreated></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="standard" class="col">
              <mat-label>To Date</mat-label>
              <input matInput [formControl]="toDateCreated" [matDatepicker]="toDatePickerCreated" [min]="minDate"
                     readonly (dateChange)="setMaxDateCreated($event)">
              <mat-datepicker-toggle matSuffix [for]="toDatePickerCreated"></mat-datepicker-toggle>
              <mat-datepicker #toDatePickerCreated></mat-datepicker>
            </mat-form-field>
            <a (click)="clearDateFilterCreated()" class="col-2 text-primary" style="display: flex;align-items: center">Clear</a>
          </div>
          <kt-general-autocomplete
            [label]="'User'"
            [loadItemsFunction]="userAutocompleteCall"
            [optionFormatter]="displayUsers"
            [valueFormatter]="displayUsersSelected"
            [required]="false"
            [readOnly]="false"
            [control]="searchForm.get('user')"
            [change]="onUsersChange.bind(this)"
            [placeholder]="'Search User'"
            [dataPath]="'data'"
            [appearance]="'standard'"
            #userAutocomplete
          ></kt-general-autocomplete>
          <mat-form-field appearance="standard" class="mat-form-field-fluid">
            <mat-label>Category</mat-label>
            <mat-select [(value)]="categoryId" (selectionChange)="resetPagination();loadTasks(isCompleted, isCanceled)">
              <mat-option>None</mat-option>
              <mat-option value="without">Without Category</mat-option>
              <mat-option *ngFor="let category of categoryList" [value]="category.id">
                {{category.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="standard" class="mat-form-field-fluid">
            <mat-label>Priority</mat-label>
            <mat-select [(value)]="priority" (selectionChange)="resetPagination();loadTasks(isCompleted, isCanceled)">
              <mat-option>None</mat-option>
              <mat-option value="HIGH">High</mat-option>
              <mat-option value="MEDIUM">Medium</mat-option>
              <mat-option value="LOW">Low</mat-option>
            </mat-select>
          </mat-form-field>
          <kt-general-autocomplete
            [label]="'Template'"
            [loadItemsFunction]="this.loadTemplatesList.bind(this)"
            [optionFormatter]="displayTemplate"
            [valueFormatter]="displayTemplateSelected"
            [required]="false"
            [readOnly]="false"
            [control]="searchForm.get('template')"
            [change]="onTemplateChange.bind(this)"
            [placeholder]="'Search Template'"
            [dataPath]="'data'"
            [appearance]="'standard'"
          ></kt-general-autocomplete>
          <kt-general-autocomplete
            [label]="'Project'"
            [loadItemsFunction]="loadProjectsList"
            [optionFormatter]="displayProject"
            [valueFormatter]="displayProject"
            [required]="false"
            [readOnly]="false"
            [control]="searchForm.get('project')"
            [change]="onProjectChange.bind(this)"
            [placeholder]="'Search Project'"
            [dataPath]="'data'"
            [appearance]="'standard'"
          ></kt-general-autocomplete>
        </div>
      </div>
      <div class="dropdown dropdown-inline">
        <a class="btn btn-clean btn-hover-light-primary btn-sm btn-icon" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">
          <i class="ki ki-bold-more-ver"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right" style="">
          <!--begin::Navigation-->
          <ul class="navi navi-hover">
            <li class="navi-header pb-1">
              <span class="text-primary text-uppercase font-weight-bold font-size-sm">Sort by:</span>
            </li>
            <li class="navi-item">
              <a (click)="sortTasks('priority','asc')" class="navi-link">
                <span class="navi-text">Priority</span>
              </a>
            </li>
            <li class="navi-item">
              <a (click)="sortTasks('created')" class="navi-link">
                <span class="navi-text">Date created</span>
              </a>
            </li>
            <li class="navi-item">
              <a (click)="sortTasks('dueDate')" class="navi-link">
                <span class="navi-text">Date due</span>
              </a>
            </li>
          </ul>
          <!--end::Navigation-->
        </div>
      </div>
    </div>
  </div>
  <div style="overflow-x: auto">
    <div class="tab-pane fade show active" id="kt_tab_pane_1_4" role="tabpanel"
         aria-labelledby="kt_tab_pane_1_4" style="min-width: 1000px">
      <div class="task-header p-4">
        <div class="header-item col-4">task name</div>
        <div class="header-item col-4">contact</div>
        <div class="header-item col-4" style="display: flex;justify-content: flex-end">
          <div class="d-none d-lg-block" style="margin-right: 192px !important; ">status</div>
          <div class="">assignee</div>
        </div>
      </div>
      <div class="mat-table-wrapper">
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel *ngFor="let task of taskList" (opened)="loadSubtask(task.id)" hideToggle>
            <mat-expansion-panel-header class="header" style="padding: 8px 24px;">
              <mat-panel-title>
                <div style="display: flex;
    justify-content: space-between;
    align-items: center;">
                  <ng-template ngxPermissionsOnly="canEditTask">
                    <a *ngIf="task.progress==='DONE'" (click)="updateCompleted(task);$event.stopPropagation()"
                       class="btn btn-icon">
                      <i class="fa fas fa-check-circle text-primary"></i>
                    </a>
                    <a *ngIf="task.progress!=='DONE'" (click)="updateCompleted(task);$event.stopPropagation()"
                       class="btn btn-icon">
                <span class="svg-icon svg-icon svg-icon-2x ml-2 mr-2"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-02-01-052524/theme/html/demo1/dist/../src/media/svg/icons/Media/Rec.svg--><svg
                  xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">

                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">

                <rect x="0" y="0" width="24" height="24"/>

               <path
                 d="M12,16 C14.209139,16 16,14.209139 16,12 C16,9.790861 14.209139,8 12,8 C9.790861,8 8,9.790861 8,12 C8,14.209139 9.790861,16 12,16 Z M12,20 C7.581722,20 4,16.418278 4,12 C4,7.581722 7.581722,4 12,4 C16.418278,4 20,7.581722 20,12 C20,16.418278 16.418278,20 12,20 Z"
                 fill="#000000" fill-rule="nonzero"/>

          </g>

        </svg><!--end::Svg Icon--></span>
                    </a>
                  </ng-template>
                  <span [class]="getPriority(task.priority)"
                        [matTooltip]="'Priority '+task.priority"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-02-01-052524/theme/html/demo1/dist/../src/media/svg/icons/General/Bookmark.svg--><svg
                    xmlns="http://www.w3.org/2000/svg" width="24px"
                    height="24px" viewBox="0 0 24 24" version="1.1">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <rect x="0" y="0" width="24" height="24"/>
        <path
          d="M8,4 L16,4 C17.1045695,4 18,4.8954305 18,6 L18,17.726765 C18,18.2790497 17.5522847,18.726765 17,18.726765 C16.7498083,18.726765 16.5087052,18.6329798 16.3242754,18.4639191 L12.6757246,15.1194142 C12.2934034,14.7689531 11.7065966,14.7689531 11.3242754,15.1194142 L7.67572463,18.4639191 C7.26860564,18.8371115 6.63603827,18.8096086 6.26284586,18.4024896 C6.09378519,18.2180598 6,17.9769566 6,17.726765 L6,6 C6,4.8954305 6.8954305,4 8,4 Z"
          fill="#000000"/>
    </g>
</svg><!--end::Svg Icon--></span>
                  <div class="ml-4 d-flex flex-column flex-grow-1 font-weight-bold">
                    <a (click)="updateTask(task);$event.stopPropagation()" style="height: 16px;"
                       class="text-dark text-hover-primary font-size-lg">
                      {{task.title || 'No Title' | titlecase}}
                    </a>
                    <span *ngIf="task.completed_by && task.progress==='DONE'" class="text-primary font-size-sm">Completed by {{task.completed_by}}
                      on {{task.completed_at| date:'MM/dd/yy'}}</span>
                    <div *ngIf="!task.completed_by && task.progress!=='DONE' && task.task_template && !inputTasks"
                         class="font-size-sm">
                      <span>Category: </span><span
                      class="font-size-sm text-muted">{{task.task_template.category_name}}</span>
                    </div>
                  </div>
                </div>
              </mat-panel-title>
              <mat-panel-description>
                <div style="align-self: flex-start">
                  <div *ngIf="mapArray(task.task_entities,'CONTACT').length !== 0" style="width: 313px;">
                  <span>
                    <span class=" pr-1 pl-1 text-success entity-name"
                          *ngFor="let ent of mapArray(task.task_entities,'CONTACT') as contacts;let i = index"
                          [class.border-right]="i !== contacts.length-1">{{getTip(ent.first_name, ent.last_name)}}</span>
                  </span>
                  </div>
                </div>
                <div style="padding: 6px;" class="d-none d-lg-block">
                  <div class="symbol">
                  <span
                    class="mr-10 label label-lg label-light-{{ getItemCssClassByStatus(task.progress) }} label-inline">{{ getItemTextByStatus(task.progress) }}
                </span>
                  </div>
                  <div class="symbol symbol-40 symbol-circle mr-5 w-30px">
                    <i (click)="showComments(task.task_comments,task.id);$event.stopPropagation();"
                       *ngIf="task.task_comments && task.task_comments.length" class="flaticon2-chat-1"></i>
                  </div>
                  <div class="symbol symbol-40 symbol-circle mr-5" matTooltip="Created Date">
                    <i class="flaticon2-calendar-9"></i>
                    <div *ngIf="task.created" [class]="checkDate(task.created)">
                      <a>{{task.created | date:'MM/dd'}}</a>
                    </div>
                  </div>
                  <div class="symbol symbol-40 symbol-circle mr-5" matTooltip="Due Date">
                    <i class="flaticon2-calendar-9"></i>
                    <div *ngIf="task.due_date" [class]="checkDate(task.due_date)">
                      <a>{{task.due_date | date:'MM/dd'}}</a>
                    </div>
                  </div>
                  <div class="symbol symbol-40 symbol-circle mr-5">
                    <i [ngStyle]="hasItem(task.task_attachments)" class="flaticon-attachment"></i>
                  </div>
                </div>
              </mat-panel-description>
              <div style="width: 60px !important;" class="symbol-group symbol-hover justify-content-center">
                <div *ngIf="usersObj.length>0 && task.task_responsible_users.length>0"
                     [matTooltip]="getFullNameList(task.task_responsible_users[0])"
                     matTooltipPosition="above">
                  <kt-user-photo [create]="false" [size]="30" [type]="'object'" [editable]="false"
                                 [user$]="getUser(task.task_responsible_users[0])"></kt-user-photo>
                </div>
                <div *ngIf="task.task_responsible_users.length >1"
                     class="symbol symbol-30 symbol-circle symbol-light-primary">
                    <span [matTooltip]="getNameList(task.task_responsible_users)"
                          matTooltipPosition="above"
                          class="symbol-label font-weight-bold">{{task.task_responsible_users.length - 1}}+</span>
                </div>
              </div>
            </mat-expansion-panel-header>
            <div class="ml-12">
              <div *ngIf="subtaskLoading">
                <mat-spinner [diameter]="20"></mat-spinner>
              </div>
              <div *ngIf="!(subtaskLoading) && (subtaskList).length == 0">
                No Record Found
              </div>
              <ng-container *ngFor="let task of subtaskList">
                <div style="display: flex;
        justify-content: space-between;
        align-items: center;  border-top: 1px solid #d1d1d1;">
                  <div style="display: flex;
    justify-content: space-between;
    align-items: center;">
                    <ng-template ngxPermissionsOnly="canEditTask">
                      <a *ngIf="task.progress==='DONE'" (click)="updateCompleted(task);$event.stopPropagation()"
                         class="btn btn-icon">
                        <i class="fa fas fa-check-circle text-primary"></i>
                      </a>
                      <a *ngIf="task.progress!=='DONE'" (click)="updateCompleted(task);$event.stopPropagation()"
                         class="btn btn-icon">
                <span class="svg-icon svg-icon svg-icon-2x  ml-2 mr-2"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-02-01-052524/theme/html/demo1/dist/../src/media/svg/icons/Media/Rec.svg--><svg
                  xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">

                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">

                <rect x="0" y="0" width="24" height="24"/>

               <path
                 d="M12,16 C14.209139,16 16,14.209139 16,12 C16,9.790861 14.209139,8 12,8 C9.790861,8 8,9.790861 8,12 C8,14.209139 9.790861,16 12,16 Z M12,20 C7.581722,20 4,16.418278 4,12 C4,7.581722 7.581722,4 12,4 C16.418278,4 20,7.581722 20,12 C20,16.418278 16.418278,20 12,20 Z"
                 fill="#000000" fill-rule="nonzero"/>

          </g>

        </svg><!--end::Svg Icon--></span>
                      </a>
                    </ng-template>
                    <span [class]="getPriority(task.priority)"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-02-01-052524/theme/html/demo1/dist/../src/media/svg/icons/General/Bookmark.svg--><svg
                      xmlns="http://www.w3.org/2000/svg" width="24px"
                      height="24px" viewBox="0 0 24 24" version="1.1">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <rect x="0" y="0" width="24" height="24"/>
        <path
          d="M8,4 L16,4 C17.1045695,4 18,4.8954305 18,6 L18,17.726765 C18,18.2790497 17.5522847,18.726765 17,18.726765 C16.7498083,18.726765 16.5087052,18.6329798 16.3242754,18.4639191 L12.6757246,15.1194142 C12.2934034,14.7689531 11.7065966,14.7689531 11.3242754,15.1194142 L7.67572463,18.4639191 C7.26860564,18.8371115 6.63603827,18.8096086 6.26284586,18.4024896 C6.09378519,18.2180598 6,17.9769566 6,17.726765 L6,6 C6,4.8954305 6.8954305,4 8,4 Z"
          fill="#000000"/>
    </g>
</svg><!--end::Svg Icon--></span>
                    <div class="ml-4 d-flex flex-column flex-grow-1 font-weight-bold">
                      <a (click)="updateTask(task);$event.stopPropagation()" style="height: 16px;"
                         class="text-dark text-hover-primary font-size-lg">
                        {{task.title || 'No Title'}}
                      </a>
                      <span *ngIf="task.completed_by && task.progress==='DONE'" class="text-primary font-size-sm">Completed by {{task.completed_by}}
                        on {{task.completed_at| date:'MM/dd/yy'}}</span>
                    </div>
                  </div>
                  <div style="width: 371px">
                    <div>
                      <div *ngIf="mapArray(task.task_entities,'CONTACT').length !== 0" style="width: 313px;">
                  <span>
                    <span class=" pr-1 pl-1 text-success entity-name"
                          *ngFor="let ent of mapArray(task.task_entities,'CONTACT') as contacts;let i = index"
                          [class.border-right]="i !== contacts.length-1">{{getTip(ent.first_name, ent.last_name)}}</span>
                  </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-4" style="display: flex;justify-content: flex-end">
                    <div style="padding: 6px" class="d-none d-lg-block">
                      <div class="symbol ">
                      <span
                        class="mr-10 label label-lg label-light-{{ getItemCssClassByStatus(task.progress) }} label-inline">{{ getItemTextByStatus(task.progress) }}
                        </span>
                      </div>
                      <div class="symbol symbol-40 symbol-circle mr-5 cursor-pointer">
                        <i (click)="showComments(task.task_comments,task.id);$event.stopPropagation();"
                           [ngStyle]="hasItem(task.task_comments)" class="flaticon2-chat-1"></i>
                      </div>
                      <div class="symbol symbol-40 symbol-circle mr-5" matTooltip="Created Date">
                        <i class="flaticon2-calendar-9"></i>
                        <div *ngIf="task.created" class="date">
                          <a>{{task.created | date:'MM/dd'}}</a>
                        </div>
                      </div>
                      <div class="symbol symbol-40 symbol-circle mr-5" matTooltip="Due Date">
                        <i class="flaticon2-calendar-9"></i>
                        <div *ngIf="task.due_date" [class]="checkDate(task.due_date)">
                          <a>{{task.due_date | date:'MM/dd'}}</a>
                        </div>
                      </div>
                      <div class="symbol symbol-40 symbol-circle mr-5">
                        <i [ngStyle]="hasItem(task.task_attachments)" class="flaticon-attachment"></i>
                      </div>
                    </div>
                    <div style="width: 60px !important;" class="symbol-group symbol-hover justify-content-center">
                      <div *ngIf="usersObj.length>0 && task.task_responsible_users.length>0"
                           [matTooltip]="getFullNameList(task.task_responsible_users[0])"
                           matTooltipPosition="above">
                        <kt-user-photo [create]="false" [size]="30" [type]="'object'" [editable]="false"
                                       [user$]="getUser(task.task_responsible_users[0])"></kt-user-photo>
                      </div>
                      <div *ngIf="task.task_responsible_users.length >1"
                           class="symbol symbol-30 symbol-circle symbol-light-primary">
                    <span [matTooltip]="getNameList(task.task_responsible_users)"
                          matTooltipPosition="above"
                          class="symbol-label font-weight-bold">{{task.task_responsible_users.length - 1}}+</span>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <div class="xyloading" *ngIf="loading">
          Loading....
        </div>
        <div class="no-task" *ngIf="taskList.length===0 && !loading" [ngStyle]="getStyleNoTask()">
          There are no tasks to show
        </div>
      </div>
      <!-- start: BOTTOM -->
      <div class="mat-table-bottom">
        <!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
        <mat-spinner [diameter]="20" *ngIf="loading"></mat-spinner>
        <!-- MATERIAL PAGINATOR | Binded to dasources -->
        <!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
        <mat-paginator [pageSize]="size" [pageSizeOptions]="[3, 5, 10]" [length]="totalNumber" (page)="loadPage($event)"
                       [showFirstLastButtons]="true"></mat-paginator>
      </div>
      <!-- end: BOTTOM -->
    </div>
  </div>
</div>

