.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

::ng-deep .mat-tooltip {
  white-space: pre-line;
}

::ng-deep {
  .mat-content {
    height: 100%;

    mat-panel-description {
      max-height: 100%;
    }
  }
}

.date {
  position: absolute;
  top: 16px;
  left: -5px;
  height: 11px;
  width: 27px;
  background: #c7c5c5;
  font-size: 9px;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  border-radius: 3px;
  padding-left: 1px;
}

.no-task {
  display: flex;
  justify-content: center;
  padding-top: 12%;
  height: 400px;
}

.xyloading {
  display: flex;
  justify-content: center;
  padding-top: 1%;
  height: 44px;
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 43px;
}

.header-item {
  padding-right: 5px;
  font-weight: 600;
  color: #b5b5c3 !important;
  font-size: .9rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.entity-name {
  font-size: 14px !important;
}

.entity-tag {
  font-weight: 600 !important;
}

.header {
  height: 57px !important;
  border-bottom: 1px solid rgb(243, 243, 243);
}
