<div class="card card-custom">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label" translate>{{getTitle()}}</h3>
    </div>
  </div>
  <form class="form form-group-seperator-dashed" [formGroup]="meetingForm">
    <div class="navi-hover scroll card-body " [perfectScrollbar]="{wheelPropagation :false}">

      <div class="card-body-progress">
        <mat-spinner [diameter]="20"></mat-spinner>
      </div>
      <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="false" [duration]="10000">
        {{ "AUTH.VALIDATION.INVALID_OR_REQUIRED" | translate }}
      </kt-alert>
      <kt-alert *ngIf="hasSubmissionErrors && !hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="false">
        <ul>
          <li *ngFor="let msg of submissionErrorObj">{{msg.error | translate}}</li>
        </ul>
      </kt-alert>
      <div class="form-group">

        <div class="row">
          <div class="col kt-margin-bottom-20-mobile">
            <mat-form-field class="mat-form-field-fluid" appearance="fill">
              <mat-label>{{ "MEETING.INPUT.SUBJECT" | translate }}</mat-label>
              <input required matInput formControlName="subject"/>
              <mat-error *ngIf="isControlHasError('subject', 'required')">
                {{ "AUTH.VALIDATION.REQUIRED_FIELD" | translate }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col kt-margin-bottom-20-mobile">
            <mat-button-toggle-group #participantType="matButtonToggleGroup" aria-label="Type"
                                     [formControl]="participantTypeCtrl">
              <mat-button-toggle (change)="searchParticipants()" value="CONTACT">{{ "MENU.CONTACT" | translate }}
              </mat-button-toggle>
              <mat-button-toggle (change)="searchParticipants()" value="USER">{{ "MENU.USER" | translate }}
              </mat-button-toggle>
            </mat-button-toggle-group>
            <button *ngIf="participantTypeCtrl.value === 'CONTACT'" class="ml-2 pl-2" mat-button
                    (click)="openContactDialog()">
              <i class="ml-2 ki ki-plus text-secondary"></i>
              New Contact
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col kt-margin-bottom-20-mobile">
            <kt-general-autocomplete [appearance]="'fill'" [label]="'With'" [loadItemsFunction]="searchParticipantsFn"
                                     [optionFormatter]="filterEntityFn" [valueFormatter]="filterEntityFn"
                                     [required]="true" [readOnly]="false" [control]="participantCtrl"
                                     [change]="selected.bind(this, 1)" [dataPath]="'data'"
                                     [placeholder]="'Select Entities'" [chipList]="true"
                                     [objects]="participantCtrl.value" [formatNewObjectFn]="formatNewEntityFn"
                                     #entityAutocomplete></kt-general-autocomplete>
          </div>
        </div>
        <div class="row  mt-5">
          <div class="col kt-margin-bottom-20-mobile">
            <mat-button-toggle-group #affiliateType="matButtonToggleGroup" aria-label="Type"
                                     [formControl]="affiliateTypeCtrl">
              <mat-button-toggle (change)="searchAffiliates()" value="DOCTOR">{{ "MENU.DOCTOR" | translate }}
              </mat-button-toggle>
              <mat-button-toggle (change)="searchAffiliates()" value="FACILITY">{{ "MENU.FACILITY" | translate }}
              </mat-button-toggle>
              <mat-button-toggle (change)="searchAffiliates()" value="PATIENT">{{ "MENU.PATIENT" | translate }}
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
        <div class="row">
          <div class="col kt-margin-bottom-20-mobile">
            <kt-general-autocomplete [appearance]="'fill'" [label]="'MEETING.INPUT.RELATED_TO' | translate"
                                     [loadItemsFunction]="searchAffiliatesFn" [optionFormatter]="filterAffiliationFn"
                                     [valueFormatter]="filterAffiliationFn" [required]="false" [readOnly]="false"
                                     [control]="affiliateCtrl" [change]="selected.bind(this, 3)" [dataPath]="'data'"
                                     [placeholder]="'Select Entities'" [chipList]="true" [objects]="affiliateCtrl.value"
                                     [formatNewObjectFn]="formatAffiliatesEntityFn"
                                     #affiliatesAutocomplete></kt-general-autocomplete>
          </div>
        </div>
        <div class="row">
          <div class="col kt-margin-bottom-20-mobile">
            <kt-general-autocomplete [appearance]="'fill'" [label]="'MEETING.INPUT.RESPONSIBLE' | translate"
                                     [loadItemsFunction]="searchAssigneeFn" [optionFormatter]="filterAssigneeFn"
                                     [valueFormatter]="filterAssigneeFn" [required]="false" [readOnly]="false"
                                     [control]="assigneeCtrl" [change]="selected.bind(this, 2)" [dataPath]="'data'"
                                     [placeholder]="'Select Entities'" [chipList]="true" [objects]="assigneeCtrl.value"
                                     [formatNewObjectFn]="formatAssigneeEntityFn"
                                     #assigneeAutocomplete></kt-general-autocomplete>
          </div>
        </div>
        <div class="row">
          <mat-form-field class="col kt-margin-bottom-20-mobile" appearance="fill">
            <mat-label>Start Time</mat-label>
            <input required [owlDateTime]="dt1" matInput [owlDateTimeTrigger]="dt1" placeholder="start time"
                   class="clendar-btn" formControlName="from_time" readonly>
            <owl-date-time #dt1></owl-date-time>
            <mat-icon matSuffix>access_time</mat-icon>
          </mat-form-field>
          <mat-form-field class="col kt-margin-bottom-20-mobile" appearance="fill">
            <mat-label>End Time</mat-label>
            <input required [min]="meetingForm.controls['from_time'].value" [owlDateTime]="dt2" matInput
                   [owlDateTimeTrigger]="dt2" placeholder="End time" class="clendar-btn" formControlName="to_time"
                   readonly>
            <owl-date-time #dt2></owl-date-time>
            <mat-icon matSuffix>access_time</mat-icon>
          </mat-form-field>
        </div>
        <div class="row">
          <div class="col kt-margin-bottom-20-mobile">
            <mat-form-field class="mat-form-field-fluid" appearance="fill">
              <mat-label>{{ "MEETING.INPUT.LOCATION" | translate }}</mat-label>
              <input required matInput formControlName="location"/>
              <mat-error *ngIf="isControlHasError('location', 'required')">
                {{ "AUTH.VALIDATION.REQUIRED_FIELD" | translate }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col kt-margin-bottom-20-mobile">
            <mat-form-field class="mat-form-field-fluid" appearance="fill">
              <mat-label>{{ "MEETING.INPUT.DESCRIPTION" | translate }}</mat-label>
              <textarea matInput formControlName="body" rows="7"></textarea>
            </mat-form-field>
          </div>
        </div>
        <br>
        <div class="row mb-5">
          <div class="col mb-2">
            <div class="checkbox-list">
              <label class="checkbox">
                <input type="checkbox" formControlName="is_completed" [(ngModel)]='is_completedChecked'/>
                <span></span>
                {{ "MEETING.INPUT.IS_COMPLETED" | translate }}
              </label>
            </div>
          </div>
          <div class="col mb-2">
            <div class="checkbox-list">
              <label class="checkbox">
                <input type="checkbox" formControlName="is_important" [(ngModel)]='is_importantChecked'/>
                <span></span>
                {{ "MEETING.INPUT.IS_IMPORTANT" | translate }}
              </label>
            </div>
          </div>
          <div class="col kt-margin-bottom-20-mobile"></div>
        </div>
        <div class="row">
          <div class="col kt-margin-bottom-20-mobile">
            <input formControlName="files" type="file" name="attachments" (change)="onFileChange($event)" multiple/>
          </div>
        </div>
        <kt-custom-progress-bar *ngIf="showFileLoader | async" [requests]="uploadRequests"
                                [totalFileSize]="totalFileSize"
                                (callback)="callbackOnFileLoad()"></kt-custom-progress-bar>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-between">
        <div class="mr-2"></div>
        <div>
          <button (click)="close()" type="button" mat-raised-button cdkFocusInitial matTooltip="Cancel">
            <span translate="GLOBAL.CANCEL">Cancel</span>
          </button>&nbsp;
          <button type="button" mat-raised-button color="primary" [disabled]="clicked" (click)="onSubmit(true);"
                  matTooltip="Create">
            <span translate="AUTH.INPUT.CREATE">Create</span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
