<div class="card card-custom">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label" translate>{{getTitle()}}</h3>
    </div>
  </div>
  <form class="form form-group-seperator-dashed" [formGroup]="emailFaxForm">
    <div class="navi-hover scroll card-body " [perfectScrollbar]="{wheelPropagation :false}">

      <div class="card-body-progress">
        <mat-spinner [diameter]="20"></mat-spinner>
      </div>
      <kt-alert *ngIf="hasFormErrors" [showCloseButton]="false" type="warn" [duration]="10000">
        {{ "AUTH.VALIDATION.INVALID_OR_REQUIRED" | translate }}
      </kt-alert>
      <div class="form-group">
        <div class="row">
          <div class="col kt-margin-bottom-20-mobile">
            <kt-general-autocomplete
              [label]="'Task'"
              [loadItemsFunction]="taskAutocompleteCall"
              [optionFormatter]="filterInboxFn"
              [valueFormatter]="filterInboxFn"
              [required]="true"
              [control]="emailFaxForm.get('task')"
              [change]="onTaskChange.bind(this)"
              [dataPath]="'data'"
              [placeholder]="'Select task'"
              #taskAutocomplete
            ></kt-general-autocomplete>
          </div>
        </div>
        <div class="row" *ngIf="communicationType === 'FAX' ">
          <div class="col kt-margin-bottom-20-mobile">
            <kt-general-autocomplete
              [label]="'Inbox'"
              [loadItemsFunction]="inboxAutocompleteCall"
              [optionFormatter]="filterInboxFn"
              [valueFormatter]="filterInboxFn"
              [required]="false"
              [control]="emailFaxForm.get('inbox')"
              [change]="onInboxChange.bind(this)"
              [dataPath]="'data'"
              [placeholder]="'Select Inbox'"
              #inboxAutocomplete
            ></kt-general-autocomplete>
          </div>
        </div>
        <div class="row">
          <div class="col kt-margin-bottom-20-mobile">
            <kt-general-autocomplete [appearance]="'fill'"
                                     [label]="'EMAIL_FAX.TO' | translate"
                                     [loadItemsFunction]="searchContacts"
                                     [optionFormatter]="filterRecipientFn"
                                     [valueFormatter]="filterRecipientFn"
                                     [required]="true"
                                     [readOnly]="false"
                                     [control]="recipientCtrl"
                                     [change]="selectedRecipient.bind(this)"
                                     [dataPath]="'data'"
                                     [placeholder]="'Recipient'"
                                     [chipList]="true"
                                     [objects]="recipientCtrl.value"
                                     [formatNewObjectFn]="formatNewRecipientFn"
                                     #recipientAutocomplete></kt-general-autocomplete>
          </div>
        </div>
        <div class="row">
          <div class="col kt-margin-bottom-20-mobile">
            <mat-form-field class="mat-form-field-fluid" appearance="fill">
              <mat-label>{{ "EMAIL_FAX.SUBJECT" | translate }}</mat-label>
              <input matInput formControlName="subject"/>
              <mat-error *ngIf="isControlHasError('subject', 'required')">
                {{ "AUTH.VALIDATION.REQUIRED_FIELD" | translate }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col kt-margin-bottom-20-mobile">
            <mat-form-field class="mat-form-field-fluid" appearance="fill">
              <mat-label>{{ "MESSAGE.INPUT.TEXT" | translate }}</mat-label>
              <textarea matInput formControlName="body" rows="7"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col kt-margin-bottom-20-mobile" *ngIf="sendDocs">
            <kt-general-autocomplete [appearance]="'fill'" [label]="'EMAIL_FAX.SEARCH_TOPIC' | translate"
                                     [loadItemsFunction]="getDocs" [optionFormatter]="filterTopicFn"
                                     [valueFormatter]="filterTopicFn" [required]="false" [readOnly]="false"
                                     [control]="topicCtrl" [change]="selectedTopic.bind(this)" [dataPath]="'data'"
                                     [placeholder]="'Topic'" [chipList]="true" [objects]="topicCtrl.value"
                                     [formatNewObjectFn]="formatNewTopicFn"
                                     #topicAutocomplete></kt-general-autocomplete>
          </div>
          <div class="col kt-margin-bottom-20-mobile" *ngIf="!sendDocs">
            <mat-label class="mr-3">{{ "EMAIL_FAX.ATTACHMENTS" | translate }}</mat-label>
            <input #fileInput type="file" name="attachments" (change)="onFileChange($event)" multiple>
            <i class="flaticon2-cross" *ngIf="files.length>0" (click)="resetFileInput()"></i>
          </div>
        </div>
        <kt-custom-progress-bar *ngIf="showFileLoader | async" [requests]="uploadRequests"
                                [totalFileSize]="totalFileSize"
                                (callback)="callbackOnFileLoad()"></kt-custom-progress-bar>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-between">
        <div class="mr-2"></div>
        <div>
          <button (click)="close()" type="button" mat-raised-button cdkFocusInitial matTooltip="Cancel">
            <span translate="GLOBAL.CANCEL">Cancel</span>
          </button>&nbsp;
          <button type="button" mat-raised-button color="primary" [disabled]="clicked" (click)="submit()"
                  matTooltip="Send">
            <span translate="EMAIL_FAX.SEND">Send</span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
