<div class="card card-custom" [ngClass]="{ 'card-body-progress card-body-progress-overlay' : viewLoading }">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">{{getTitle()}}</h3>
    </div>
  </div>
  <form class="form" [formGroup]="eventActionForm">
    <div class="navi-hover scroll card-body" [perfectScrollbar]="{wheelPropagation :false}">

      <div class="card-body-progress">
        <mat-spinner [diameter]="20"></mat-spinner>
      </div>

      <kt-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true"
        (close)="onAlertClose()">
        <span translate="GLOBAL.FORM_ERROR"></span>
      </kt-alert>

      <!-- <mat-tab-group> -->
      <!-- <mat-tab label="Main Details"> -->
      <div class="form-group row">
        <div class="col-lg-6 kt-margin-bottom-20-mobile">
          <mat-form-field appearance="fill" class="mat-form-field-fluid">
            <mat-label translate="EVENTACTION.INPUT.ACTION_NAME">Action name</mat-label>
            <input matInput formControlName="action_name" />
            <mat-error *ngIf="eventActionForm.controls['action_name'].hasError('required')">
              <span translate="EVENTACTION.FORM.NAME">action name is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6 kt-margin-bottom-20-mobile">
          <mat-form-field appearance="fill" class="mat-form-field-fluid">
            <mat-label translate="WORKFLOW.INPUT.COMPANY_NAME">Company</mat-label>
            <mat-select formControlName="company_id">
              <mat-option disabled hidden value=""></mat-option>
              <mat-option *ngFor="let company of companies" [value]="company.id">
                {{company.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="eventActionForm.controls['company_id'].hasError('required')">
              <span translate="EVENTACTION.FORM.COMPANY">company is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-12 kt-margin-bottom-20-mobile">
          <mat-form-field appearance="fill" class="mat-form-field-fluid">
            <mat-label translate="EVENTACTION.INPUT.DESCRIPTION">Description</mat-label>
            <textarea matInput formControlName="description" rows="7"></textarea>
            <mat-error *ngIf="eventActionForm.controls['description'].hasError('required')">
              <span translate="EVENTACTION.FORM.DESCRIPTION">Description is required</span>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-lg-11 kt-margin-bottom-20-mobile" style="padding-left: 30px">
          <mat-label class="row" translate="EVENTACTION.INPUT.STATUS">EventAction Status</mat-label>
          <mat-slide-toggle class="row mt-2 mr-2" formControlName="is_active"></mat-slide-toggle>
          <mat-hint align="start">
            <strong>{{ getStatusString() }}</strong>
          </mat-hint>
        </div>


      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-between">
        <div class="mr-2"></div>
        <div>
          <button type="button" mat-raised-button [mat-dialog-close]="data.animal" cdkFocusInitial
            matTooltip="Cancel changes">
            <span translate="GLOBAL.CANCEL">Cancel</span>
          </button>&nbsp;
          <button type="button" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="viewLoading"
            matTooltip="Save changes">
            <span translate="GLOBAL.SAVE">Save</span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>