<div class="card card-custom">
  <div class="card-header" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <div class="card-title">
      <h3 class="card-label">Add Drug</h3>
    </div>
  </div>
  <div class="navi-hover scroll card-body" style="max-width: 100vw;">
    <mat-tab-group style="height: 90%;">
      <mat-tab label="Details">
        <div style="padding: 30px;">
          <formio [form]="drugForm1" [submission]="drugFormData1"></formio>
        </div>
      </mat-tab>
      <mat-tab label="Preference" style="height: 90%;">
        <div style="padding: 30px;height: 80%;">
          <formio [form]="drugForm2" [submission]="drugFormData2"></formio>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="card-footer">
    <div class="d-flex justify-content-between">
      <div class="mr-2"></div>
      <div>
        <button (click)="close()" type="button" mat-raised-button cdkFocusInitial matTooltip="Cancel">
          <span>Cancel</span>
        </button>&nbsp;
        <button type="button" mat-raised-button color="primary" (click)="onSubmit();" matTooltip="Submit">
          <span>Submit</span>
        </button>
      </div>
    </div>
  </div>
</div>