<div class="card card-custom">
  <div class="card-header" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <div class="card-title">
      <h3 class="card-label">Add Patient</h3>
    </div>
  </div>
  <div class="navi-hover scroll card-body container" style="max-width: 100vw;">
    <div class="row">
      <div class="col">
        <div class="row my-2">
          <div class="col" *ngIf="data.extraData['attachments'].length > 0"> <button type="button" mat-raised-button color="primary" (click)="Previous()">Previous</button></div>
          <div class="col" *ngIf="data.extraData['attachments'].length > 0">{{k+1}} of {{data.extraData['attachments'].length}}</div>
          <div class="col" *ngIf="data.extraData['attachments'].length > 0"> <button type="button" mat-raised-button color="primary" (click)="Next()">Next</button></div>
        </div>
        <div class="my-2" style="height:1000px" *ngIf="pdfDisplayPatient">
          <iframe [src]="pdfPatient" width="100%" height="100%">
          </iframe>
        </div>
      </div>
      <div [ngClass]="((pdfDisplayPatient)?'col-6':'col-12')">
        <mat-tab-group [(selectedIndex)]="tabIndex" style="height: 100%;">
          <mat-tab label="Details" [disabled]="detailsDisabled">
            <div id="patientForm" style="padding: 30px">
            </div>
            <div style="padding: 30px">
              <button type="button" mat-raised-button color="primary" matTooltip="Submit" (click)="savePatient()">Next</button>
            </div>
          </mat-tab>
          <mat-tab label="Clinical" [disabled]="clinicalDisabled">
            <div style="padding: 30px">
              <formio [form]="clinicalForm" [submission]="clinicalFormData"></formio>
            </div>
            <div style="padding: 30px">
              <button mat-raised-button color="primary" type="button" (click)="saveClinical()">Next</button>
            </div>
          </mat-tab>
          <mat-tab label="Insurance" [disabled]="insuranceDisabled" style="height: 90%;">
            <div style="padding: 30px;">
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="insurance_id">
                  <th mat-header-cell *matHeaderCellDef> Insurance Number </th>
                  <td mat-cell *matCellDef="let element" class="clickableRowData" (click)="fillInsuranceForm(element)"> {{element.insurance_no}} </td>
                </ng-container>
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Plan Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                <ng-container matColumnDef="group_no">
                  <th mat-header-cell *matHeaderCellDef> Group </th>
                  <td mat-cell *matCellDef="let element"> {{element.group_no}} </td>
                </ng-container>
                <ng-container matColumnDef="person_code">
                  <th mat-header-cell *matHeaderCellDef> Person Code </th>
                  <td mat-cell *matCellDef="let element"> {{element.person_code}} </td>
                </ng-container>
                <ng-container matColumnDef="priority">
                  <th mat-header-cell *matHeaderCellDef> Priority </th>
                  <td mat-cell *matCellDef="let element"> {{element.priority}} </td>
                </ng-container>
                <ng-container matColumnDef="is_active">
                  <th mat-header-cell *matHeaderCellDef> IsActive </th>
                  <td mat-cell *matCellDef="let element">
                    <mat-checkbox [(ngModel)]="element.is_active"></mat-checkbox>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
            <div id="insuranceForm" style="padding: 30px;">
            </div>
            <div style="padding: 30px;" class="row">
              <div class="col-sm-2">
                <button type="button" mat-raised-button color="primary" icon="fa fa-plus" (click)="add()">Add</button>
              </div>
              <div class="col-sm-2">
                <button type="button" mat-raised-button color="secondary" (click)="add()">Cancel</button>
              </div>
              <div class="col-sm-2">
                <button type="button" mat-raised-button color="primary" (click)="saveInsurance()">Submit</button>
              </div>
              <div class="col-sm-4">
              </div>
              <div class="col-sm-2">
                <button type="button" mat-raised-button color="primary" icon="fa fa-check" (click)="close()" style="text-align:right;">Finish</button>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="d-flex justify-content-between">
      <div class="mr-2"></div>
      <div>
        <button type="button" mat-raised-button color="primary" (click)="close();" matTooltip="Submit">
          <span>Close</span>
        </button>
      </div>
    </div>
  </div>
</div>