<div class="card card-custom">
  <div class="card-header" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <div class="card-title">
      <h3 class="card-label">Add Medication</h3>
    </div>
  </div>
  <div class="navi-hover scroll card-body container" style="max-width: 100vw;">
    <div class="row">
      <div class="col">
        <div class="row my-2">
          <div class="col" *ngIf="data.extraData['attachments'].length > 0"> <button type="button" mat-raised-button color="primary" (click)="Previous()">Previous</button></div>
          <div class="col" *ngIf="data.extraData['attachments'].length > 0">{{k+1}} of {{data.extraData['attachments'].length}}</div>
          <div class="col" *ngIf="data.extraData['attachments'].length > 0"> <button type="button" mat-raised-button color="primary" (click)="Next()">Next</button>
          </div>
        </div>
        <div class="my-2" *ngIf="imgDisplay" style="overflow: scroll;height:1000px">
          <input type="checkbox" id="zoomCheck">
          <label for="zoomCheck">
            <img [src]="srcImg" alt="" width="100%" height="100%">
          </label>
        </div>
        <div class="my-2" style="height:1000px" *ngIf="pdfDisplayMedication">
          <iframe [src]="pdfMedication" width="100%" height="100%">
          </iframe>
        </div>
      </div>
      <div [ngClass]="((pdfDisplayMedication)?'col-6':'col-12')">
        <div class="my-2">
          <div id="prescriptionForm" style="padding: 30px">
          </div>
          <div style="padding: 30px">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="d-flex justify-content-between">
      <div class="mr-2"></div>
      <div>
        <button (click)="close()" type="button" mat-raised-button cdkFocusInitial matTooltip="Cancel">
          <span>Cancel</span>
        </button>&nbsp;
        <button type="button" mat-raised-button color="primary" (click)="saveMedication();" matTooltip="Submit">
          <span>Submit</span>
        </button>
      </div>
    </div>
  </div>
</div>