<div class="card card-custom">
    <div class="card-header" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
      <div class="card-title">
        <h3 class="card-label">Search Entities</h3>
      </div>
    </div>
      <div class="navi-hover scroll card-body">
        <div class="form-group">
          <div class="row">
            <div class="col kt-margin-bottom-20-mobile">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Type to search" [matAutocomplete]="auto" [formControl]='entityInput'>
                </mat-form-field>
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayEntity">
                  <mat-option *ngFor="let entity of filteredEntities" [value]="entity">
                    <span *ngIf="data.type === 'medication'">
                      <span>{{ entity.drug }}</span>
                      <small> | Prescriber: {{entity.doctor}}</small>
                      <small> | Pharmacy: {{entity.pharmacy}}</small>
                      <small> | Prescribe date: {{entity.prescribe_date}}</small>
                    </span>
                    <span *ngIf="data.type === 'patient'">
                      <span>{{ entity.name }}</span>
                      <small> | DOB: {{entity.dob}}</small>
                      <small> | Gender: {{entity.sex}}</small>
                      <small> | Address: {{entity.address}}</small>
                    </span>
                    <span *ngIf="data.type === 'client' || data.type === 'contact' || data.type === 'pharmacy'">
                      <span>{{ entity.name }}</span>
                      <small> | Phone: {{entity.phone}}</small>
                      <small> | Address: {{entity.address}}</small>
                    </span>
                    <span *ngIf="data.type === 'pharmacy_location'">
                      <span>{{ entity.name }}</span>
                      <small> | NPI: {{entity.npi}}</small>
                      <small> | Address: {{entity.address}}</small>
                    </span>
                    <span *ngIf="data.type === 'doctor'">
                      <span>{{ entity.name }}</span>
                      <small> | Phone: {{entity.phone}}</small>
                    </span>
                    <span *ngIf="data.type === 'drug'">
                      <span>{{ entity.name }}</span>
                      <small> | NDC: {{entity.ndc}}</small>
                      <small> | GCN: {{entity.cfi}}</small>
                      <small> | Drug_Group: {{entity.drug_group}}</small>
                    </span>
                    <span *ngIf="data.type === 'insurance'">
                      <span>{{ entity.name }}</span>
                      <small> | BIN: {{entity.bin}}</small>
                      <small> | PCN: {{entity.pcn}}</small>
                    </span>
                  </mat-option>
                </mat-autocomplete>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-between">
          <div class="mr-2"></div>
          <div>
            <button (click)="close()" type="button" mat-raised-button cdkFocusInitial matTooltip="Cancel">
              <span>Cancel</span>
            </button>&nbsp;
            <button type="button" mat-raised-button color="primary" [disabled]="!entityInput.value || entityInput.value.id < 1" (click)="close();" matTooltip="Submit">
              <span>Submit</span>
            </button>
          </div>
        </div>
      </div>
  </div>