table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

::ng-deep .formSideBar {
  width: 90%;
  overflow-y: scroll;
}

input[type=checkbox] {
  display: none;
}



input[type=checkbox]:checked~label>img {
  width: 200%;
  cursor: zoom-out;
}

::ng-deep .cdk-overlay-container {
  z-index: 9999;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.hide-autocomplete {
  display: none;
}

.clickableRowData {
  cursor: pointer;
  color: royalblue;
  text-decoration: underline;
}

.mat-header-cell, .mat-cell {
  flex: 0 0 100px !important;
  white-space: unset !important;
}