<div class="card card-custom">
  <div class="card-header" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <div class="card-title">
      <h3 class="card-label">Update Workflow</h3>
    </div>
  </div>
  <div class="navi-hover scroll card-body container" style="max-width: 100vw;">
    <div class="row">
      <div class="col container">
        <div class="row my-2">
          <div class="col" *ngIf="extraData && extraData['attachments'].length > 0"><button type="button" mat-raised-button color="primary" (click)="Previous()" matTooltip="previous">Previous</button></div>
          <div class="col" *ngIf="extraData && extraData['attachments'].length > 0">{{i+1}} of {{extraData && extraData['attachments'].length}}</div>
          <div class="col" *ngIf="extraData && extraData['attachments'].length > 0"><button type="button" mat-raised-button color="primary" (click)="Next()" matTooltip="next">Next</button></div>
        </div>
        <div class="row my-2" *ngIf="imgDisplay" style="overflow: scroll;height:700px">
          <input type="checkbox" id="zoomCheck">
          <label for="zoomCheck">
            <img [src]="srcImg" alt="" width="100%" height="100%">
          </label>
        </div>
        <div class="row my-2" *ngIf="pdfDisplay" style="height:700px">
          <iframe [src]="pdf" width="100%" height="100%">
          </iframe>
        </div>
        <div class="row my-2">
          <formio [form]="inputForm" [submission]="inputData"></formio>
        </div>
      </div>
      <div class="col my-2">
        <div id="orderEntryForm"></div>
        <div class="row my-2" *ngIf="eventStatus=='pending'">
          <div class="col-2" *ngIf="event_id ==27 || event_id == 28 || event_id == 30 ||event_id == 31 ||event_id == 32 ||event_id == 29 ||event_id == 33||event_id == 34">
            <button type="button" mat-raised-button color="primary" (click)="close()">Cancel</button>
          </div>
          <div class="col-2" *ngIf="event_id ==29 || event_id == 32">
            <button type="button" mat-raised-button color="primary" (click)="savePharmacyUpdateEvent()">Save</button>
          </div>
          <div class="col-2" *ngIf="event_id ==27 || event_id == 30">
            <button type="button" mat-raised-button color="primary" (click)="saveOrder()">Save</button>
          </div>
          <div class="col-2" *ngIf="event_id ==27 || event_id == 28 || event_id == 30 ||event_id == 31 || event_id == 33||event_id == 34">
            <button type="button" mat-raised-button color="primary" (click)="sendEmail()">Email</button>
          </div>
          <div class="col-2" *ngIf="event_id ==27 || event_id == 28 || event_id == 30 ||event_id == 31 ||event_id == 33||event_id == 34">
            <button type="button" mat-raised-button color="primary" (click)="sendFax()">Fax</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>