<kt-portlet>
  <kt-portlet-body>
    <div class="container m-0 p-0">
      <div class="row">
        <div class="col">
          <form class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" [(placeholder)]="from2" name="dp" [(ngModel)]="from" ngbDatepicker #d="ngbDatepicker" style="flex: 0.7 0 auto;">
                <div class="input-group-append">
                  <button class="btn btn-primary" (click)="d.toggle()" type="button">
                    <i class="la la-calendar"></i>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col">
          <form class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" [(placeholder)]="to2" name="dp" [(ngModel)]="to" ngbDatepicker #dd="ngbDatepicker" style="flex: 0.7 0 auto;">
                <div class="input-group-append">
                  <button class="btn btn-primary" (click)="dd.toggle()" type="button">
                    <i class="la la-calendar"></i>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Select Status</mat-label>
            <mat-select [(value)]="selectedStatus">
              <mat-option *ngFor="let st of status" [value]="st.value">
                {{st.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col"><button type="button" mat-raised-button color="primary" (click)="filter()" matTooltip="Search">Search</button></div>
      </div>
    </div>
    <div class="mat-table-wrapper">
      <mat-table class="lmat-elevation-z8" [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="date_time">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.date_time}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="stage">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Stage </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.stage}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="patient">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Patient </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.patient}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="rx">
          <mat-header-cell *matHeaderCellDef mat-sort-header> RX </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.rx}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="option">
          <mat-header-cell *matHeaderCellDef mat-sort-header> New/Refill </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.option}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.status}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="last_update">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Last Update </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.last_update}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="user_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> User </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.user_id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>View</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button color="primary" (click)="onRowSelect(row)" class="btn btn-icon btn-light btn-hover-primary btn-sm margin-2">
              <span class="svg-icon svg-icon-md svg-icon-primary">
                <span inlineSVG="./assets/media/svg/icons/General/edit_icon.svg"></span>
              </span>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row  mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row >
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row >
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </kt-portlet-body>
</kt-portlet>
