<div class="card card-custom">
    <div class="card-header">
      <div class="card-title">
        <h3 class="card-label" translate>{{getTitle()}}</h3>
      </div>
    </div>
    <form class="form form-group-seperator-dashed" [formGroup]="uploadDocsForm">
      <div class="navi-hover scroll card-body "  [perfectScrollbar]="{wheelPropagation :false}" >

        <div class="card-body-progress">
          <mat-spinner [diameter]="20"></mat-spinner>
        </div>
        <kt-alert *ngIf="hasFormErrors" [showCloseButton]="false" type="warn" [duration]="10000">
          {{ "AUTH.VALIDATION.INVALID_OR_REQUIRED" | translate }}
        </kt-alert>
        <div class="form-group">
          <div class="row">
            <div class="col kt-margin-bottom-20-mobile">
              <mat-form-field class="mat-form-field-fluid" appearance="fill">
                <mat-label>{{ "UPLOAD_MARKETING_DOCS.TOPIC" | translate }}</mat-label>
                <input matInput formControlName="topic" />
                <mat-error *ngIf="isControlHasError('topic', 'required')">
                  {{ "AUTH.VALIDATION.REQUIRED_FIELD" | translate }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col kt-margin-bottom-20-mobile">
              <mat-form-field class="mat-form-field-fluid" appearance="fill">
                <mat-label>{{ "UPLOAD_MARKETING_DOCS.DESCRIPTION" | translate }}</mat-label>
                <textarea matInput formControlName="description" maxlength="1000" rows="7"></textarea>
                <mat-error *ngIf="isControlHasError('description', 'required')">
                  {{ "AUTH.VALIDATION.REQUIRED_FIELD" | translate }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col kt-margin-bottom-20-mobile">
              <input formControlName="file" #fileInput type="file" name="attachments" (change)="onFileChange($event)">
              <mat-error *ngIf="isControlHasError('file', 'required')">
                {{ "AUTH.VALIDATION.REQUIRED_FIELD" | translate }}
              </mat-error>
            </div>
          </div>
          <kt-custom-progress-bar *ngIf="showFileLoader | async" [requests] ="uploadRequests" [totalFileSize]="totalFileSize" (callback)="callbackOnFileLoad()"></kt-custom-progress-bar>
        </div>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-between">
          <div class="mr-2"></div>
          <div>
            <button (click)="close()" type="button" mat-raised-button cdkFocusInitial matTooltip="Cancel">
              <span translate="GLOBAL.CANCEL">Cancel</span>
            </button>&nbsp;
            <button type="button" mat-raised-button color="primary" [disabled]="clicked" (click)="submit()" matTooltip="Save">
              <span translate="GLOBAL.SAVE">Save</span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
