@import "../../../../../../../assets/sass/pages/wizard/wizard-3";


.mat-form-field-appearance-outline {
  .mat-form-field-outline {
    color: darkgrey;
  }

  .mat-form-field-outline-thick {
    color: darkgrey;
  }

  &.mat-focused {
    .mat-form-field-outline-thick {
      color: #00aaff;
    }

    &.mat-accent .mat-form-field-outline-thick {
      color: #00aaff;
    }

    &.mat-warn .mat-form-field-outline-thick {
      color: #00aaff;
    }
  }
}

.add-button{
  height: 46px;
  width: 100%;
}

.padding-top-4{
  padding-top: 4px
}

#kt_wizard_v3{
  padding:0
}

.max-height{
  max-height: 60vh;
}

.footer-wiz {
  padding: 20px;
  border-top: 1px solid whitesmoke;
}

.first-card-form{
  padding: 0 40px;
}


.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.box:last-child {
  border: none;
}

.list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}
