<div class="pr-4 pt-3">
  <button type="button" [mat-dialog-close]="true" class="close btn btn-xs btn-icon btn-light btn-hover-primary"
          data-dismiss="modal" aria-hidden="true">
    <i class="ki ki-close icon-xs text-muted"></i>
  </button>
</div>
<div #wizard id="kt_wizard_v3" class="card-body wizard wizard-3 navi-hover" data-wizard-state="step-first">
  <div class="kt-grid__item">
    <!--begin: Form Wizard Nav -->
    <div class="wizard-nav border-bottom mb-1 mb-lg-5">
      <div class="wizard-steps px-8 py-8 px-lg-15 py-lg-3">
        <a class="wizard-step" data-wizard-type="step" data-wizard-state="current">
          <div class="wizard-label">
            <div class="wizard-title">
              <span>0</span> Task Template
            </div>
            <div class="wizard-bar"></div>
          </div>
        </a>
        <a class="wizard-step" data-wizard-type="step">
          <div class="wizard-label">
            <div class="wizard-title">
              <span>1</span> Subtasks
            </div>
            <div class="wizard-bar"></div>
          </div>
        </a>
      </div>
    </div>
    <!--end: Form Wizard Nav -->
  </div>
  <!--begin: Form Wizard Form-->
  <!--begin: Form Wizard Step 0-->
  <form class="form" [formGroup]="templateForm">

    <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
      <div class="row mb-5">
        <div class="first-card-form">
          <kt-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true"
                    (close)="onAlertClose()">
            <span translate="GLOBAL.FORM_ERROR"></span>
          </kt-alert>
          <div class="form-group row" style="padding-top: 0;padding-bottom: 0;overflow-y: scroll;
    max-height: 400px;">
            <div class="col-lg-12 kt-margin-bottom-20-mobile">
              <mat-form-field appearance="fill" class="mat-form-field-fluid">
                <mat-label translate="TEMPLATE.NAME">Name</mat-label>
                <input matInput formControlName="name"/>
                <mat-error *ngIf="isControlHasError('name', 'required')">
                  Required field
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-lg-12 kt-margin-bottom-20-mobile">
              <kt-general-autocomplete
                [label]="'Team/Category'"
                [loadItemsFunction]="categoryAutocompleteCall"
                [optionFormatter]="filterCategoryFn"
                [valueFormatter]="filterCategoryFn"
                [required]="true"
                [readOnly]="isReadOnly"
                [control]="templateForm.get('category')"
                [change]="onCategoryChange.bind(this)"
                [dataPath]="'data'"
                [placeholder]="'Select'"
                #categoryAutocomplete
              ></kt-general-autocomplete>
            </div>
            <div class="col-lg-12 kt-margin-bottom-20-mobile">
              <mat-form-field appearance="fill" class="mat-form-field-fluid">
                <mat-label translate="TEMPLATE.TITLE">MainTask</mat-label>
                <input matInput formControlName="title"/>
                <mat-error *ngIf="isControlHasError('title', 'required')">
                  Required field
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-lg-12 kt-margin-bottom-20-mobile">
              <mat-form-field appearance="fill" class="mat-form-field-fluid">
                <mat-label>{{ "TASK.SET_PRIORITY" | translate }}</mat-label>
                <mat-select formControlName="priority">
                  <mat-select-trigger>
                <span *ngIf="templateForm.controls['priority'].value !== 'LOW'"
                      [class]="getPriority(templateForm.controls['priority'].value)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="4px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect x="0" y="0" width="24" height="24"/>
                    <path
                      d="M8,4 L16,4 C17.1045695,4 18,4.8954305 18,6 L18,17.726765 C18,18.2790497 17.5522847,18.726765 17,18.726765 C16.7498083,18.726765 16.5087052,18.6329798 16.3242754,18.4639191 L12.6757246,15.1194142 C12.2934034,14.7689531 11.7065966,14.7689531 11.3242754,15.1194142 L7.67572463,18.4639191 C7.26860564,18.8371115 6.63603827,18.8096086 6.26284586,18.4024896 C6.09378519,18.2180598 6,17.9769566 6,17.726765 L6,6 C6,4.8954305 6.8954305,4 8,4 Z"
                      fill="#000000"/>
                    </g>
                  </svg>
                </span>
                    {{getPriorityText(templateForm.controls['priority'].value)}}
                  </mat-select-trigger>
                  <mat-option *ngFor="let option of priorityOptions" [value]="option">
                <span *ngIf="option !== 'LOW'" [class]="getPriority(option)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect x="0" y="0" width="24" height="24"/>
                    <path
                      d="M8,4 L16,4 C17.1045695,4 18,4.8954305 18,6 L18,17.726765 C18,18.2790497 17.5522847,18.726765 17,18.726765 C16.7498083,18.726765 16.5087052,18.6329798 16.3242754,18.4639191 L12.6757246,15.1194142 C12.2934034,14.7689531 11.7065966,14.7689531 11.3242754,15.1194142 L7.67572463,18.4639191 C7.26860564,18.8371115 6.63603827,18.8096086 6.26284586,18.4024896 C6.09378519,18.2180598 6,17.9769566 6,17.726765 L6,6 C6,4.8954305 6.8954305,4 8,4 Z"
                      fill="#000000"/>
                    </g>
                  </svg>
                </span>
                    <span *ngIf="option === 'LOW'" style="height: 26px; width: 26px">&nbsp;</span>
                    {{getPriorityText(option)}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-lg-12 kt-margin-bottom-20-mobile">
              <kt-general-autocomplete [label]="'Assign To'"
                                       [loadItemsFunction]="assigneeAutocompleteCall"
                                       [optionFormatter]="filterAssigneeFn" [valueFormatter]="filterAssigneeFn"
                                       [required]="false" [readOnly]="false"
                                       [control]="templateForm.get('task_responsible_users')"
                                       [change]="onAssigneeChange.bind(this)" [dataPath]="'data'"
                                       [placeholder]="'Select Assignees'" [formatNewObjectFn]="formatNewAssigneeFn"
                                       [chipList]="true" [objects]="templateForm.get('task_responsible_users').value"
                                       #assigneeAutocomplete></kt-general-autocomplete>
            </div>
            <div class="col-lg-12 kt-margin-bottom-20-mobile">
              <kt-general-autocomplete [label]="'Followers'"
                                       [loadItemsFunction]="assigneeAutocompleteCall"
                                       [optionFormatter]="filterAssigneeFn" [valueFormatter]="filterAssigneeFn"
                                       [required]="false" [readOnly]="false"
                                       [control]="templateForm.get('task_followers')"
                                       [change]="onFollowerChange.bind(this)" [dataPath]="'data'"
                                       [placeholder]="'Select Followers'" [formatNewObjectFn]="formatNewFollowerFn"
                                       [chipList]="true" [objects]="templateForm.get('task_followers').value"
                                       #followerAutocomplete></kt-general-autocomplete>
            </div>
            <div class="col-lg-12 kt-margin-bottom-20-mobile">
              <mat-form-field appearance="fill" class="mat-form-field-fluid">
                <mat-label translate="TEMPLATE.DESCRIPTION">Description</mat-label>
                <textarea matInput formControlName="description" rows="4"></textarea>
              </mat-form-field>
            </div>
            <div class="col-lg-12 kt-margin-bottom-20-mobile">
              <div class="mat-form-field-fluid">
                <section class="example-section">
                  <label class="example-margin col-5">Allow Create by All Roles:</label>
                  <mat-slide-toggle class="mr-2" formControlName="isActive"></mat-slide-toggle>
                  <mat-hint align="start">
                    <strong>{{ getStatusString(templateForm.get('isActive').value) }}</strong>
                  </mat-hint>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end: Form Wizard Step 0-->

    <!--begin: Form Wizard Step 1-->
    <div class="pb-5" data-wizard-type="step-content">
      <div class="max-height navi-hover scroll card-body " [perfectScrollbar]="{wheelPropagation :false}">
        <div class="row">
          <div class="col-lg-5 kt-margin-bottom-20-mobile" *ngIf="!isReadOnly">
            <mat-form-field appearance="outline" class="mat-form-field-fluid">
              <mat-label>Subtask Title</mat-label>
              <input matInput #subTitle formControlName="subTitle"/>
            </mat-form-field>
          </div>
          <div class="col-lg-5 kt-margin-bottom-20-mobile" *ngIf="!isReadOnly">
            <mat-form-field appearance="outline" class="mat-form-field-fluid">
              <mat-label>Description</mat-label>
              <input matInput #subDescription formControlName="subDescription"/>
            </mat-form-field>
          </div>
          <div class="col-lg-2 kt-margin-bottom-20-mobile padding-top-4" *ngIf="!isReadOnly">
            <button type="button" (click)="addToSubTaskJson()" class="btn btn-primary add-button font-weight-bold">
              Add
            </button>
          </div>
        </div>
        <div class="">
          <div cdkDropList class="list" (cdkDropListDropped)="drop($event)">
            <div class="col-lg-12 kt-margin-bottom-20-mobile example-box" style="margin-bottom: 10px;"
                 *ngFor="let subtask of subTasksJson; let i=index" cdkDrag>
              <div class="row">
                <div class="col-lg-1 kt-margin-bottom-20-mobile pt-3" style="text-align: center; padding-top: .5%">
                  <i class="far fa-check-square icon-lg"></i>
                </div>
                <div class="col-lg-11 kt-margin-bottom-20-mobile" style="padding-left: 0;">
                  <div class="d-flex bd-highlight" style="background-color:whitesmoke;border-radius: 6px;">
                    <div class="p-2 flex-grow-1 bd-highlight">
                      <p style="margin-bottom: 0"><strong>{{subtask.title}}</strong>
                        {{subtask.description}} </p>

                    </div>
                    <!--                      <span class="svg-icon svg-icon-md svg-icon-primary">-->
                    <!--                        <span inlineSVG="./assets/media/svg/icons/General/edit_icon.svg"></span>-->
                    <!--                      </span>-->
                    <div class="p-2 bd-highlight">
                      <mat-slide-toggle class="example-margin" [checked]="subtask.inherit ? true : false"
                                        (change)="editSubTaskInherit(subtask)"
                        [disabled]="isReadOnly" >
                        {{ subtask.inherit ? 'Inherit' : 'Reject!'}}
                      </mat-slide-toggle>
                    </div>
                    <div class="p-2 bd-highlight" *ngIf="!isReadOnly">
                      <button matTooltip="Remove Subtask" (click)="editSubTask(subtask);removeSubTask(subtask)"
                              class="btn btn-icon btn-light btn-hover btn-xs margin-2">
                          <span class="svg-icon svg-icon-nm ">
                        <span inlineSVG="./assets/media/svg/icons/General/edit_icon.svg"></span>
                          </span>
                      </button>
                    </div>
                    <div class="p-2 bd-highlight" *ngIf="!isReadOnly">
                      <button matTooltip="Remove Subtask" (click)="removeSubTask(subtask)"
                              class="btn btn-icon btn-light btn-hover btn-xs margin-2">
                          <span class="svg-icon svg-icon-nm ">
                            <span inlineSVG="./assets/media/svg/icons/General/delete_icon.svg"></span>
                          </span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!--end: Form Wizard Step 1-->

  <!--begin: Form Actions -->
  <div class="d-flex justify-content-between footer-wiz">
    <div class="mr-2">
      <div class="btn btn-light-primary font-weight-bold text-uppercase" data-wizard-type="action-prev">
        <span translate="GLOBAL.PREVIOUS">Previous</span>
      </div>
    </div>
    <div>
      <div *ngIf="!this.isReadOnly" (click)="onSubmit()" class="btn btn-primary font-weight-bold text-uppercase"
           data-wizard-type="action-submit">
        <span translate="GLOBAL.SAVE">Save</span>
      </div>
      <div class="btn btn-primary font-weight-bold text-uppercase" data-wizard-type="action-next">
        <span translate="GLOBAL.NEXTSTEP">Next Step</span>
      </div>
    </div>
  </div>
  <!--end: Form Wizard Form-->
</div>
