.btn-clean {
  border-color: #d1d1d1;
  border: 2px
}

.btn.btn-clean:focus, .btn.btn-clean:visited, .btn.btn-clean:active, .btn.btn-clean:focus-within, .btn.btn-clean:c {
  background-color: #57abff47 !important;
}

.mat-form-field-appearance-outline {
  .mat-form-field-outline {
    color: darkgrey;
  }

  .mat-form-field-outline-thick {
    color: darkgrey;
  }

  &.mat-focused {
    .mat-form-field-outline-thick {
      color: #00aaff;
    }

    &.mat-accent .mat-form-field-outline-thick {
      color: #00aaff;
    }

    &.mat-warn .mat-form-field-outline-thick {
      color: #00aaff;
    }
  }
}

//  .prim{
//    color: #4ba3ff !important;
//  }
//  .prim:hover{
//    color:#ffffff !important;
//  }
//.prim:focus{
//    color:#ffffff !important;
//  }

.dropMy{
  top: 36px !important;
  left: -107px !important;
}
