<div class="dropright">
  <button class="btn btn-sm btn-clean mr-2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
    FILTER
    <i class="ml-2 ki ki-arrow-down text-primary"></i>
  </button>


  <div class="dropdown-menu p-5 dropdown-menu-right dropdown-menu-anim-up dropdown-menu-lg" (click)="$event.stopPropagation()">
    <mat-form-field class="col-md-6" appearance="outline" style="padding-left: 0;">
      <mat-label>From Date</mat-label>
      <input matInput [matDatepicker]="fromPicker" [formControl]="fromDate" (dateChange)="dispatchEvent()"
             [matDatepickerFilter]='startFilter.bind(parent)'>
      <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
      <mat-datepicker #fromPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="col-md-6 " appearance="outline" style="padding-right: 0;">
      <mat-label>To Date</mat-label>
      <input matInput [matDatepicker]="toPicker" [formControl]="toDate" (dateChange)="dispatchEvent()"
             [matDatepickerFilter]='toFilter.bind(parent)'>
      <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
      <mat-datepicker #toPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="col-md-12 " appearance="outline" style="padding: 0;">
      <mat-label>Status</mat-label>
      <mat-select [formControl]="status" (selectionChange)="filterChanged()">
        <mat-option value="">All</mat-option>
        <mat-option *ngFor="let status of statusList | async" [value]="status.label">{{status.label}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-md-12 " appearance="outline" style="padding: 0;">
      <mat-label>Category</mat-label>
      <mat-select [formControl]="category" (selectionChange)="filterChanged
      ()">
        <mat-option>None</mat-option>
        <mat-option value="true">without category</mat-option>
        <mat-option *ngFor="let cat of categoryList " [value]="cat.id">{{cat.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngFor="let filter of filtersArray">
      <kt-dynamic-filters [filters]="filter" (getMyFilters)="filterChanges($event)"></kt-dynamic-filters>
    </div>

  </div>


</div>
