<div class="card card-custom">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Task Timeline</h3>
    </div>
  </div>
  <div class="navi-hover scroll card-body " [perfectScrollbar]="{wheelPropagation :false}">
    <div class="row">
      <div class="col-6" >
        <form class="w-50">
          <mat-form-field [formGroup]="search">
            <mat-label>
              <mat-icon>search</mat-icon>
              Search
            </mat-label>
            <input class="pb-0 mb-0" type="text" matInput formControlName="searchInput" (keyup)="searchAction()">
          </mat-form-field>
        </form>
      </div>

    </div>

    <div class="row" style="max-height: 1750px; overflow-y: auto">
      <div class="timeline timeline-4">
        <div class="timeline-bar"></div>
        <div class="timeline-items" perfectScrollbar
             [ngStyle]="{'max-height': '50vh'}"
             (scroll)="onScrollSent($event)">
          <ng-container *ngFor="let item of timelines">
            <ng-container [ngTemplateOutlet]="itemTemplate"
                          [ngTemplateOutletContext]="{item: item}">
            </ng-container>
          </ng-container>

        </div>
      </div>
      <div *ngIf="spinnerStateSent" class="d-flex justify-content-center text-primary mt-5">
        <div class="spinner-grow" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="mat-table-message mt-5" style="text-align: center" *ngIf="!timelines?.length && !spinnerStateSent"
           translate="GLOBAL.NO_RECORDS_FOUND">No Records Found
      </div>

      <ng-template #itemTemplate let-item="item">
        <div [class]="getItemClass(item)">
          <div class="timeline-badge">
            <span [class]="getItemColor(item.type)" [inlineSVG]="getItem(item.type)"></span>
          </div>
          <div class="timeline-content">
            <div class="mr-2">
              <a class="dark-75 font-weight-bold text-capitalize">
                {{item.subject}}
              </a>
              <span class="text-muted ml-2">
                              {{getDate(item.created) | date:'mediumDate'}}   {{getDate(item.created) | date:'shortTime'}}
              </span>
            </div>
            <p class="p-0 pl-1">
              {{item.body || 'No body' | slice:0:150}}
            </p>
            <div class="ml-2">
              <a (click)="readMore(item,item.type)"
                 class="btn btn-sm btn-light-primary btn-text-primary btn-hover-text font-weight-bold btn-pill"
                 aria-expanded="false">
                <span class="svg-icon">Read More</span>
              </a>
            </div>
          </div>
        </div>
        <br>
        <br>
      </ng-template>
    </div>






  </div>
  <div class="card-footer">
    <div class="d-flex justify-content-between">
      <div class="mr-2"></div>
      <div>
        <button mat-button (click)="dialogRef.close()">Cancel</button>
      </div>
    </div>
  </div>
</div>
