<!-- begin:: Error -->
<div class="error error-5 d-flex flex-row-fluid bgi-size-cover bgi-position-center" style="background-image: url(./assets/media/error/bg5.jpg); height: 100%;">
<!--	<img class="aplos-icon m-5" src="./assets/media/error/logo.png">-->
  <!--begin::Content-->
  <div class="container d-flex flex-row-fluid flex-column justify-content-md-center p-12">
		<h1 class="error-title font-weight-boldest text-info mt-10 mt-md-0 mb-12">Oops!</h1>
		<p class="font-weight-boldest display-4">
			Something went wrong here.
		</p>
		<p class="font-size-h3">
			We're working on it and we'll get it fixed<br />
			as soon possible<br />
			You can back or use our Help Center
		</p>
		<div class="ml-16">
			<a routerLink="/"><button type="button" class="btn mr-5 btn-outline-dark">Return Home</button></a>
			<a><button type="button" class="btn bg-info text-white">Help Center</button></a>
		</div>
	</div>
  <!--end::Content-->
</div>
<!-- end:: Error -->
