<div class="card card-custom"
     [ngClass]="{'card-body-progress' : viewLoading, 'card-body-progress card-body-progress-overlay' : loadingAfterSubmit }">
  <div class="card-header card-header-tabs-line">
    <div class="card-title">
      <h3 class="card-label">{{data.title}}</h3>
    </div>
  </div>
  <div class="form">
    <div class="card-body" style="padding:0;min-height: 500px">
      <mat-tab-group [(selectedIndex)]="selectedTab">
        <mat-tab label="Info">
          <ng-template matTabContent>
            <div style="padding:2.2em">
            <formio #projectFormio [form]="infoSchema" [submission]="projectModel" (change)="onChangeInfoData($event)"></formio>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab label="Beneficiary">
          <ng-template matTabContent>
            <div class="row justify-content-center" style="padding-right: 20px;padding-left: 20px">
              <div class="col-md" *ngIf="refresh">
                <div class="d-flex flex-row-reverse">
                  <div>
                    <button type="button" color="primary" mat-raised-button (click)="onNewClick('beneficiary')">New Beneficiary
                    </button>
                  </div>
                </div>
                <formio [form]="benfSchema" [submission]="benfSchemaInputData"></formio>
              </div>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab label="Sponsor">
          <ng-template matTabContent>
            <div class="row justify-content-center" style="padding-right: 20px;padding-left: 20px">
              <div class="col-md" *ngIf="refresh">
                <div class="d-flex flex-row-reverse">
                  <div>
                    <button type="button" color="primary" mat-raised-button (click)="onNewClick('sponsor')">New Sponsor</button>
                  </div>
                </div>
                <formio [form]="sponSchema" [submission]="sponsorSchemaInputData"></formio>
              </div>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-between">
        <div class="mr-2"></div>
        <div>
          <button type="button" mat-raised-button (click)="onNoClick()">Cancel</button>
          &nbsp;
          <button type="button" mat-raised-button color="primary" (click)="onSubmit()"
                  matTooltip="Save changes">
            <span translate="GLOBAL.SAVE">Save</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
