<kt-portlet>
  <kt-portlet-header [class]="'card-head-lg'">
    <!-- PORTLET LOADING | Binded to TABLE Datasource -->

    <ng-container ktPortletTitle>
      <span translate="PROJECT.PROJECT_LIST">Project List</span>
    </ng-container>

    <ng-container ktPortletTools>
      <div>
        <ng-template ngxPermissionsOnly="canAddCompany">
          <button (click)="addProject()" mat-raised-button matTooltip="Create new entity" color="primary" type="button">
            <span class="svg-icon-md" translate="PROJECT.NEW_PROJECT">
              <span inlineSVG="./assets/media/svg/icons/General/add_circle_icon.svg"></span>
              New Project
            </span>
          </button>
        </ng-template>
      </div>
    </ng-container>
  </kt-portlet-header>
  <!-- end::Header -->

  <kt-portlet-body>
    <!-- MATERIAL TABLE | Binded to datasources -->
    <div class="mat-table-wrapper">
      <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource" matSort #sort="matSort" matSortActive="id" matSortDirection="asc" matSortDisableClear>
        <!-- Checkbox Column -->
        <ng-container matColumnDef="id">
          <!-- ATTRIBUTE mat-sort-header  for sorting -->
          <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
          <mat-cell *matCellDef="let entity">{{entity.id}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell *matCellDef="let entity">{{entity.name}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns" class="sticky-header"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <!-- Message for empty data  -->
      <div class="mat-table-message" *ngIf="!dataSource.hasItems" translate="GLOBAL.NO_RECORDS_FOUND">No Records Found</div>
      <div class="mat-table-message" *ngIf="dataSource.isPreloadTextViewed$ | async" translate="GLOBAL.PLEASE_WAIT">Please Wait...</div>
    </div>
    <!-- start: BOTTOM -->
    <div class="mat-table-bottom">
      <!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
      <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
      <!-- MATERIAL PAGINATOR | Binded to dasources -->
      <!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
      <!--      <mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>-->
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [length]="5" [showFirstLastButtons]="true"></mat-paginator>
    </div>
    <!-- end: BOTTOM -->
  </kt-portlet-body>
  <!-- end::Body -->

</kt-portlet>
