<div class="card card-custom"
	[ngClass]="{ 'card-body-progress card-body-progress-overlay' : viewLoading }">
	<div class="card-header">
		<div class="card-title">
			<h3 class="card-label" translate>COMPANY.VIEW_COMPANY</h3>
		</div>
	</div>
		<div class="card-body">

			<div class="card-body-progress">
				<mat-spinner [diameter]="20"></mat-spinner>
			</div>
			<dl class="row">
				<dt class="col-sm-3 py-2" translate="COMPANY.TABLE.NAME">Name</dt>
				<dd class="col-sm-9 py-2">{{ company.name }}</dd>
			  
				<dt class="col-sm-3 py-2" translate="COMPANY.TABLE.NAME">Admin</dt>
				<dd class="col-sm-9 py-2">{{ admin }}</dd>
			  
				<dt class="col-sm-3 py-2" translate="COMPANY.FORM.OFFICE_LIMIT">Office Number Limit</dt>
				<dd class="col-sm-9 py-2">{{ company.limitNumberOffices }}</dd>
			  
				<dt class="col-sm-3 py-2" translate="COMPANY.FORM.USER_LIMIT">User Number Limit</dt>
				<dd class="col-sm-9 py-2">{{ company.limitNumberUsers }}</dd>
			  
				<dt class="col-sm-3 py-2" translate="COMPANY.FORM.MEASURMENT_SYSTEM">Measurement System</dt>
				<dd class="col-sm-9 py-2">{{ getMeasurementSystemString(company.measurementSystem) }}</dd>
			  
				<dt class="col-sm-3 py-2" translate="COMPANY.FORM.DT_CREATED">Created At</dt>
				<dd class="col-sm-9 py-2">{{ company.createdAt | date:'long' }}</dd>
			  
				<dt class="col-sm-3 py-2" translate="COMPANY.FORM.DT_UPDATED">Updated At</dt>
				<dd class="col-sm-9 py-2">{{ company.updatedAt | date:'long' }}</dd>
			  
				<dt class="col-sm-3 py-2" translate="COMPANY.FORM.STATUS">Status</dt>
				<dd class="col-sm-9 py-2">
					<span class="label label-lg label-light-{{ getItemCssClassByStatus(company.isActive) }} label-inline">{{  getItemStatusString(company.isActive) }}</span>
				</dd>

			  </dl>
		</div>
		<div class="card-footer">
			<div class="d-flex justify-content-between">
				<div class="mr-2"></div>
				<div>
					<button mat-button mat-dialog-close><span translate="GLOBAL.CLOSE">Close</span></button>
				</div>
			</div>
		</div>
</div>
