.form-container {
  padding: 20px 15px 20px 15px;
}

.margin-0 {
  margin: 0px !important;
}

.workflow-spinner {
  justify-content: center;
  display: flex;
  margin: 7px;
}


mat-formio {
    mat-spinner {
      display: none !important;
  }
}

.card-body{
  overflow-y: hidden !important;
}

.form-container{
  max-height: calc(60vh - 35px) !important;
  overflow-y: auto;
}

.read-only-data{
  border-right: 1px #bababa solid;
}

.prevButton , .nextButton {
  display:inline-block;
  /**other codes**/
  }

.mat-icon-button {
  width: 1px !important;
}

::ng-deep .formio-button-remove-row i.fa-times-circle-o {
	width: 25px;
	height: 10px;
	background-color: grey !important;
}
