<div class="card card-custom" style="">
  <div class="card-header card-header-tabs-line" style="display: flex;align-content: center;">
    <div style="justify-self: flex-start" class="card-title">
      <h3 class="card-title align-items-start flex-column" *ngIf="!data.isNew">
        <span class="font-weight-bolder text-dark">{{  getWorkflowName() + ' - ' + getTitle() | titlecase}}
          ( {{  currentStatusNumber.number || 0}} of {{maxStatusNumber.number || 0}} )</span>
        <span class="text-muted mt-3 font-weight-bold font-size-sm" [innerHTML]=" data.header "></span>
      </h3>
      <h3 class="card-title align-items-start flex-column" *ngIf="data.isNew">
        <span class="font-weight-bolder text-dark">Create Workflow</span>
        <span class="text-muted mt-3 font-weight-bold font-size-sm" [innerHTML]="''"></span>
      </h3>
    </div>
    <div class="card-toolbar" *ngIf="!data.isNew">
      <div class="nav-item" *ngIf="!isDone" >
        <a class="nav-link" role="button" aria-haspopup="true" aria-expanded="false">
          <span class="nav-icon">
            <button color="warning" matTooltip="Create Task"
                    (click)="createTask(data)"
                    class="btn btn-icon btn-light  btn-hover-warning btn-sm margin-2">
              <span class="svg-icon svg-icon-warning svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2020-12-10-081610/theme/html/demo1/dist/../src/media/svg/icons/Communication/Clipboard-check.svg--><svg
                xmlns="http://www.w3.org/2000/svg"
                width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <rect x="0" y="0" width="24" height="24"/>
        <path
          d="M8,3 L8,3.5 C8,4.32842712 8.67157288,5 9.5,5 L14.5,5 C15.3284271,5 16,4.32842712 16,3.5 L16,3 L18,3 C19.1045695,3 20,3.8954305 20,5 L20,21 C20,22.1045695 19.1045695,23 18,23 L6,23 C4.8954305,23 4,22.1045695 4,21 L4,5 C4,3.8954305 4.8954305,3 6,3 L8,3 Z"
          fill="#000000" opacity="0.3"/>
        <path
          d="M10.875,15.75 C10.6354167,15.75 10.3958333,15.6541667 10.2041667,15.4625 L8.2875,13.5458333 C7.90416667,13.1625 7.90416667,12.5875 8.2875,12.2041667 C8.67083333,11.8208333 9.29375,11.8208333 9.62916667,12.2041667 L10.875,13.45 L14.0375,10.2875 C14.4208333,9.90416667 14.9958333,9.90416667 15.3791667,10.2875 C15.7625,10.6708333 15.7625,11.2458333 15.3791667,11.6291667 L11.5458333,15.4625 C11.3541667,15.6541667 11.1145833,15.75 10.875,15.75 Z"
          fill="#000000"/>
        <path
          d="M11,2 C11,1.44771525 11.4477153,1 12,1 C12.5522847,1 13,1.44771525 13,2 L14.5,2 C14.7761424,2 15,2.22385763 15,2.5 L15,3.5 C15,3.77614237 14.7761424,4 14.5,4 L9.5,4 C9.22385763,4 9,3.77614237 9,3.5 L9,2.5 C9,2.22385763 9.22385763,2 9.5,2 L11,2 Z"
          fill="#000000"/>
    </g>
</svg><!--end::Svg Icon--></span>
              </button></span>
        </a>
      </div>

      <ul class="nav nav-tabs nav-bold nav-tabs-line">
        <li class="nav-item dropdown">
          <a class="nav-link  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="nav-icon"><i class="flaticon-comment"></i></span>
            <span class="nav-text">Comments</span>
          </a>
          <div class="dropdown-menu dropdown-menu-xl dropdown-menu-right px-5"
               style="max-height: 65vh; height: auto; overflow-x: scroll;" (click)="$event.stopPropagation()"
               [perfectScrollbar]="{wheelPropagation :false}">
            <kt-comments [id]="data.workflow.workflow_queue.id" [comments]="comments"
                         [type]="'workflow_queues'"></kt-comments>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="nav-icon"><i class="fas fa-history"></i></span>
            <span class="nav-text">History</span>
          </a>
          <div class="dropdown-menu dropdown-menu-xl dropdown-menu-right px-5"
               style="max-height: 65vh; height: auto; overflow-x: scroll;" (click)="$event.stopPropagation()"
               [perfectScrollbar]="{wheelPropagation :false}">
            <kt-history [history]="history"></kt-history>
          </div>
        </li>
      </ul>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
           aria-expanded="false">
          <span class="nav-icon"><i class="ki ki-bold-more-ver"></i></span>
        </a>
        <div class="dropdown-menu dropdown-menu-md dropdown-menu-right py-5">
          <ul class="navi navi-hover">
            <li class="navi-item">
              <a class="navi-link" (click)="loadOldWorkflowData()"
                 *ngIf="!isCreate && data.workflow.workflow_queue.old_workflow_queue_id !== null && !isDone">
                <span class="navi-icon svg-icon svg-icon-primary svg-icon-x pr-3"><svg
                  xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <rect x="0" y="0" width="24" height="24"/>
                      <path
                        d="M1.5,5 L4.5,5 C5.32842712,5 6,5.67157288 6,6.5 L6,17.5 C6,18.3284271 5.32842712,19 4.5,19 L1.5,19 C0.671572875,19 1.01453063e-16,18.3284271 0,17.5 L0,6.5 C-1.01453063e-16,5.67157288 0.671572875,5 1.5,5 Z M18.5,5 L22.5,5 C23.3284271,5 24,5.67157288 24,6.5 L24,17.5 C24,18.3284271 23.3284271,19 22.5,19 L18.5,19 C17.6715729,19 17,18.3284271 17,17.5 L17,6.5 C17,5.67157288 17.6715729,5 18.5,5 Z"
                        fill="#000000"/>
                      <rect fill="#000000" opacity="0.3" x="8" y="5" width="7" height="14" rx="1.5"/>
                    </g>
                  </svg>
                </span>
                <span class="navi-text">Load From Old Workflow</span>
              </a>
            </li>
            <li class="navi-item">
              <a class="navi-link" (click)="cancelAndRecreate()" *ngIf="!isCreate && !isDone">
                <span class="navi-icon svg-icon svg-icon-success svg-icon-x">
                  <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2020-12-28-020759/theme/html/demo1/dist/../src/media/svg/icons/Communication/Reply.svg--><svg
                  xmlns="http://www.w3.org/2000/svg" width="24px"
                  height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <rect x="0" y="0" width="24" height="24"/>
                      <path
                        d="M21.4451171,17.7910156 C21.4451171,16.9707031 21.6208984,13.7333984 19.0671874,11.1650391 C17.3484374,9.43652344 14.7761718,9.13671875 11.6999999,9 L11.6999999,4.69307548 C11.6999999,4.27886191 11.3642135,3.94307548 10.9499999,3.94307548 C10.7636897,3.94307548 10.584049,4.01242035 10.4460626,4.13760526 L3.30599678,10.6152626 C2.99921905,10.8935795 2.976147,11.3678924 3.2544639,11.6746702 C3.26907199,11.6907721 3.28437331,11.7062312 3.30032452,11.7210037 L10.4403903,18.333467 C10.7442966,18.6149166 11.2188212,18.596712 11.5002708,18.2928057 C11.628669,18.1541628 11.6999999,17.9721616 11.6999999,17.7831961 L11.6999999,13.5 C13.6531249,13.5537109 15.0443703,13.6779456 16.3083984,14.0800781 C18.1284272,14.6590944 19.5349747,16.3018455 20.5280411,19.0083314 L20.5280247,19.0083374 C20.6363903,19.3036749 20.9175496,19.5 21.2321404,19.5 L21.4499999,19.5 C21.4499999,19.0068359 21.4451171,18.2255859 21.4451171,17.7910156 Z"
                        fill="#000000" fill-rule="nonzero"/>
                    </g>
                  </svg>
                </span>
                <span class="navi-text">Cancel and Recreate</span>
              </a>
            </li>
            <li class="navi-item">
              <a class="navi-link" (click)="onCancelWorkflowClick()" *ngIf="!isCreate && !isDone">
                <span class="navi-icon"><i class="flaticon-delete text-danger ml-1"></i></span>
                <span class="navi-text">Cancel Workflow</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--  <div *ngIf="isLoading" class="workflow-spinner">-->
  <!--    <mat-spinner [diameter]="20"></mat-spinner>-->
  <!--  </div>-->
  <div class="row margin-0 card-body navi-hover">
    <div *ngIf="isCreate" class="col-12">
      <mat-form-field appearance="outline" class="example-form-field" style="padding: 0;width:100%">
        <mat-label>Workflow</mat-label>
        <mat-select placeholder="Select Workflow" [formControl]="workflow">
          <mat-option value="{{workflowOp.id}}"
                      *ngFor="let workflowOp of workflowsList | async">{{workflowOp.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <kt-general-autocomplete [appearance]="'outline'" [label]="'Project'"
                               [loadItemsFunction]="projectAutocompleteCall"
                               [optionFormatter]="filterProjectFn" [valueFormatter]="filterProjectFn"
                               [required]="true" [readOnly]="readOnlyProject"
                               [control]="project"
                               [change]="onProjectChange.bind(this)" [dataPath]="'data'"
                               [placeholder]="'Select Project'"
                               #projectAutocomplete></kt-general-autocomplete>
    </div>
    <div *ngIf="loadingWorkflowData" class="workflow-spinner col-12">
      <mat-spinner [diameter]="20"></mat-spinner>
    </div>
    <div *ngIf="!isCreate" class="col-12">
    </div>
    <div *ngIf=" !loadingWorkflowData && (workflow.value || data.workflow)" class="col-12">
      <div class="row">
          <!--left side of dialog-->
        <div *ngIf="showReadOnlyData"
             [ngClass]="((isDone)?'col-12 pt-0':'col-6 pt-0')+' form-container scroll read-only-data'"
             [perfectScrollbar]="{wheelPropagation :false}">
            <!--If there is attachment-->
          <div *ngIf="viewAttachments && attachments.length > 0">
            <div *ngIf="attachments.length > 1" class="row justify-content-center">
              <div class="col-2">
                <button type="button" mat-icon-button color="primary" [disabled]="index === 0" (click)="Previous()">
                  <mat-icon>keyboard_arrow_left</mat-icon>
                </button>
              </div>
              <div class="col-2 pt-3">{{index + 1}} of {{attachments.length}}</div>
              <div class="col-1">
                <button type="button" mat-icon-button color="primary" [disabled]="index === attachments.length - 1"
                        (click)="Next()">
                  <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
              </div>
            </div>
            <ngx-extended-pdf-viewer [src]="attachments[index].url" [useBrowserLocale]="true"
                                     [height]="'50vh'"></ngx-extended-pdf-viewer>
          </div>

          <formio  [form]="readOnlyField" [submission]="readOnlyValue" [readOnly]="isFormReadOnly"
                   (customEvent)="handleFormEventOnLeft($event)"  (change)="onChangeLeftSide($event)"></formio>
        </div>
        <div *ngIf="!isDone" [ngClass]="((showReadOnlyData)?'col-6':'col-12')+' form-container scroll'"
             [perfectScrollbar]="{wheelPropagation :false}">
          <formio [form]="fields" #formio (customEvent)="handleFormEvent($event)" (change)="onChange($event,formio)"
                  [submission]="modelMappedData" [readOnly]="isSubmitting || isFirst"></formio>
        </div>
      </div>
    </div>
  </div>
  <mat-dialog-actions align="end" style="padding: 18px 36px;">
    <div *ngIf="!isCreate" style="width: 20%; display: flex; justify-content: flex-start;">
      <div class="d-flex justify-content-between">
        <div class="mr-2"></div>
        <div>
          <button class="prevButton mr-12" type="button" mat-icon-button color="primary"
                  (click)="changeReadOnlyForm('PREV')" [disabled]="!parentId">
            <mat-icon inline="true">arrow_back</mat-icon>
          </button>
          <button class="nextButton mr-12" type="button" mat-icon-button color="primary"
                  (click)="changeReadOnlyForm('NEXT')" [disabled]="currentId === rightPanelId">
            <mat-icon>arrow_forward</mat-icon>
          </button>
          <a
            class="btn btn-text-dark-50 btn-icon-primary btn-hover-icon-success font-weight-bold btn-hover-bg-light mr-3"
            (click)="viewAttachments = !viewAttachments" [hidden]="!(attachments && attachments.length > 0)">
            <i class="flaticon-attachment text-primary"></i> Hide/View
          </a>
        </div>
      </div>
    </div>
    <div style="width: 80%; display: flex; justify-content: flex-end;">
      <div class="d-flex justify-content-between">
        <div class="mr-2"></div>
        <div>
          <button type="button" mat-raised-button cdkFocusInitial matTooltip="Close" (click)="onCancelClick()"
                  [disabled]="isSubmitting">Close
          </button>&nbsp;
          <!--          <button *ngIf="!isCreate" type="button" mat-raised-button color="primary" (click)="viewAttachments = !viewAttachments" [disabled]="!(attachments && attachments.length > 0)">View/Hide Attachments-->
          <!--          </button>&nbsp;-->
          <button *ngIf="!isCreate && !isDone" type="submit" mat-raised-button color="primary" matTooltip="Save changes"
                  style="margin-right: 5px;" [disabled]="isSubmitting" (click)="onSubmit(false)">
            Save
          </button>
          <button *ngIf="isCreate" type="submit" mat-raised-button color="primary" matTooltip="Save changes"
                  (click)="onSubmit(true)"
                  [disabled]="isSubmitting || workflow.value === null || project.value === null">
            Create
          </button>
          <button *ngIf="!isCreate && !isDone" type="submit" mat-raised-button color="primary"
                  matTooltip="Save changes & Next" (click)="onSubmit(true)" [disabled]="isSubmitting">
            Save & Next
          </button>
        </div>
      </div>
    </div>
  </mat-dialog-actions>
</div>
