
<div class="symbol">
<div class="image-input image-input-outline image-input-circle  border border-secondary" id="kt_image_3">
  <img *ngIf="photoUrl !== ''" class="image-input-wrapper" [id]="user.userName"
       [style.width.px]="size" [style.height.px]="size" src="{{photoUrl}}">
  <span *ngIf="photoUrl === ''">
      <span  [style.width.px]="size" [style.height.px]="size" class="symbol-label font-size-h2 font-weight-bold" [ngStyle]="symbolCSS(user.userName)">
        {{user.userName|slice:0:1 | uppercase}}
      </span>
  </span>
  <label *ngIf="editable " class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
         data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
    <i class="fa fa-pen icon-sm text-muted"></i>
    <input #fileInput type="file" (change)="onFileChange($event)" name="profile_avatar" accept=".png, .jpg, .jpeg"/>
    <input type="hidden" name="profile_avatar_remove"/>
  </label>
</div>
</div>
