.image-input-wrapper{
  box-shadow: none !important;
  border: none !important;
}

.symbol-label{
  border-radius: 50%;
}

.border{
  border: 3px solid #EBEDF3 !important;
}

.symbol{
  border:0px solid black !important;
}
