<kt-portlet>
  <kt-portlet-header title="{{ 'TABLE.WORKFLOW_GROUP_LIST' | translate }}" [class]="'card-head-lg'"
                     [viewLoading$]="dataSource.loading$">
    <ng-container ktPortletTools>
      <div>
        <ng-template ngxPermissionsOnly="canAddWorkflowGroup">
          <button (click)="addWorkflowGroup()" mat-raised-button matTooltip="Create new Workflow Group" color="primary"
                  type="button">
            <span class="svg-icon-md" translate>
              <span inlineSVG="./assets/media/svg/icons/General/add_circle_icon.svg"></span>
              {{ 'TABLE.ADD_WORKFLOW_GROUP' | translate }}</span>
          </button>
        </ng-template>
      </div>
    </ng-container>
  </kt-portlet-header>
  <!-- end::Header -->

  <!-- start::Body (attribute: ktPortletBody) -->
  <kt-portlet-body>
    <div class="mat-table-wrapper">
      <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource" matSort #sort1="matSort" matSortActive="id"
                 matSortDirection="asc" matSortDisableClear>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'EVENTACTION.INPUT.ACTION_NAME' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let workflowGroup" class="clickable"
                    matTooltip="double click to edit">
            {{workflowGroup.name}}</mat-cell>
        </ng-container>


        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'EVENTACTION.INPUT.DESCRIPTION' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let workflowGroup">
            {{workflowGroup.description}}
          </mat-cell>
        </ng-container>


        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>{{ 'TABLE.ACTIONS' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let workflowGroup">
            <ng-template ngxPermissionsOnly="canEditWorkflowGroup">
              <button color="primary" matTooltip="{{ 'TABLE.UPDATE' | translate }}"
                      (click)="updateWorkflowGroup(workflowGroup)"
                      class="btn btn-icon btn-light btn-hover-primary btn-sm margin-2">
                <span class="svg-icon svg-icon-md svg-icon-primary">
                  <span inlineSVG="./assets/media/svg/icons/General/edit_icon.svg"></span>
                </span>
              </button>
            </ng-template>
            <ng-template ngxPermissionsOnly="canSoftDeleteWorkflowGroup">
              <button color="danger" matTooltip="{{ 'TABLE.DELETE' | translate }}" (click)="deleteWorkflowGroup(workflowGroup)" class="btn btn-icon btn-light btn-hover-danger btn-sm margin-2">
                <span class="svg-icon svg-icon-md svg-icon-danger">
                  <span inlineSVG="./assets/media/svg/icons/General/delete_icon.svg"></span>
                </span>
              </button>
            </ng-template>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns" class="sticky-header"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <div class="mat-table__message" *ngIf="!dataSource.hasItems">{{ 'TABLE.NO_RECORDS' | translate }}</div>
      <!-- Message for empty data  -->
      <div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">
        {{ 'TABLE.PLAESE_WAIT' | translate }}</div>
    </div>


  </kt-portlet-body>
  <!-- end::Body -->
</kt-portlet>
