<div class="card card-custom" [ngClass]="{ 'card-body-progress card-body-progress-overlay' : viewLoading }">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">{{getTitle()}}</h3>
    </div>
  </div>
  <form class="form" [formGroup]="workflowGroupForm">
    <div class="navi-hover scroll card-body" [perfectScrollbar]="{wheelPropagation :false}">

      <div class="card-body-progress">
        <mat-spinner [diameter]="20"></mat-spinner>
      </div>

      <kt-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true"
                (close)="onAlertClose()">
        <span translate="GLOBAL.FORM_ERROR"></span>
      </kt-alert>

      <div class="form-group row">
        <div class="col-lg-6 kt-margin-bottom-20-mobile">
          <mat-form-field appearance="fill" class="mat-form-field-fluid">
            <mat-label translate="EVENTACTION.INPUT.ACTION_NAME">Action name</mat-label>
            <input matInput formControlName="name"/>
            <mat-error *ngIf="workflowGroupForm.controls['name'].hasError('required')">
              <span translate="EVENTACTION.FORM.NAME">name is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6 kt-margin-bottom-20-mobile">
          <mat-form-field appearance="fill" class="mat-form-field-fluid">
            <mat-label translate="WORKFLOW.INPUT.COMPANY_NAME">Company</mat-label>
            <mat-select formControlName="companyId">
              <mat-option disabled hidden value=""></mat-option>
              <mat-option *ngFor="let company of companies" [value]="company.id">
                {{company.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="workflowGroupForm.controls['companyId'].hasError('required')">
              <span translate="EVENTACTION.FORM.COMPANY">company is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <mat-form-field appearance="fill" class="mat-form-field-fluid"
                        class="col-lg-12 kt-margin-bottom-20-mobile example-chip-list">
          <mat-label translate="WORKFLOW_GROUP.EDIT.STATUS">New Status</mat-label>
          <mat-chip-list formControlName="states" #chipList aria-label="Status selection">

            <mat-chip *ngFor="let state of states;let i=index"
                      [removable]="removable" (removed)="remove(state)"
                      style="margin-right: 15px;" [ngStyle]="{ backgroundColor: '#00aaff',color: '#FFFFFF'}">
              <input type="checkbox" style="width: 18px;height: 18px;margin-right:5px"
                     matTooltip="Hidden" (change)="checkVisible($event,i,state)" [checked]="workflowGroup.id ? state.hidden:false"
                     [readOnly]="workflowGroup.id === 0 ? false:true">
              {{i + 1}}- {{state.status}}
              <mat-icon matChipRemove *ngIf="removable && !edit">cancel</mat-icon>
            </mat-chip>
            <input [disabled]="edit" [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="addOnBlur"
                   (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
          <mat-error *ngIf="workflowGroupForm.controls['states'].hasError('required')">
            <span>States is required</span>
          </mat-error>
        </mat-form-field>
        <div class="col-lg-12 kt-margin-bottom-20-mobile mb-3">
          <mat-form-field class="mat-form-field-fluid" appearance="fill">
            <mat-label>Filter Schema</mat-label>
            <textarea matInput formControlName="schema" rows="7"></textarea>
            <mat-error *ngIf="workflowGroupForm.controls['schema'].hasError('required')">
              {{ "AUTH.VALIDATION.REQUIRED_FIELD" | translate }}
            </mat-error>
            <mat-error [hidden]="workflowGroupForm.get('schema').pristine || workflowGroupForm.get('schema').valid">
              Please insert a valid JSON.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-12 kt-margin-bottom-20-mobile">
          <mat-form-field appearance="fill" class="mat-form-field-fluid">
            <mat-label translate="EVENTACTION.INPUT.DESCRIPTION">Description</mat-label>
            <textarea matInput formControlName="description" rows="7"></textarea>
            <mat-error *ngIf="workflowGroupForm.controls['description'].hasError('required')">
              <span translate="EVENTACTION.FORM.DESCRIPTION">Description is required</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-between">
        <div class="mr-2"></div>
        <div>
          <button type="button" mat-raised-button cdkFocusInitial [mat-dialog-close]="true"
                  matTooltip="Cancel changes">
            <span translate="GLOBAL.CANCEL">Cancel</span>
          </button>&nbsp;
          <button type="button" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="viewLoading"
                  matTooltip="Save changes">
            <span translate="GLOBAL.SAVE">Save</span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
