<div class="card card-custom">
    <div class="card-header" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
      <div class="card-title">
        <h3 class="card-label" translate>{{getTitle()}}</h3>
      </div>
    </div>
    <form class="form form-group-seperator-dashed" [formGroup]="categoryForm">
      <div class="navi-hover scroll card-body " [perfectScrollbar]="{wheelPropagation :false}">
        <div class="form-group">
          <div class="row">
            <div class="col kt-margin-bottom-20-mobile">
              <mat-form-field appearance="fill" class="mat-form-field-fluid">
                <mat-label translate="CATEGORY.FORM.NAME">Name</mat-label>
                <input matInput formControlName="name">
                <mat-error translate="CATEGORY.FORM.NAME_REQUIRED">Name is required</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col kt-margin-bottom-20-mobile">
                <kt-general-autocomplete [appearance]="'fill'" [label]="'Role'" [loadItemsFunction]="searchRolesFn"
                                         [optionFormatter]="filterRoleFn" [valueFormatter]="filterRoleFn" [required]="false"
                                         [readOnly]="false" [control]="roleCtrl" [change]="selected.bind(this)"
                                         [dataPath]="'data'" [placeholder]="'Select Roles'"  [chipList]="true"
                                         [objects]="roleCtrl.value" [formatNewObjectFn]="formatNewRoleFn"
                                         #roleAutocomplete></kt-general-autocomplete>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-between">
          <div class="mr-2"></div>
          <div>
            <button (click)="close()" type="button" mat-raised-button cdkFocusInitial matTooltip="Cancel">
              <span translate="GLOBAL.CANCEL">Cancel</span>
            </button>&nbsp;
            <button type="button" mat-raised-button color="primary" [disabled]="clicked" (click)="onSubmit();" matTooltip="Create">
              <span translate="GLOBAL.SAVE">Save</span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
