<div class="card card-custom">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Create Task</h3>
    </div>
  </div>
  <div class="navi-hover scroll card-body " [perfectScrollbar]="{wheelPropagation :false}">
    <mat-form-field class="w-100 py-1">
      <mat-label>Select an option</mat-label>
      <mat-select [(value)]="isFromTemplate">
        <mat-option [value]="false">Create without template</mat-option>
        <mat-option [value]="true">Choose a template</mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="isFromTemplate" class="py-1">
      <kt-general-autocomplete [appearance]="'standard'" [label]="'Team/Category'" [loadItemsFunction]="categoryAutocompleteCall" [optionFormatter]="filterCategoryFn" [valueFormatter]="filterCategoryFn" [required]="true" [readOnly]="false" [control]="categoryInput" [change]="onCategoryChange.bind(this)" [dataPath]="'data'" [placeholder]="'Select'" #categoryAutocomplete></kt-general-autocomplete>
    </div>
    <div *ngIf="isFromTemplate && categoryInput.value && categoryInput.value.id" class="py-1">
      <kt-general-autocomplete [appearance]="'standard'" [label]="'Template'" [loadItemsFunction]="templateAutocompleteCall" [optionFormatter]="filterTemplateFn" [valueFormatter]="filterTemplateFn" [required]="true" [readOnly]="false" [control]="templateInput" [change]="onTemplateChange.bind(this)" [dataPath]="'data'" [placeholder]="'Select Template'" #templateAutocomplete></kt-general-autocomplete>
    </div>
  </div>
  <div class="card-footer">
    <div class="d-flex justify-content-between">
      <div class="mr-2"></div>
      <div>
        <button mat-button (click)="dialogRef.close()">Cancel</button>
        <button [disabled]="isFromTemplate && (!templateInput.value || (templateInput.value && !templateInput.value.id))" mat-raised-button color="primary" (click)="submit()">Submit</button>
      </div>
    </div>
  </div>
</div>
