<!-- begin:: Error -->
<div class="error error-3 d-flex flex-row-fluid bgi-size-cover bgi-position-center" style="background-image: url(./assets/media/error/bg3.jpg); height: 100%;">
<!--	<img class="aplos-icon m-5" src="./assets/media/error/logo.png">-->
  <!--begin::Content-->
  <div class="px-10 px-md-30 py-10 py-md-30 d-flex flex-column">
    <h1 class="error-title font-weight-boldest text-danger mt-10 mt-md-0 mb-10">Oops!</h1>
    <p class="display-4 font-weight-bold text-white mb-8">
      You don't have permission
    </p>
    <p class="h4 text-white mb-8">
      You can go back or use our Help Center
    </p>
		<div class="ml-16">
			<a routerLink="/"><button type="button" class="btn mr-5 btn-outline-light text-white">Return Home</button></a>
		</div>
  </div>
  <!--end::Content-->
</div>
<!-- end:: Error -->
