<div class="card card-custom">
  <div class="card-header" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <div class="card-title">
      <h3 class="card-label" translate>{{getTitle()}}</h3>
    </div>
  </div>
  <form class="form form-group-seperator-dashed" [formGroup]="contactForm">
    <div class="navi-hover scroll card-body " [perfectScrollbar]="{wheelPropagation :false}">
      <div class="card-body-progress">
        <mat-spinner [diameter]="20"></mat-spinner>
      </div>
      <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="false" [duration]="10000">
        {{ "AUTH.VALIDATION.INVALID_OR_REQUIRED" | translate }}
      </kt-alert>
      <div class="form-group">
        <div class="row">

          <div class="col-lg-6 kt-margin-bottom-20-mobile">
            <mat-form-field appearance="fill" class="mat-form-field-fluid">
              <mat-label translate="CONTACT.FORM.FIRSTNAME">First Name</mat-label>
              <input matInput formControlName="firstname">
              <mat-error>
                Firstname is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-lg-6 kt-margin-bottom-20-mobile">
            <mat-form-field appearance="fill" class="mat-form-field-fluid">
              <mat-label translate="CONTACT.FORM.LASTNAME">Last Name</mat-label>
              <input matInput formControlName="lastname">
              <mat-error>
                Lastname is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-lg-6 kt-margin-bottom-20-mobile">
            <mat-form-field appearance="fill" class="mat-form-field-fluid">
              <mat-label translate="CONTACT.FORM.LASTNAME_MATERNAL">Last Name Maternal</mat-label>
              <input matInput formControlName="lastname2">

            </mat-form-field>
          </div>
          <div class="col-lg-6 kt-margin-bottom-20-mobile">
            <mat-form-field class="mat-form-field-fluid" appearance="fill">
              <mat-label>{{ "PATIENT.INPUT.DOB" | translate }}</mat-label>
              <input matInput [matDatepicker]="dob" formControlName="dob">
              <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
              <mat-datepicker #dob></mat-datepicker>
              <mat-error *ngIf="isControlHasError('dob', 'required')">
                {{ "PATIENT.INPUT.DOB" | translate }}
                <strong>{{ "PATIENT.VALIDATION.REQUIRED" | translate }}</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-6 kt-margin-bottom-20-mobile">
            <mat-form-field appearance="fill" class="mat-form-field-fluid">
              <mat-label translate="CONTACT.FORM.ENTITY_TYPE">Entity Type</mat-label>
              <mat-select formControlName="entity_type">
                <mat-option value="DOCTOR">Doctor</mat-option>
                <mat-option value="PATIENT">Patient</mat-option>
                <mat-option value="FACILITY">Facility</mat-option>
              </mat-select>
            </mat-form-field>
          </div>



          <div class="col-lg-6 kt-margin-bottom-20-mobile">
            <mat-form-field appearance="fill" class="mat-form-field-fluid">
              <mat-label translate="CONTACT.FORM.EMAIL">Email</mat-label>
              <input matInput type="email" formControlName="email">
              <mat-error *ngIf="isControlHasError('email','email')">
                Email is not valid
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-6 kt-margin-bottom-20-mobile">
            <mat-form-field appearance="fill" class="mat-form-field-fluid">
              <mat-label translate="CONTACT.FORM.CELLPHONE">Cell Phone</mat-label>
              <input matInput type="tel" formControlName="cell_phone" maxlength="14" appPhoneMask>
              <mat-error *ngIf="isControlHasError('cell_phone', 'pattern')">
                Cell Phone is invalid
              </mat-error>
              <mat-error *ngIf="isControlHasError('cell_phone', 'required')">
                cell phone is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-6 kt-margin-bottom-20-mobile">
            <mat-form-field appearance="fill" class="mat-form-field-fluid">
              <mat-label translate="CONTACT.FORM.HOMEPHONE">Home Phone</mat-label>
              <input matInput type="tel" formControlName="home_phone" maxlength="14" appPhoneMask>
              <mat-error *ngIf="isControlHasError('home_phone', 'pattern')">
                Home Phone is invalid
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-6 kt-margin-bottom-20-mobile">
            <mat-form-field appearance="fill" class="mat-form-field-fluid">
              <mat-label translate="CONTACT.FORM.FAX">Fax</mat-label>
              <input matInput type="tel" formControlName="fax" maxlength="14" appPhoneMask>
              <mat-error *ngIf="isControlHasError('fax', 'pattern')">
                Fax is invalid
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-lg-6 kt-margin-bottom-20-mobile">
            <mat-form-field appearance="fill" class="mat-form-field-fluid">
              <mat-label translate="CONTACT.FORM.STATE">State</mat-label>
              <input matInput formControlName="state" maxlength="2">
              <mat-error *ngIf="isControlHasError('state', 'pattern')">
                {{ "AUTH.VALIDATION.INVALID_STATE" | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-6 kt-margin-bottom-20-mobile">
            <mat-form-field appearance="fill" class="mat-form-field-fluid">
              <mat-label translate="CONTACT.FORM.CITY">City</mat-label>
              <input matInput formControlName="city">
              <mat-error>
                City is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-6 kt-margin-bottom-20-mobile">
            <mat-form-field appearance="fill" class="mat-form-field-fluid">
              <mat-label translate="CONTACT.FORM.ZIP">Zip</mat-label>
              <input matInput formControlName="zip"  maxlength="5">
              <mat-error *ngIf="isControlHasError('zip', 'required')">
                Zip Code is required
              </mat-error>
              <mat-error *ngIf="isControlHasError('zip', 'pattern')">
                Zip Code is invalid
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-lg-6 kt-margin-bottom-20-mobile">
            <mat-form-field appearance="fill" class="mat-form-field-fluid">
              <mat-label translate="CONTACT.FORM.ADDRESS1">Address1</mat-label>
              <textarea matInput rows="4" formControlName="address1"></textarea>
              <mat-error *ngIf="isControlHasError('address1', 'required')">
                Address1 is required
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-lg-6 kt-margin-bottom-20-mobile">
            <mat-form-field appearance="fill" class="mat-form-field-fluid">
              <mat-label translate="CONTACT.FORM.ADDRESS2">Address2</mat-label>
              <textarea matInput rows="4" formControlName="address2"></textarea>
            </mat-form-field>
          </div>
          <div class="col-lg-12 kt-margin-bottom-20-mobile">
            <div class="mat-form-field-fluid">
              <mat-label class="row ml-1" translate="CONTACT.FORM.CONTACT_STATUS">Contact Status</mat-label>
              <mat-slide-toggle class="mr-2" formControlName="isActive"></mat-slide-toggle>
              <mat-hint align="start">
                <strong>{{ getStatusString() }}</strong>
              </mat-hint>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-between">
        <div class="mr-2"></div>
        <div>
          <button (click)="close()" type="button" mat-raised-button cdkFocusInitial matTooltip="Cancel">
            <span translate="GLOBAL.CANCEL">Cancel</span>
          </button>&nbsp;
          <button type="button" mat-raised-button color="primary" [disabled]="clicked" (click)="onSubmit();" matTooltip="Create">
            <span translate="GLOBAL.SAVE">Save</span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
