<kt-portlet>
  <kt-portlet-header [class]="'card-head-lg'" [viewLoading$]="dataSource.loading$">
    <!-- PORTLET LOADING | Binded to TABLE Datasource -->

    <ng-container ktPortletTitle>
      <span translate="COMPANY.COMPANIES_LIST">Companies List</span>
    </ng-container>

    <ng-container ktPortletTools>
      <div>
        <ng-template ngxPermissionsOnly="canAddCompany">
          <button (click)="addCompany()" mat-raised-button matTooltip="Create new company" color="primary" type="button">
            <span class="svg-icon-md" translate="COMPANY.NEW_COMPANY">
              <span inlineSVG="./assets/media/svg/icons/General/add_circle_icon.svg"></span>
              New Company
            </span>
          </button>
        </ng-template>
      </div>
    </ng-container>
  </kt-portlet-header>
  <!-- end::Header -->

  <kt-portlet-body>
    <!-- start::FILTERS & GROUP ACTIONS -->
    <div class="form mb-3">
      <!-- start::FILTERS -->
      <div class="form-filtration">
        <div class="row align-items-center">
          <div class="col-md-2 kt-margin-bottom-10-mobile">
              <mat-form-field class="mat-form-field-fluid" appearance="fill">
                  <mat-label>{{ 'GLOBAL.STATUS' | translate }}</mat-label>
                  <mat-select [(value)]="filterStatus" (selectionChange)="loadCompaniesList()" placeholder="{{ 'GLOBAL.STATUS' | translate }}">
                      <mat-option value="">{{ 'GLOBAL.ALL' | translate }}</mat-option>
                      <mat-option value="true">{{ 'GLOBAL.ACTIVE' | translate }}</mat-option>
                      <mat-option value="false">{{ 'GLOBAL.INACTIVE' | translate }}</mat-option>
                  </mat-select>
                  <mat-hint align="start">
                      <strong>{{ 'GLOBAL.FILTER' | translate }}</strong> {{ 'GLOBAL.BY_STATUS' | translate
                      }}
                  </mat-hint>
              </mat-form-field>
          </div>
          <div class="col-md-2 kt-margin-bottom-10-mobile">
              <mat-form-field class="mat-form-field-fluid" appearance="fill">
                  <mat-label>{{ 'TABLE.SEARCH' | translate }}</mat-label>
                  <input matInput placeholder="{{ 'TABLE.SEARCH' | translate }}" #searchInput placeholder="Search">
                  <mat-hint align="start">
                      <strong>{{ 'TABLE.SEARCH' | translate }}</strong> {{ 'TABLE.IN_ALL_FIELDS' | translate }}
                  </mat-hint>
              </mat-form-field>
          </div>

        </div>
      </div>
      <!-- end::FILTERS -->

      <!-- start::GROUP ACTIONS -->
      <!-- Group actions list: 'Delete selected' | 'Fetch selected' | 'Update status for selected' -->
      <div class="row align-items-center collapse form-group-actions kt-margin-top-20 kt-margin-bottom-20" [ngClass]="{'show' : selection.selected.length > 0}">
        <!-- We show 'Group Actions' div if smth are selected -->
        <div class="col-xl-12">
          <div class="form-group form-group-inline">
            <div class="form-label form-label-no-wrap">
              <label class="font-bold font-danger">
                <span translate="GLOBAL.SELECTED_RECORDS_COUNT">Selected records count: </span>
                {{ selection.selected.length }}
              </label>
              <!-- selectedCountsTitle => function from codeBehind (company-list.component.ts file) -->
              <!-- selectedCountsTitle => just returns title of selected items count -->
              <!-- for example: Selected records count: 4 -->
            </div>
            <div>
              <ng-template ngxPermissionsOnly="canSoftDeleteCompany">
                <button (click)="deleteCompanies()" mat-raised-button color="warn" matTooltip="Delete selected companies" class="mat-button-mt-4 margin-2">
                  <mat-icon>delete</mat-icon>
                  <span translate="GLOBAL.DELETE_ALL">Delete All</span>
                </button>
              </ng-template>
              <!-- Call 'delete-entity-dialog' from _shared folder -->

              <button (click)="fetchCompanies()" mat-raised-button matTooltip="Fetch selected companies" class="mat-button-mt-4">
                <mat-icon>clear_all</mat-icon>
                <span translate="GLOBAL.FETCH_SELECTED">Fetch Selected</span>
              </button>&nbsp;
              <!-- Call 'fetch-entity-dialog' from _shared folder -->
              <ng-template ngxPermissionsOnly="canActivateCompany">
                <button (click)="updateStatusForCompanies()" mat-raised-button matTooltip="Update status for selected companies" class="mat-button-mt-4">
                  <mat-icon>update</mat-icon>
                  <span translate="GLOBAL.UPDATE_STATUS">Update Status</span>
                </button>
              </ng-template><!-- Call 'update-stated-dialog' from _shared folder -->
            </div>
          </div>
        </div>
      </div>
      <!-- end::GROUP ACTIONS -->
    </div>
    <!-- end::FILTERS & GROUP ACTIONS -->

    <!-- MATERIAL TABLE | Binded to datasources -->
    <div class="mat-table-wrapper">
      <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource" matSort #sort1="matSort" matSortActive="id" matSortDirection="asc" matSortDisableClear>
        <!-- Checkbox Column -->

        <!-- Table with selection -->
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [color]="'primary'">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="mat-column-checkbox">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [color]="'primary'">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="id">
          <!-- ATTRIBUTE mat-sort-header  for sorting -->
          <mat-header-cell *matHeaderCellDef mat-sort-header translate="COMPANY.TABLE.ID">ID</mat-header-cell>
          <mat-cell *matCellDef="let company">{{company.id}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header translate="COMPANY.TABLE.NAME">Name</mat-header-cell>
          <mat-cell *matCellDef="let company">{{company.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="admin">
          <mat-header-cell *matHeaderCellDef mat-sort-header translate="COMPANY.TABLE.ADMIN">Admin</mat-header-cell>
          <mat-cell *matCellDef="let company">{{ getAdminName(company.adminID) }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="isActive">
          <mat-header-cell *matHeaderCellDef mat-sort-header translate="COMPANY.TABLE.STATUS">Status</mat-header-cell>
          <mat-cell *matCellDef="let company">
            <span class="label label-lg label-light-{{ getItemCssClassByStatus(company.isActive) }} label-inline">{{  getItemStatusString(company.isActive) }}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef translate="TABLE.ACTIONS">Actions</mat-header-cell>
          <mat-cell *matCellDef="let company">
            <ng-template ngxPermissionsOnly="canViewCompany">
              <button color="success" matTooltip="View Company" (click)="viewCompany(company)" class="btn btn-icon btn-light btn-hover-success btn-sm margin-2">
                <span class="svg-icon svg-icon-md svg-icon-success">
                  <span inlineSVG="./assets/media/svg/icons/General/visible.svg"></span>
                </span>
              </button>
            </ng-template>
            <ng-template ngxPermissionsOnly="canEditCompany">
              <button color="primary" matTooltip="Edit Company" (click)="editCompany(company)" class="btn btn-icon btn-light btn-hover-primary btn-sm margin-2">
                <span class="svg-icon svg-icon-md svg-icon-primary">
                  <span inlineSVG="./assets/media/svg/icons/General/edit_icon.svg"></span>
                </span>
              </button>
            </ng-template>
            <ng-template ngxPermissionsOnly="canActivateCompany">
              <button color="warning" matTooltip="Activate/Deactivate Company" (click)="updateStatusForCompany(company)" class="btn btn-icon btn-light btn-hover-warning btn-sm margin-2">
                <span class="svg-icon svg-icon-md svg-icon-warning">
                  <span inlineSVG="./assets/media/svg/icons/General/update_icon2.svg"></span>
                </span>
              </button>
            </ng-template>
            <ng-template ngxPermissionsOnly="canSoftDeleteCompany">
              <button color="danger" matTooltip="Delete Company" (click)="deleteCompany(company)" class="btn btn-icon btn-light btn-hover-danger btn-sm margin-2">
                <span class="svg-icon svg-icon-md svg-icon-danger">
                  <span inlineSVG="./assets/media/svg/icons/General/delete_icon.svg"></span>
                </span>
              </button>
            </ng-template>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns" class="sticky-header"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <!-- Message for empty data  -->
      <div class="mat-table-message" *ngIf="!dataSource.hasItems" translate="GLOBAL.NO_RECORDS_FOUND">No Records Found</div>
      <div class="mat-table-message" *ngIf="dataSource.isPreloadTextViewed$ | async" translate="GLOBAL.PLEASE_WAIT">Please Wait...</div>
    </div>

    <!-- start: BOTTOM -->
    <div class="mat-table-bottom">
      <!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
      <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
      <!-- MATERIAL PAGINATOR | Binded to dasources -->
      <!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
    </div>
    <!-- end: BOTTOM -->
  </kt-portlet-body>
  <!-- end::Body -->

</kt-portlet>
