<!--begin: Quick actions -->
<div ngbDropdown placement="bottom-right" autoClose="outside" class="dropdown dropdown-fluid" ngbTooltip="Communications">
  <!--begin::Toggle-->
  <div ngbDropdownToggle class="topbar-item">
    <div class="btn btn-icon btn-clean btn-dropdown btn-lg mr-1">
      <ng-container *ngIf="!useSVG">
        <i [ngClass]="icon"></i>
      </ng-container>
      <ng-container *ngIf="useSVG">
        <span class="svg-icon svg-icon-xl svg-icon-primary" [inlineSVG]="icon"></span>
      </ng-container>
    </div>
  </div>
  <!--end::Toggle-->

  <!--begin::Dropdown-->
  <div ngbDropdownMenu class="dropdown-menu p-0 m-0 dropdown-menu-fit dropdown-menu-right dropdown-menu-anim-up dropdown-menu-xl">
    <form>
      <!--begin: Header -->
      <div class="d-flex flex-column flex-center py-10 bgi-size-cover bgi-no-repeat rounded-top" style="background-color: #00aaff;">
        <!-- [ngStyle]="{'background-image': 'url('+bgImage+')'}" -->
        <h4 class="text-white font-weight-bold">Communications</h4>
      </div>
      <!--end: Header -->
      <!--begin: Grid Nav -->
      <div class="row row-paddingless">
        <!--begin:Item-->
        <ng-template ngxPermissionsOnly="canSendDocuments">
          <div class="col" ngbDropdownToggle>
            <div (click)="sendDocuments()" class="d-block py-10 px-5 text-center bg-hover-light border-right border-bottom">
              <span class="svg-icon svg-icon-3x svg-icon-success" [inlineSVG]="'./assets/media/svg/icons/Files/Upload-folder.svg'"></span>
              <span class="d-block text-dark-75 font-weight-bold font-size-h6 mt-2 mb-1">Send Documents</span>
            </div>
          </div>
        </ng-template>
        <!--end:Item-->
        <!--begin:Item-->
        <ng-template ngxPermissionsOnly="canSendEmail">
          <div class="col" ngbDropdownToggle>
            <div (click)="newEmailFax('EMAIL')" class="d-block py-10 px-5 text-center bg-hover-light border-bottom">
              <span class="svg-icon svg-icon-3x svg-icon-success" [inlineSVG]="'./assets/media/svg/icons/Communication/Sending mail.svg'"></span>
              <span class="d-block text-dark-75 font-weight-bold font-size-h6 mt-2 mb-1">New Email</span>
            </div>
          </div>
        </ng-template>
        <!--end:Item-->
      </div>
      <div class="row row-paddingless">
        <!--begin:Item-->
        <ng-template ngxPermissionsOnly="canSendFax">
          <div class="col" ngbDropdownToggle>
            <div (click)="newEmailFax('FAX')" class="d-block py-10 px-5 text-center bg-hover-light border-right border-bottom">
              <span class="svg-icon svg-icon-3x svg-icon-success" [inlineSVG]="'./assets/media/svg/icons/Communication/fax-top-view.svg'"></span>
              <span class="d-block text-dark-75 font-weight-bold font-size-h6 mt-2 mb-1">New Fax</span>
            </div>
          </div>
        </ng-template>
        <!--end:Item-->
        <!--begin:Item-->
        <ng-template ngxPermissionsOnly="canSendMessage">
          <div class="col" ngbDropdownToggle>
            <div (click)="newMessage()" class="d-block py-10 px-5 text-center bg-hover-light border-bottom">
              <span class="svg-icon svg-icon-3x svg-icon-success" [inlineSVG]="'./assets/media/svg/icons/Communication/Chat1.svg'"></span>
              <span class="d-block text-dark-75 font-weight-bold font-size-h6 mt-2 mb-1">New Message</span>
            </div>
          </div>
        </ng-template>
        <!--end:Item-->
      </div>
    </form>
  </div>
  <!--end::Dropdown-->
</div>
<!--end: Quick actions -->
