<kt-portlet>
    <!-- PORTLET LOADING | Binded to TABLE Datasource -->
    <!-- See prop => '~/core/_crud/models/data-sources/_base.datasource.ts' (loading$) -->
    <kt-portlet-header title="{{ 'TABLE.MESSAGE_LIST' | translate }}" [class]="'card-head-lg'"
        [viewLoading$]="dataSource.loading$">
        <ng-container ktPortletTools>
            <div>
                <!-- <ng-template ngxPermissionsOnly="canAddMessage"> -->
                    <button [routerLink]="['../messages/add']" mat-raised-button matTooltip="Create new Message"
                        color="primary" type="button">
                        <span class="svg-icon-md" translate>
                            <span inlineSVG="./assets/media/svg/icons/General/add_circle_icon.svg"></span>
                            {{ 'TABLE.ADD_MESSAGE' | translate }}</span>
                    </button>


                        <!-- </ng-template> -->
            </div>
        </ng-container>
    </kt-portlet-header>
    <!-- end::Header -->

    <!-- start::Body (attribute: ktPortletBody) -->
    <kt-portlet-body>
        <!-- start::FILTERS & GROUP ACTIONS -->
        <div class="form kt-margin-b-30">
            <!-- start::FILTERS -->
            <div class="form-filtration">
                <div class="row align-items-center">

                    <div class="col-md-3 kt-margin-bottom-10-mobile">
                        <mat-form-field class="mat-form-field-fluid" appearance="fill">
                            <mat-label>{{ 'TABLE.SEARCH' | translate }}</mat-label>
                            <input matInput placeholder="{{ 'TABLE.SEARCH' | translate }}" #searchInput
                                placeholder="Search">
                            <mat-hint align="start">
                                <strong>{{ 'TABLE.SEARCH' | translate }}</strong>
                                {{ 'TABLE.IN_ALL_FIELDS' | translate }}
                            </mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <!-- end::FILTERS -->

            <!-- start::GROUP ACTIONS -->
            <!-- Group actions list: 'Delete selected' | 'Fetch selected' | 'Update status for selected' -->
            <!-- Group actions are shared for all LISTS -->
            <div class="row align-items-center collapse form-group-actions kt-margin-top-20 kt-margin-bottom-20"
                [ngClass]="{'show' : selection.selected.length > 0}">
                <!-- We show 'Group Actions' div if smth are selected -->
                <div class="col-xl-12">
                    <div class="form-group form-group-inline">
                        <div class="form-label form-label-no-wrap">
                            <label class="font-bold font-danger-">
                                <span translate="GLOBAL.SELECTED_RECORDS_COUNT"></span> {{ selection.selected.length }}
                            </label>
                            <!-- selectedCountsTitle => function from codeBehind (messages-list.component.ts file) -->
                            <!-- selectedCountsTitle => just returns title of selected items count -->
                            <!-- for example: Selected records count: 4 -->
                        </div>
                        <div class="kt-form__control kt-form__group--inline">
                            <button (click)="deleteMessages()" mat-raised-button matTooltip="Delete selected messages"
                                class=" btn btn-danger">
                                <mat-icon>delete</mat-icon>
                                {{ 'TABLE.DELETE' | translate }}
                            </button>&nbsp;

                        </div>
                    </div>
                </div>
            </div>
            <!-- end::GROUP ACTIONS -->
        </div>
        <!-- end::FILTERS & GROUP ACTIONS -->

        <!-- MATERIAL TABLE | Binded to datasources -->
        <!-- See off.documentations 'https://material.angular.io/components/table/overview' -->
        <div class="mat-table-wrapper">
            <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource" matSort #sort1="matSort"
                matSortActive="id" matSortDirection="asc" matSortDisableClear>
                <!-- Checkbox Column -->

                <!-- Table with selection -->
                <!-- https://run.stackblitz.com/api/angular/v1?file=app%2Ftable-selection-example.ts -->

                <ng-container matColumnDef="select">
                    <mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()" [color]="'primary'">
                        </mat-checkbox>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="mat-column-checkbox">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                            [color]="'primary'">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>



                <ng-container matColumnDef="to">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'MESSAGE.INPUT.RECEIVER' | translate }}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let message">{{message.sender_email}}</mat-cell>
                </ng-container>



                <ng-container matColumnDef="text">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'MESSAGE.INPUT.TEXT' | translate }}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let message">{{message.body}} </mat-cell>
                </ng-container>

                <!-- <ng-container matColumnDef="file">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'MESSAGE.INPUT.FILE' | translate }}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let message">{{message.attchment_names}}</mat-cell>
                </ng-container>
 -->

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>{{ 'TABLE.ACTIONS' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let message">


                        <!-- <ng-template ngxPermissionsOnly="canViewMessage"> -->
                        <button color="success" matTooltip="{{ 'TABLE.VIEW' | translate }}"
                            (click)="viewMessage(message)" class="btn btn-icon btn-light btn-hover-success btn-sm ">
                            <span class="svg-icon svg-icon-md svg-icon-success">
                                <span inlineSVG="./assets/media/svg/icons/General/visible.svg"></span>
                            </span>
                        </button>

                        <!-- </ng-template> -->
                        &nbsp;
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>
            <div class="mat-table__message" *ngIf="!dataSource.hasItems">{{ 'TABLE.NO_RECORDS' | translate }}</div>
            <!-- Message for empty data  -->
            <div class="mat-table__message" *ngIf="dataSource.isPreloadTextViewed$ | async">
                {{ 'TABLE.PLAESE_WAIT' | translate }}</div>
        </div>

        <!-- start: BOTTOM -->
        <div class="mat-table__bottom">
            <!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
            <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
            <!-- MATERIAL PAGINATOR | Binded to dasources -->
            <!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
            <mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [length]="dataSource.paginatorTotal$ | async"
                [showFirstLastButtons]="true"></mat-paginator>
        </div>
        <!-- end: BOTTOM -->
    </kt-portlet-body>
    <!-- end::Body -->
</kt-portlet>
