<kt-portlet>
  <kt-portlet-header [class]="'card-head-lg'">
    <!-- PORTLET LOADING | Binded to TABLE Datasource -->

    <ng-container ktPortletTitle>
      <span translate="ENTITY.ENTITY_LIST">Entity List</span>
    </ng-container>

    <ng-container ktPortletTools>
      <div>
        <!--        <ng-template ngxPermissionsOnly="canAddCompany">-->
        <button (click)="addEntity()" mat-raised-button matTooltip="Create new entity" color="primary" type="button">
            <span class="svg-icon-md" >
              <span inlineSVG="./assets/media/svg/icons/General/add_circle_icon.svg"></span>
              New Entity
            </span>
        </button>
        <!--        </ng-template>-->
      </div>
    </ng-container>
  </kt-portlet-header>
  <!-- end::Header -->

  <kt-portlet-body>
    <!-- MATERIAL TABLE | Binded to datasources -->
    <div class="mat-table-wrapper">
      <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource" matSort #sort="matSort" matSortActive="id"
                 matSortDirection="asc" matSortDisableClear>

        <ng-container *ngFor="let component of schema.components">
          <ng-container [matColumnDef]="component.key">
            <!-- ATTRIBUTE mat-sort-header  for sorting -->
            <mat-header-cell *matHeaderCellDef>{{component.label}}</mat-header-cell>
            <mat-cell *matCellDef="let entity">{{getValue(component, entity)|json}}</mat-cell>
          </ng-container>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns" class="sticky-header"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <!-- Message for empty data  -->
      <div class="mat-table-message" *ngIf="!dataSource.hasItems" translate="GLOBAL.NO_RECORDS_FOUND">No Records Found
      </div>
      <div class="mat-table-message" *ngIf="dataSource.isPreloadTextViewed$ | async" translate="GLOBAL.PLEASE_WAIT">
        Please Wait...
      </div>
    </div>

    <!-- start: BOTTOM -->
    <div class="mat-table-bottom">
      <!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
      <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
      <!-- MATERIAL PAGINATOR | Binded to dasources -->
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [length]="dataSource.paginatorTotal$ | async"
                     [showFirstLastButtons]="true"></mat-paginator>
    </div>
    <!-- end: BOTTOM -->
  </kt-portlet-body>
  <!-- end::Body -->

</kt-portlet>
