<kt-portlet class="edit-doctor-div">
  <kt-portlet-header  [title]="getComponentTitle()" class="cards-inside-doctor-form card-head-lg card-head" [viewLoading$]="loading$">
    <ng-container ktPortletTools>
      <ng-template ngxPermissionsOnly='canMergeContact'>
      <button *ngIf="contact && contact.id !== 0" class="mr-2" mat-button  matTooltip="Merge contacts" (click)="mergeContact()">Merge</button>
      </ng-template>
      <a (click)="goBack()" class="btn btn-secondary mr-2" mat-raised-button
         matTooltip="Back to the contacts list">
        <i class="la la-arrow-left"></i>
        <span class="hidden-mobile" translate="GLOBAL.BACK">Back</span>
      </a>
      <a *ngIf="!isViewMode && contact && !contact.id"  class="btn btn-secondary mr-2"
         (click)="reset()"
         [disabled]="selectedTab !== 0" mat-raised-button matTooltip="Reset changes">
        <i class="la la-cog"></i>
        <span class="hidden-mobile" translate="GLOBAL.RESET">Reset</span>
      </a>
      <a  class="btn btn-primary mr-2" color="primary" (click)="onSubmit(false)"
         mat-raised-button matTooltip="Save & Continue">
        <span class="hidden-mobile" translate="GLOBAL.SAVE">Save</span>
      </a>
    </ng-container>
  </kt-portlet-header>

    <mat-tab-group [(selectedIndex)]="selectedTab" *ngIf="contact" class="cards-inside-doctor-form-tab">
      <mat-tab>
        <ng-template mat-tab-label>
          <i class="mat-tab-label-icon fas fa-info"></i>
          General Info
        </ng-template>
        <ng-template matTabContent>
          <div *ngIf="contact">
            <!--begin::Form-->
            <form [formGroup]="contactForm" class="form form-group-seperator-dashed">

              <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
                        (close)="onAlertClose($event)">
                <span translate="GLOBAL.FORM_ERROR">Oh snap! Change a few things up and try submitting again.</span>
              </kt-alert>

              <kt-alert *ngIf="hasSubmissionErrors && !hasFormErrors" type="warn" [duration]="30000"
                        [showCloseButton]="true" (close)="onAlertClose($event)">
                <ul>
                  <li *ngFor="let err of submissionErrorObj">{{err.error | translate}}</li>
                </ul>
              </kt-alert>
              <input type="hidden" formControlName="entity_id">

              <div class="form-section form-section-first whole-form">
                <div class="form-group row cards-inside-doctor-form">
                  <div class="col-lg-12 card-header-doctor-form">
                    <h4 translate="CONTACT.FORM.BASIC_INFO">Basic Info</h4>
                  </div>
                  <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field appearance="fill" class="mat-form-field-fluid">
                      <mat-label translate="CONTACT.FORM.FIRSTNAME">First Name</mat-label>
                      <input matInput formControlName="firstname">
                      <mat-error>
                        Firstname is
                        <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field appearance="fill" class="mat-form-field-fluid">
                      <mat-label translate="CONTACT.FORM.LASTNAME">Last Name</mat-label>
                      <input matInput formControlName="lastname">
                      <mat-error>
                        Lastname is
                        <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field appearance="fill" class="mat-form-field-fluid">
                      <mat-label translate="CONTACT.FORM.LASTNAME_MATERNAL">Last Name Maternal</mat-label>
                      <input matInput formControlName="lastname2">
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid" appearance="fill">
                      <mat-label>{{ "PATIENT.INPUT.DOB" | translate }}</mat-label>
                      <input matInput [matDatepicker]="dob" formControlName="dob" [max]="maxDate" readonly (dateChange)="setMaxDate($event)">
                      <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                      <mat-datepicker #dob></mat-datepicker>
                      <mat-error *ngIf="isControlHasError('dob', 'required')">
                        {{ "PATIENT.INPUT.DOB" | translate }}
                        <strong>{{ "PATIENT.VALIDATION.REQUIRED" | translate }}</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field appearance="fill" class="mat-form-field-fluid">
                      <mat-label translate="CONTACT.FORM.EMAIL">Email</mat-label>
                      <input matInput type="email" formControlName="email">
                      <mat-error *ngIf="isControlHasError('email','required')">
                        Email is
                        <strong>required</strong>
                      </mat-error>
                      <mat-error *ngIf="isControlHasError('email','email')">
                        Email is not valid
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field appearance="fill" class="mat-form-field-fluid">
                      <mat-label>PIN</mat-label>
                      <input matInput formControlName="pin_number" maxlength="6" minlength="4">
                      <mat-error *ngIf="isControlHasError('pin_number','pattern')">
                        <strong>PIN </strong> must be number
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 kt-margin-bottom-20-mobile" *ngIf="!contact.id">
                    <mat-form-field appearance="fill" class="mat-form-field-fluid"  >
                      <mat-label translate="CONTACT.FORM.ENTITY_TYPE">Entity Type</mat-label>
                      <mat-select formControlName="entity_type">
                        <mat-option value="DOCTOR">Doctor</mat-option>
                        <mat-option value="PATIENT">Patient</mat-option>
                        <mat-option value="FACILITY">Facility</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-3 kt-margin-bottom-20-mobile">
                    <div class="mat-form-field-fluid">
                      <mat-label class="row ml-1" translate="CONTACT.FORM.CONTACT_STATUS">Contact Status</mat-label>
                      <mat-slide-toggle class="mr-2" formControlName="isActive"></mat-slide-toggle>
                      <mat-hint align="start">
                        <strong>{{ getStatusString() }}</strong>
                      </mat-hint>
                    </div>
                  </div>
                </div>


                <div class="form-group row cards-inside-doctor-form">
                  <div class="col-lg-12 card-header-doctor-form">
                    <h4 translate="CONTACT.FORM.CONTACT_DETAILS">Contacts</h4>
                  </div>
                  <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field appearance="fill" class="mat-form-field-fluid">
                      <mat-label translate="CONTACT.FORM.HOMEPHONE">Home Phone</mat-label>
                      <input matInput type="tel" formControlName="home_phone" maxlength="14" appPhoneMask>
                      <mat-error *ngIf="isControlHasError('home_phone', 'pattern')">
                        Home Phone is invalid
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field appearance="fill" class="mat-form-field-fluid">
                      <mat-label translate="CONTACT.FORM.CELLPHONE">Cell Phone</mat-label>
                      <input matInput type="tel" formControlName="cell_phone" maxlength="14" appPhoneMask>
                      <mat-error *ngIf="isControlHasError('cell_phone', 'required')">
                        Cell Phone is
                        <strong>required</strong>
                      </mat-error>
                      <mat-error *ngIf="isControlHasError('cell_phone', 'pattern')">
                        Cell Phone is invalid
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field appearance="fill" class="mat-form-field-fluid">
                      <mat-label translate="CONTACT.FORM.FAX">Fax</mat-label>
                      <input matInput type="tel" formControlName="fax" maxlength="14" appPhoneMask>
                      <mat-error *ngIf="isControlHasError('fax', 'required')">
                        Fax is
                        <strong>required</strong>
                      </mat-error>
                      <mat-error *ngIf="isControlHasError('fax', 'pattern')">
                        Fax is invalid
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group row cards-inside-doctor-form">
                  <div class="col-lg-12 card-header-doctor-form">
                    <h4 translate="CONTACT.FORM.ADDRESS">Address</h4>
                  </div>
                  <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field class="mat-form-field-fluid" appearance="fill">
                      <mat-label>{{ "DOCTOR.INPUT.URBANIZATION" | translate }}</mat-label>
                      <input matInput formControlName="urbanization"  >
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field appearance="fill" class="mat-form-field-fluid">
                      <mat-label translate="CONTACT.FORM.ADDRESS1">Address1</mat-label>
                      <input matInput  formControlName="address1">
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field appearance="fill" class="mat-form-field-fluid">
                      <mat-label translate="CONTACT.FORM.ADDRESS2">Address2</mat-label>
                      <input matInput  formControlName="address2">
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field appearance="fill" class="mat-form-field-fluid">
                      <mat-label translate="CONTACT.FORM.CITY">City</mat-label>
                      <input matInput formControlName="city">
                      <mat-error>
                        City is
                        <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field appearance="fill" class="mat-form-field-fluid">
                      <mat-label translate="CONTACT.FORM.STATE">State</mat-label>
                      <input matInput formControlName="state" maxlength="2">
                      <mat-error *ngIf="isControlHasError('state', 'pattern')">
                        {{ "AUTH.VALIDATION.INVALID_STATE" | translate }}
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 kt-margin-bottom-20-mobile">
                    <mat-form-field appearance="fill" class="mat-form-field-fluid">
                      <mat-label translate="CONTACT.FORM.ZIP">Zip</mat-label>
                      <input matInput formControlName="zip"  maxlength="5">
                      <mat-error *ngIf="isControlHasError('zip', 'required')">
                        Zip Code is required
                      </mat-error>
                      <mat-error *ngIf="isControlHasError('zip', 'pattern')">
                        Zip Code is invalid
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>


                <div class="form-group row cards-inside-doctor-form">
                  <div class="col-lg-12 card-header-doctor-form">
                    <h4 translate="CONTACT.FORM.OTHER">Other</h4>
                  </div>
                  <div class="col-lg-12 kt-margin-bottom-20-mobile">
                    <mat-form-field appearance="fill" class="mat-form-field-fluid">
                      <mat-label translate="CONTACT.FORM.NOTE">Note</mat-label>
                      <textarea matInput rows="7" formControlName="note"></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <!--end::Form-->
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <i class="mat-tab-label-icon fas fa-project-diagram">
          </i>
          Timeline
        </ng-template>
        <ng-template matTabContent>
          <kt-contact-timeline></kt-contact-timeline>
        </ng-template>
      </mat-tab>
    </mat-tab-group>

</kt-portlet>
