<div class="pr-4 pt-3">
  <button type="button" [mat-dialog-close]="true" class="close" data-dismiss="modal" aria-hidden="true">&times;
  </button>
</div>
<div #wizard id="kt_wizard_v3" class="card-body wizard wizard-3 navi-hover   " data-wizard-state="step-first">
  <div class="kt-grid__item">
    <!--begin: Form Wizard Nav -->
    <div class="wizard-nav border-bottom mb-1 mb-lg-5">
      <div class="wizard-steps px-8 py-8 px-lg-15 py-lg-3">
        <a class="wizard-step" data-wizard-type="step" data-wizard-state="current">
          <div class="wizard-label">
            <div class="wizard-title">
              <span>0</span> {{ 'GLOBAL.PREVIEW' | translate }}
            </div>
            <div class="wizard-bar"></div>
          </div>
        </a>
        <a class="wizard-step" data-wizard-type="step">
          <div class="wizard-label">
            <div class="wizard-title">
              <span>1</span> {{ 'GLOBAL.INFORMATION' | translate }}
            </div>
            <div class="wizard-bar"></div>
          </div>
        </a>
        <a class="wizard-step" data-wizard-type="step">
          <div class="wizard-label">
            <div class="wizard-title">
              <span>2</span> {{ "EVENTACTION.MAP.MAPPING" | translate }}
            </div>
            <div class="wizard-bar"></div>
          </div>
        </a>
      </div>
    </div>
    <!--end: Form Wizard Nav -->
  </div>
  <!--begin: Form Wizard Form-->
  <kt-portlet>
    <kt-portlet-body>
      <!--begin: Form Wizard Step 0-->
      <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
        <div class="row mb-5">
          <div class="col">
            <mat-label class=" mat-display-1 card-title font-weight-bolder text-dark">{{ 'EVENTACTION.MAP.SOURCE' | translate }}</mat-label>
          </div>
          <div class="col">
            <mat-label class=" mat-display-1 card-title font-weight-bolder text-dark">{{ 'EVENTACTION.MAP.DESTINATION' | translate }}</mat-label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-formio *ngIf="!hasFormErrors1" [form]="readOnlyField1" [readOnly]="true"></mat-formio>
            <div *ngIf="hasFormErrors1" class="alert alert-danger col" role="alert">
              {{errors1}}
            </div>
          </div>
          <div class="col border-left border-dark">
            <mat-formio *ngIf="!hasFormErrors2" [form]="readOnlyField2" [readOnly]="true"></mat-formio>
            <div *ngIf="hasFormErrors2" class="alert alert-danger col" role="alert">
              {{errors2}}
            </div>
          </div>
        </div>
      </div>
      <!--end: Form Wizard Step 0-->
      <!--begin: Form Wizard Step 1-->
      <div [formGroup]="mapFormGroup" class="pb-5" data-wizard-type="step-content">
        <div class="row pl-5">
          <mat-form-field appearance="fill" class="col mat-form-field-fluid">
            <mat-label translate="EVENTACTION.INPUT.ACTION_NAME">Action name</mat-label>
            <input matInput formControlName="name" />
            <mat-error *ngIf="mapFormGroup.controls['name'].hasError('required')">
              <span translate="EVENTACTION.FORM.NAME">action name is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row pl-5">
          <mat-form-field appearance="fill" class="col mat-form-field-fluid">
            <mat-label translate="EVENTACTION.INPUT.DESCRIPTION">Description</mat-label>
            <textarea matInput formControlName="description" rows="7"></textarea>
            <mat-error *ngIf="mapFormGroup.controls['description'].hasError('required')">
              <span translate="EVENTACTION.FORM.DESCRIPTION">Description is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row pl-5">
          <div class="col-2" style="padding-left: 30px">
            <mat-label class="row" translate="EVENTACTION.INPUT.STATUS">EventAction Status</mat-label>
            <mat-slide-toggle class="row mt-2 mr-2" formControlName="isActive"></mat-slide-toggle>
            <mat-hint align="start">
              <strong>{{ getStatusString() }}</strong>
            </mat-hint>
          </div>
        </div>
      </div>
      <!--end: Form Wizard Step 1-->
      <!--begin: Form Wizard Step 2-->
      <div class="pb-5" data-wizard-type="step-content">
        <div class="row pl-1" [formGroup]="mapGroup">
          <div class="col">
            <mat-form-field class="col mat-form-field-fluid" appearance="fill">
              <mat-label> {{ "EVENTACTION.MAP.SOURCE" | translate }}</mat-label>
              <mat-select formControlName="source">
                <mat-option *ngFor="let sourceItem of sourceList" [value]="sourceItem">
                  {{sourceItem| slice:0:40}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="col p-0 mat-form-field-fluid" appearance="fill">
              <mat-label> {{ "EVENTACTION.MAP.DESTINATION" | translate }}</mat-label>
              <mat-select formControlName="destination">
                <mat-option *ngFor="let destinationItem of destinationList" [value]="destinationItem">{{destinationItem| slice:0:40}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-2">
            <button mat-raised-button color="primary" class="m-1" [disabled]="!mapGroup.valid" (click)="onMapClick()" class="btn-sm">{{ "EVENTACTION.MAP.MAPPING" | translate }}</button>
          </div>
        </div>
        <div class="mat-table-wrapper">
          <mat-table #table [dataSource]="mapDataSource" matSort #sort1="matSort" matSortActive="id" matSortDirection="asc" matSortDisableClear>
            <ng-container matColumnDef="source">
              <mat-header-cell *matHeaderCellDef>{{ "EVENTACTION.MAP.SOURCE" | translate }}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{element.source}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="destination">
              <mat-header-cell *matHeaderCellDef> {{ "EVENTACTION.MAP.DESTINATION" | translate }}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{element.destination}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef>
                {{ "EVENTACTION.EVENTACTIONS" | translate }}</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <button mat-icon-button color="warn" matTooltip="Delete" type="button" (click)="deleteMap(element)">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>
          <div *ngIf="this.mapDataSource.data.length === 0" class="mat-table__message">{{ 'TABLE.NO_RECORDS' | translate }}</div>
        </div>
      </div>
      <!--end: Form Wizard Step 2-->
      <!--begin: Form Actions -->
    </kt-portlet-body>
    <kt-portlet-footer>
      <div class="d-flex justify-content-between">
        <div class="mr-2">
          <div class="btn btn-light-primary font-weight-bold text-uppercase" data-wizard-type="action-prev">
            <span translate="GLOBAL.PREVIOUS">Previous</span>
          </div>
        </div>
        <div>
          <div [attr.disabled]="isDisabled ? true : null" (click)="onSubmit()" class="btn btn-success font-weight-bold text-uppercase" data-wizard-type="action-submit">
            <span translate="GLOBAL.SAVE">Save</span>
          </div>
          <div class="btn btn-primary font-weight-bold text-uppercase" data-wizard-type="action-next">
            <span translate="GLOBAL.NEXTSTEP">Next Step</span>
          </div>
        </div>
      </div>
    </kt-portlet-footer>
  </kt-portlet>
  <!--end: Form Wizard Form-->
</div>
