<div class="card card-custom" [ngClass]="{ 'card-body-progress card-body-progress-overlay' : viewLoading }">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">{{getTitle()}}</h3>
    </div>
  </div>
  <form class="form" [formGroup]="workflowForm">
    <div class="navi-hover scroll card-body" [perfectScrollbar]="{wheelPropagation :false}">
      <div class="card-body-progress">
        <mat-spinner [diameter]="20"></mat-spinner>
      </div>
      <kt-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true" (close)="onAlertClose()">
        <span translate="GLOBAL.FORM_ERROR"></span>
      </kt-alert>
      <!-- <mat-tab-group> -->
      <!-- <mat-tab label="Main Details"> -->
      <div class="form-group row">
        <div class="col-lg-12 kt-margin-bottom-20-mobile">
          <mat-form-field appearance="fill" class="mat-form-field-fluid">
            <mat-label translate="WORKFLOW_GROUP.WORKFLOW_GROUP">Workflow group</mat-label>
            <input matInput [matAutocomplete]="auto1" (ngModelChange)="workflowGroupInputChanged($event)" #workflowGroupInput
                   formControlName="workflowGroup">
            <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete" (optionSelected)="selectedWorkflow($event)"
                              [displayWith]="displayWorkflowGroup">
              <mat-option *ngFor="let workflowGroup of workflowGroupsAuto" [value]="workflowGroup">
                {{workflowGroup.name}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="workflowForm.controls['workflowGroup'].hasError('required')">
              <span translate="WORKFLOW.FORM.WORKFLOW_GROUP">workflow group is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-4 kt-margin-bottom-20-mobile">
          <mat-form-field appearance="fill" class="mat-form-field-fluid" >
            <mat-label translate="WORKFLOW.INPUT.NAME">Name</mat-label>
            <input matInput formControlName="name" [disabled]='true' />
            <mat-error *ngIf="workflowForm.controls['name'].hasError('required')">
              <span translate="WORKFLOW.FORM.NAME">Name is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-4 kt-margin-bottom-20-mobile">
          <kt-general-autocomplete
            [label]="'Event'"
            [loadItemsFunction]="eventAutocompleteCall"
            [optionFormatter]="filterEventFn"
            [valueFormatter]="filterEventFn"
            [required]="true"
            [readOnly]="isReadOnly"
            [control]="workflowForm.get('event_id')"
            [change]="onEventChange.bind(this)"
            [dataPath]="'data'"
            [placeholder]="'Select Event'"
            #eventAutocomplete
          ></kt-general-autocomplete>
        </div>
        <div class="col-lg-4 kt-margin-bottom-20-mobile">
          <kt-general-autocomplete
            [label]="'Category/Team'"
            [loadItemsFunction]="categoryAutocompleteCall"
            [optionFormatter]="filterCategoryFn"
            [valueFormatter]="filterCategoryFn"
            [required]="false"
            [readOnly]="isReadOnly"
            [control]="workflowForm.get('category')"
            [change]="onCategoryChange.bind(this)"
            [dataPath]="'data'"
            [placeholder]="'Select Category'"
            #categoryAutocomplete
          ></kt-general-autocomplete>
        </div>
        <div class="col-lg-12 kt-margin-bottom-20-mobile mb-3">
          <mat-form-field class="mat-form-field-fluid" appearance="fill">
            <mat-label>Card Display Schema</mat-label>
            <textarea matInput formControlName="schema" rows="7"></textarea>
            <mat-error *ngIf="workflowForm.controls['schema'].hasError('required')">
              {{ "AUTH.VALIDATION.REQUIRED_FIELD" | translate }}
            </mat-error>
            <mat-error [hidden]="workflowForm.get('schema').pristine || workflowForm.get('schema').valid">
              Please insert a valid JSON.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-12 kt-margin-bottom-20-mobile">
          <mat-form-field appearance="fill" class="mat-form-field-fluid">
            <mat-label translate="WORKFLOW.INPUT.DESCRIPTION">Description</mat-label>
            <textarea matInput formControlName="description" rows="8"></textarea>
            <mat-error *ngIf="workflowForm.controls['description'].hasError('required')">
              <span translate="WORKFLOW.FORM.DESCRIPTION">Description is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-12 kt-margin-bottom-20-mobile" style="padding-left: 30px">
          <mat-label class="row" translate="WORKFLOW.INPUT.STATUS">Workflow Status</mat-label>
          <mat-slide-toggle class="row mt-2 mr-2" formControlName="is_active"></mat-slide-toggle>
          <mat-hint align="start">
            <strong>{{ getStatusString() }}</strong>
          </mat-hint>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-between">
        <div class="mr-2"></div>
        <div>
          <button type="button" mat-raised-button [mat-dialog-close]="data.animal" cdkFocusInitial
                  matTooltip="Cancel changes">
            <span translate="GLOBAL.CANCEL">Cancel</span>
          </button>&nbsp;
          <button type="button" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="viewLoading"
                  matTooltip="Save changes">
            <span translate="GLOBAL.SAVE">Save</span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
