/* You can add global styles to this file, and also import other style files */
// Global vendors
@import "~bootstrap/dist/css/bootstrap.css";
@import "~material-design-icons/iconfont/material-icons.css";
@import "~highlight.js/styles/googlecode.css";
@import "~perfect-scrollbar/css/perfect-scrollbar.css";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~jsoneditor/dist/jsoneditor.min.css";

// Global fonts
@import "~socicon/css/socicon.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "./assets/plugins/flaticon/flaticon.css";
@import "./assets/plugins/flaticon2/flaticon.css";
@import "./assets/plugins/keenthemes-icons/font/ki.css";

// Metronic styles
@import "./assets/sass/style.angular.scss";
@import "./assets/sass/vendors/angular/material/angular-material";
@import "./assets/sass/vendors/angular/material/include";

// Default Layout themes
@import "./assets/sass/themes/layout/header/base/light.scss";
@import "./assets/sass/themes/layout/header/menu/light.scss";
@import "./assets/sass/themes/layout/brand/dark.scss";
@import "./assets/sass/themes/layout/aside/dark.scss";


// ag grid
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-alpine.css";
// Header themes
// .header-base-light {
//     @import "./assets/sass/themes/layout/header/base/light.scss";
// }

// .header-base-dark {
//     @import "./assets/sass/themes/layout/header/base/dark.scss";
// }

// Header Menu themes
// .header-menu-light {
//     @import "./assets/sass/themes/layout/header/menu/light.scss";
// }
// .header-menu-dark {
//     @import "./assets/sass/themes/layout/header/menu/dark.scss";
// }

// Brand themes
.brand-dark {
  @import "./assets/sass/themes/layout/brand/dark.scss";
}

.brand-light {
  @import "./assets/sass/themes/layout/brand/light.scss";
}

// Aside themes
// .aside-dark {
//   @import "./assets/sass/themes/layout/aside/dark.scss";
// }

// .aside-light {
//   @import "./assets/sass/themes/layout/aside/light.scss";
// }

 //hide bootstrap dropdown arrow globally
.dropdown-toggle::after {
	display: none !important;
}

.mat-table-wrapper-dashboard .mat-table {
	min-width: 600px !important;
	width: 100% !important;
}

.position-static {
	position: static;
}

.dropdown-fluid {
  height: 100%;
  .topbar-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}


.mat-dialog-container {
  padding: 0 !important;
}

.mat-progress-bar-background {
  background-color: #d1c4e9 !important;
}

.kt-padding-top-25{
  padding-top: 25px;
}

mat-formio {
  mat-spinner {
    display: none !important;
  }
}


.label-radio-button {
  padding-right: 20px;
  font-weight: 600;
}
.labels-of-checkbox{
  padding-top: 10px;
  font-weight: 400;
  padding-right: 20px;
}
.headers-in-post-allergy{
  margin-bottom: 10px;
  margin-top: 40px;
}

.flex{
  display: flex;
}

.margin-bottom-50{
  margin-bottom: 50px;
}

.background-white{
  background-color: white;
}

.margin-right-5{
  margin-right: 5px;
}

.phone-hyper-style{
  font-weight: 500;
  color: #00aaff;
}


#upload_button {
  display: inline-block;
}
#upload_button input[type=file] {
  display:none;
}

.div-upload{
  padding: 9px 4px;
  background: #00aaff;
  border: 1px solid #00aaff;
  position: relative;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  float: left;
  cursor: pointer;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 600;
}
.hide_file {
  position: absolute;
  z-index: 1000;
  opacity: 0;
  cursor: pointer;
  right: 0;
  top: 0;
  height: 100%;
  font-size: 24px;
  width: 100%;

}

.height-100{
  height: 100% !important;
}

.mat-table-wrapper{
  max-height: calc(100% - 130px);
}

.sticky-header{
  position: sticky;
  top: 0;
  z-index: 50;
}


::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e8e8e8;
}

::-webkit-scrollbar-thumb {
  background: #4d4d4d;
}

.padding-2{
  padding: 2px;
}

.margin-2{
  margin: 2px;
}

.margin-auto{
  margin: auto;
}

.no-border-formio {
  padding: initial !important;
  border: initial !important;

  * :not(input) {
    padding: initial !important;
    border: initial !important;
  }
}
.indicator{
  padding: 2px 8px;
  margin: 0px 3px;
  font-size: 10px;
  border-radius: 5px;
  border: 1px solid #b9b9b9;
  color: #616161;
}
.indicator-blue {
  background-color: #E1F0FF;
}
.indicator-orange {
  background-color: #FFF4DE;

}
.indicator-green {
  background-color: #C9F7F5;
}
.indicator-grey{
  background-color: #E1F0FF;
}

.hidden{
  display: none !important;
}

.svg-icon-width-10x{
  svg{
    width: 10rem !important;;
  }
}
.svg-icon-height-5x{
  svg{
    height: 5rem !important;;
  }
}
