<kt-portlet>
  <!-- PORTLET LOADING | Binded to TABLE Datasource -->
  <!-- See prop => '~/core/_crud/models/data-sources/_base.datasource.ts' (loading$) -->
  <kt-portlet-header title="{{ 'ACTIVITY.LIST' | translate }}" [class]="'card-head-lg'"
                     [viewLoading$]="dataSource.loading$ ">
    <ng-container ktPortletTools>
      <!-- <button [routerLink]="['../users/add']" mat-raised-button color="primary" matTooltip="Create new User">New user</button> -->
      <!-- Buttons (Material Angular) | See off.documenations 'https://material.angular.io/components/button/overview' -->
      <!-- mat-raised-button | Rectangular contained button w/ elevation  -->
    </ng-container>
  </kt-portlet-header>
  <!-- end::Header -->

  <!-- start::Body (attribute: ktPortletBody) -->
  <kt-portlet-body>
    <!-- start::FILTERS & GROUP ACTIONS -->
    <div class="form kt-margin-b-30">
      <!-- start::FILTERS -->
      <div class="form-filtration">
        <div class="row align-items-center">

          <div class="col-md-2 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid" appearance="fill">
              <mat-label>{{ 'USER.INPUT.COMPANY' | translate }}</mat-label>
              <mat-select [(value)]="filterCompany" (selectionChange)="loadActivityList()"
                          placeholder="{{ 'USER.INPUT.COMPANY' | translate }}">

                <mat-option>All</mat-option>
                <mat-option *ngFor="let company of companies" [value]="company.id">
                  {{company.name}}
                </mat-option>
              </mat-select>
              <mat-hint align="start">
                <strong>{{ 'TABLE.FILTER' | translate }}</strong> {{ 'USER.INPUT.COMPANY' | translate }}
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="col-md-2 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid" appearance="fill">
              <mat-label>{{ 'TABLE.SEARCH' | translate }}</mat-label>

              <input matInput placeholder="Search activity" #searchInput placeholder="Search">
              <mat-hint align="start">
                <strong>{{ 'TABLE.SEARCH' | translate }}</strong> {{ 'TABLE.IN_ALL_FIELDS' | translate }}
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
      <!-- end::FILTERS -->

      <div class="row align-items-center collapse form-group-actions kt-margin-top-20 kt-margin-bottom-20"
           [ngClass]="{'show' : selection.selected.length > 0}">
        <!-- We show 'Group Actions' div if smth are selected -->
        <div class="col-xl-12">
          <div class="form-group form-group-inline">
            <div class="form-label form-label-no-wrap">
              <label class="font-bold font-danger-">
                <span translate="ECOMMERCE.COMMON.SELECTED_RECORDS_COUNT"></span> {{ selection.selected.length }}
              </label>

            </div>

          </div>
        </div>
      </div>
      <!-- end::GROUP ACTIONS -->
    </div>
    <!-- end::FILTERS & GROUP ACTIONS -->

    <!-- MATERIAL TABLE | Binded to datasources -->
    <div class="mat-table-wrapper">
      <mat-table class="lmat-elevation-z8"
                 #table
                 [dataSource]="dataSource"
                 matSort
                 #sort1="matSort"
                 matSortDirection="asc"
                 matSortDisableClear>

        <ng-container matColumnDef="log_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'ACTIVITY.NAME' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let activity">{{activity.log_name}}</mat-cell>
        </ng-container>


        <ng-container matColumnDef="causer">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'ACTIVITY.CAUSER' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let activity">
            {{activity.causer}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="log_desc">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'ACTIVITY.LOG_DESC' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let activity">
            {{activity.log_desc}}
          </mat-cell>
        </ng-container>


        <ng-container matColumnDef="log_at">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'ACTIVITY.LOG_AT' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let activity">{{activity.log_at}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="subject_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'ACTIVITY.SUBJECT_NAME' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let activity">{{activity.subject_name}}</mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns" class="sticky-header"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <div class="mat-table__message" *ngIf="!dataSource.hasItems">{{ 'TABLE.NO_RECORDS' | translate }}</div>
      <!-- Message for empty data  -->
      <div class="mat-table__message"
           *ngIf="dataSource.isPreloadTextViewed$ | async">{{ 'TABLE.PLAESE_WAIT' | translate }}</div>
    </div>

    <!-- start: BOTTOM -->
    <div class="mat-table__bottom">
      <!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
      <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
      <!-- MATERIAL PAGINATOR | Binded to dasources -->
      <!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [length]="dataSource.paginatorTotal$ | async"
                     [showFirstLastButtons]="true"></mat-paginator>
    </div>
    <!-- end: BOTTOM -->
  </kt-portlet-body>
  <!-- end::Body -->
</kt-portlet>
