<kt-portlet>
  <kt-portlet-header [class]="'card-head-lg'" [viewLoading$]="dataSource.loading$">
  <!-- PORTLET LOADING | Binded to TABLE Datasource -->

      <ng-container ktPortletTitle>
        <span>{{title||'Category'}} List</span>
      </ng-container>

      <ng-container ktPortletTools>
        <div>
          <ng-template [ngxPermissionsOnly]="['canAddCategory','canAddTeam']">
            <button (click)="createCategory()" mat-raised-button color="primary"
                    type="button">
                <span class="svg-icon-md" >
                  <span inlineSVG="./assets/media/svg/icons/General/add_circle_icon.svg"></span>
                  New {{title||'Category'}}
                </span>
            </button>
          </ng-template>
        </div>
      </ng-container>
    </kt-portlet-header>
    <!-- end::Header -->

    <kt-portlet-body>
        <div class="form mb-3">
          <div class="form-filtration">
            <div class="row align-items-center">
              <div class="col-md-2 kt-margin-bottom-10-mobile">
                <mat-form-field class="mat-form-field-fluid" appearance="fill">
                  <mat-label>{{ 'TABLE.SEARCH' | translate }}</mat-label>
                  <input matInput placeholder="{{ 'TABLE.SEARCH' | translate }}" #searchInput placeholder="Search">
                  <mat-hint align="start">
                    <strong>{{ 'TABLE.SEARCH' | translate }}</strong> {{ 'TABLE.IN_ALL_FIELDS' | translate }}
                  </mat-hint>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

      <!-- MATERIAL TABLE | Binded to datasources -->
      <div class="mat-table-wrapper" >
        <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource" matSort #sort1="matSort" matSortActive="id"
                   matSortDirection="desc" matSortDisableClear>
          <!-- Checkbox Column -->

          <!-- Table with selection -->

          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header translate="CATEGORY.TABLE.ID">ID</mat-header-cell>
            <mat-cell *matCellDef="let category">{{ category.id }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header translate="CATEGORY.TABLE.NAME">Name</mat-header-cell>
            <mat-cell *matCellDef="let category">{{ category.name }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="connectWithGoogle">
            <mat-header-cell *matHeaderCellDef>Connect Account</mat-header-cell>
            <mat-cell *matCellDef="let category">

              <button mat-button (click)="connectionFunction(category.inbox_activated,category, AuthServer.GOOGLE)" color="primary"
                      [disabled]="disableBtn" class="p-2" style="min-width: initial !important;">
                      <span class="svg-icon svg-icon-2x"
                            inlineSVG="./assets/media/svg/logos/google-icon.svg"></span> {{getText(category.inbox_activated , 'EMAIL')}}
              </button>

              <button *ngIf="!category.inbox_activated" mat-button (click)="connectionFunction(category.inbox_activated,category, AuthServer.MICROSOFT)" color="primary"
                      [disabled]="disableBtn"  class="p-2" style="min-width: initial !important;">
                      <span class="svg-icon svg-icon-2x"
                            inlineSVG="./assets/media/svg/logos/microsoft-5.svg"></span>
              </button>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="connectWithFax">
            <mat-header-cell *matHeaderCellDef>Connect With Fax</mat-header-cell>
            <mat-cell *matCellDef="let category">

              <button mat-button (click)="faxConnectionFunction(category.fax_activated,category)" color="primary"
                      [disabled]="disableBtnFax || !category.fax_number">
                      {{getText(category.fax_activated , 'FAX')}}
              </button>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="role">
            <mat-header-cell *matHeaderCellDef >Role</mat-header-cell>
            <mat-cell *matCellDef="let category">

              <span >
            <span class=" pr-1 pl-1" *ngFor="let ent of category.roles;let i = index" [class.border-right]="i !== category.roles.length-1">{{ent.name}}</span>
          </span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef translate="TABLE.ACTIONS">Actions</mat-header-cell>
            <mat-cell *matCellDef="let category">
              <ng-template [ngxPermissionsOnly]="['canEditCategory','canEditTeam']">
                <button color="primary" matTooltip="Edit" (click)="editCategory(category)"
                        class="btn btn-icon btn-light btn-hover-primary btn-sm margin-2">
                    <span class="svg-icon svg-icon-md svg-icon-primary">
                      <span inlineSVG="./assets/media/svg/icons/General/edit_icon.svg"></span>
                    </span>
                </button>
              </ng-template>
              <ng-template [ngxPermissionsOnly]="['canSoftDeleteCategory','canSoftDeleteTeam']">
                <button color="danger" matTooltip="Delete" (click)="deleteCategory(category)"
                        class="btn btn-icon btn-light btn-hover-danger btn-sm margin-2">
                    <span class="svg-icon svg-icon-md svg-icon-danger">
                      <span inlineSVG="./assets/media/svg/icons/General/delete_icon.svg"></span>
                    </span>
                </button>
              </ng-template>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns" class="sticky-header"></mat-header-row>

          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
        <!-- Message for empty data  -->
        <div class="mat-table-message" *ngIf="!dataSource.hasItems" translate="GLOBAL.NO_RECORDS_FOUND">No Records Found
        </div>
        <div class="mat-table-message" *ngIf="dataSource.isPreloadTextViewed$ | async" translate="GLOBAL.PLEASE_WAIT">
          Please Wait...
        </div>
      </div>

      <!-- start: BOTTOM -->
      <div class="mat-table-bottom">
        <!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
        <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
        <!-- MATERIAL PAGINATOR | Binded to dasources -->
        <!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [length]="dataSource.paginatorTotal$ | async"
                       [showFirstLastButtons]="true"></mat-paginator>
      </div>
      <!-- end: BOTTOM -->
    </kt-portlet-body>
    <!-- end::Body -->

  </kt-portlet>
