// import login css
@import "../../../../assets/sass/pages/login/login-3.scss";

kt-auth, #kt_login_wrapper {
	height: 100%;

	@media (min-width: 992px) {
		.login.login-3 .login-form {
			width: 100%;
			max-width: 450px;
		}	

		.padding-in-large{
			padding-right: 10%;
			padding-left: 10%;
		}
	 }

	.login-form {
		width: 100%;
		max-width: 450px;

		.mat-form-field {
			width: 100%;
		}

		.mat-form-field, .mat-form-field-outline,.mat-form-field-flex,.mat-form-field-infix{
			height: 65px;
		}
	 }
	 .text-align-center{
		 text-align: center;
	 }
}


kt-auth, .login {
	 height: 100%;

	 .login-form {
		width: 100%;
		max-width: 450px;

		.mat-form-field {
			width: 100%;
		}

		.mat-input-element{
			width: 93%;

		}
	 }


	// add extra right padding when displaying spinner in button
 	.spinner {
 		padding-right: 3rem !important;
 	}
}

kt-login, kt-register, kt-forgot-password,kt-reset-password {
	-webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
	flex: 1 0 auto;
	height: 100%;
	display: flex !important;
}

.height-100 {
	height: 100%;
}

@media only screen and (max-width: 600px) {
	.hide-small{
		display:none !important;
	}
  }

  .max-high-pic{
	  max-height: 80%;
  }


  .doctorsSvg{
	  max-width: 100%;
	  max-height: 100%;
  }


  .photoLogin{
	  text-align: center;;
  }

//   .btn.btn-success{
// 	color: #ffffff;
//     background-color: #3f3d56  !important;
//     border-color: #3f3d56  !important;
//   }


  .all-height{
	  height: 100%;
  }