$primary-color: #00aaff;
.workflow-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 2px;
  min-width: 300px;
  height: calc(100% - 100px);
}

.body-column {
  background-color: rgba(243, 246, 249, 1);
  max-height: 670px;
  overflow-y: auto;
  overflow-x: hidden !important;
}

.body-list-column {
  background-color: rgba(243, 246, 249, 1);
  max-height: 670px;
  overflow-y: auto;
}
.task-header{
  min-width: 1200px;
}
.title {
  display: flex;
  justify-content: left;
  //color: white;
  padding: 7px;
  //background-color: $primary-color;
  font-size: 1.2rem;
  font-weight: 500;
  color: $primary-color;
  background-color: rgba(54,153,255,.1);
  max-height: 50px;
}


.workflow-list-body {
  height: calc(100% - 55px);
  .workflow-column {
    padding: 5px;
    height: auto;
  }
}

.workflow-spinner {
  justify-content: center;
  display: flex;
  margin: 7px;
}

.no-data-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 7px;
  width: 100%;
}

.horizontal-scrollable > .row {
  white-space: nowrap;
}

.horizontal-scrollable > .row > .col-xs-4 {
  display: inline-block;
  float: none;
}

.btn-primary{
  background-color: #00aaff !important
}
