<div class="rounded height-100" style="background-color: white !important;">
  <div class="pt-5 pl-5 pr-5" style="display:flex;flex-direction: row;justify-content: space-between;align-content: center;">
    <ng-container>
      <div class="card-toolbar">
        <a class="btn btn-icon btn-sm btn-clean mr-2" [class.active]="showKampain" (click)="showKampainOnClick()">
        <span class="svg-icon svg-icon-2x" [class.svg-icon-light]="showList" [class.svg-icon-primary]="showKampain"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-04-19-122603/theme/html/demo1/dist/../src/media/svg/icons/Layout/Layout-vertical.svg--><svg
          xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
          viewBox="0 0 24 24" version="1.1">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <rect x="0" y="0" width="24" height="24"/>
        <rect fill="#000000" x="5" y="4" width="6" height="16" rx="1.5"/>
        <rect fill="#000000" opacity="0.3" x="13" y="4" width="6" height="16" rx="1.5"/>
    </g>
</svg><!--end::Svg Icon--></span>
        </a>
        <a class="btn btn-icon btn-sm btn-clean draggable-handle mr-2" [class.active]="showList"
           (click)="showListOnClick()">
        <span class="svg-icon svg-icon-primary svg-icon-2x" [class.svg-icon-light]="showKampain"
              [class.svg-icon-primary]="showList"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-04-19-122603/theme/html/demo1/dist/../src/media/svg/icons/Layout/Layout-horizontal.svg--><svg
          xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
          viewBox="0 0 24 24" version="1.1">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <rect x="0" y="0" width="24" height="24"/>
        <rect fill="#000000" opacity="0.3" x="4" y="5" width="16" height="6" rx="1.5"/>
        <rect fill="#000000" x="4" y="13" width="16" height="6" rx="1.5"/>
    </g>
</svg><!--end::Svg Icon--></span>
        </a>
      </div>
    </ng-container>
    <ng-container>
      <div class="" style="text-align: right;">

<!-- <ng-template > ngxPermissionsOnly="canCreateWorkflowFromStart"-->
          <button class="btn btn-primary text-weight-bold" type="button" (click)="openAddFlowModal()" mat-raised-button
                  matTooltip="Create workflow">
            <i class="flaticon2-add-1"></i>
            New workflow
          </button>
      </div>
    </ng-container>
    <div class="" style="text-align: left;" *ngIf="!readOnly">
      <kt-workflow-filter (onFilterChange)="filterChanges($event)" [statusList]="statusList"
                          [categoryList]="categoryList"
                          [icon]="'./assets/media/svg/icons/General/Search.svg'" [useSVG]="true"></kt-workflow-filter>
    </div>
  </div>

  <div *ngIf="showKampain" class="p-5"
       style="display: flex;flex-direction: column;margin-bottom: 50px;overflow-x: auto; height: calc(100% - 49px)">
    <div style="display: flex;">
      <div class="workflow-column mb-0" *ngFor="let status of statusList | async">
        <div class="title rounded-top m-0 text-capitalize p-4" matTooltip="{{status.label}}">
          {{status.label}}
        </div>
      </div>
    </div>
    <div *ngIf="isLoading" class="workflow-spinner">
      <mat-spinner [diameter]="20"></mat-spinner>
    </div>
    <div *ngIf="!isLoading" class="workflow-list-body mt-0" style="display: flex;">
      <div *ngIf="noDataAvailable" class="no-data-container">
        <p class="mb-0">You have not created any workflow.</p>
        <p>Add your first workflow.</p>
      </div>
      <ng-container *ngIf="!noDataAvailable">
        <div class="workflow-column body-column mt-0 scroll" [perfectScrollbar]="{wheelPropagation :true, suppressScrollX: true}"
             *ngFor="let flow of workflowStatusesList">
          <kt-workflow-card *ngFor="let flowList of listOfWorkflows[flow]" [workflow]="flowList" [statusesList]='statusesList'
                            [checkValues]="checkValues"
                            (refreshWorkflowList)="refreshWorkflowList($event)">
          </kt-workflow-card>
        </div>
      </ng-container>
    </div>
  </div>

  <ng-container *ngIf="showList">
    <div style="height: calc(100% - 24px);overflow-x: auto">
      <div class="height-100">
        <div class="task-header p-4 height-100">
          <kt-workflow-accordion [header]="true" [statusesList]='statusesList'></kt-workflow-accordion>
          <ng-container *ngIf="!noDataAvailable">
            <div class="workflow-column body-list-column mt-0 ">
              <kt-workflow-accordion *ngFor="let flowList of workflowGrid" [workflow]="flowList" [users]="usersObj"
                                     [header]="false" [entities]="entitiesObj" [drugs]="drugsObj"
                                     [contacts]="contactsObj"
                                     [statusesList]='statusesList'
                                     (refreshWorkflowList)="refreshWorkflowList($event)"
              >
              </kt-workflow-accordion>
            </div>
          </ng-container>
          <div *ngIf="noDataAvailable" class="no-data-container">
            <p class="mb-0">You have not created any workflow.</p>
            <p>Add your first workflow.</p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
