.error-title {
		font-size: 12rem !important;
	}
.error-subtitle {
		font-size: 7.26rem !important;
    }
.error-description {
    font-size: 2.2rem !important;
}

.aplos-icon {
    position:absolute;
    top:0;
    left:0;
    width: 7%;
}