<!-- begin:: Error -->

<div class="error error-2 d-flex flex-row-fluid bgi-size-cover bgi-position-center" style="background-image: url(./assets/media/error/doctors-404.svg);background-position: center right; background-size:50% ; background-color: white; background-repeat: no-repeat; height: 100%;">
<!--	<img class="aplos-icon m-5" src="./assets/media/error/logo.png">-->
	<!--begin::Content-->
	<div class="d-flex flex-column flex-row-fluid align-items-center align-items-md-start justify-content-md-center text-center text-md-left px-10 px-md-30 py-10 py-md-0 line-height-xs">
	  <h1 class="error-title font-weight-boldest line-height-sm">
		<span class="text-primary">4</span>
		<span class="text-muted">0</span>
		<span class="text-primary">4</span>
	  </h1>
	  <p class="error-subtitle text-muted font-weight-boldest mb-10">
		ERROR
	  </p>
	  <p class="error-description text-muted font-weight-bold mt-md-0 line-height-md">
		Nothing left to do here
	  </p>
		<div class="offset-1">
			<a href="/"><button type="button" class="btn btn-outline-primary">Return Home</button></a>
		</div>
	</div>
	<!--end::Content-->
  </div>
  <!-- end:: Error -->
