<!--begin::Form-->
<mat-spinner *ngIf="passnotloaded"></mat-spinner>
<form [formGroup]="changePasswordForm" class="form form-group-seperator-dashed">

  <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
            (close)="onAlertClose($event)">
    {{ "AUTH.VALIDATION.INVALID_OR_REQUIRED" | translate }}
  </kt-alert>
  <div class="form-section form-section-first">
    <div class="form-group form-group row mb-0 p-0">
      <div *ngIf="viewCurrentPassword" class="col-lg-5 kt-margin-bottom-20-mobile">
        <mat-form-field class="mat-form-field-fluid" appearance="fill">
          <mat-label>{{ 'AUTH.INPUT.CURRENT_PASS'| translate }}</mat-label>
          <input matInput type="password" id="oldPassword" autocomplete="off"
                 placeholder="{{ 'AUTH.INPUT.CURRENT_PASS'| translate }}" formControlName="oldPassword"/>

          <mat-error *ngIf="isControlHasError('oldPassword', 'required')">
            <strong>{{ "AUTH.VALIDATION.REQUIRED_FIELD" | translate }}</strong>
          </mat-error>
          <mat-error *ngIf="isControlHasError('oldPassword', 'pattern')">
            <strong>{{ "AUTH.VALIDATION.PATTERN_PASSWORD" | translate }} </strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="form-group form-group row mb-0 p-0">
      <div class="col-lg-5 kt-margin-bottom-20-mobile">
        <mat-form-field class="mat-form-field-fluid" appearance="fill">
          <mat-label>{{ 'AUTH.INPUT.NEW_PASSWORD'| translate }}</mat-label>
          <input matInput type="password" id="password" autocomplete="off"
                 placeholder="{{ 'AUTH.INPUT.NEW_PASSWORD'| translate }}" formControlName="password"/>

          <mat-error *ngIf="isControlHasError('password', 'required')">
            <strong>{{ "AUTH.VALIDATION.REQUIRED_FIELD" | translate }}</strong>
          </mat-error>
          <mat-error *ngIf="isControlHasError('password', 'pattern')">
            <strong>{{ "AUTH.VALIDATION.PATTERN_PASSWORD" | translate }} </strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="form-group form-group row mb-0 p-0">
      <div class="col-lg-5 kt-margin-bottom-20-mobile">
        <mat-form-field class="mat-form-field-fluid" appearance="fill">
          <mat-label>{{ 'AUTH.INPUT.CONFIRM_PASSWORD'| translate }}</mat-label>
          <input matInput type="password" id="confirmPassword" autocomplete="off"
                 placeholder="{{ 'AUTH.INPUT.CONFIRM_PASSWORD'| translate }}" formControlName="confirmPassword"/>
          <mat-error *ngIf="isControlHasError('confirmPassword', 'required')">
            <strong>{{ "AUTH.VALIDATION.REQUIRED_FIELD" | translate }}</strong>
          </mat-error>
          <mat-error *ngIf="f.confirmPassword.invalid">
            <strong>{{ "AUTH.VALIDATION.NOT_MATCH" | translate }} </strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <button type="button" [disabled]="changePasswordForm.invalid" mat-raised-button color="primary" (click)="onSubmit()"
          matTooltip="{{ 'AUTH.INPUT.CHANGE_PASS'| translate }}">
    {{ 'AUTH.INPUT.CHANGE_PASS'| translate }}
  </button>
</form>
<!--end::Form-->
