<div class="card card-custom">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label" translate>{{getTitle() | titlecase}}</h3>
    </div>

  </div>
  <form class="form form-group-seperator-dashed" [formGroup]="taskForm">
    <div #body class="navi-hover scroll card-body " [perfectScrollbar]="{wheelPropagation :false}">
      <div class="card-body-progress">
        <mat-spinner [diameter]="20"></mat-spinner>
      </div>
      <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="false" [duration]="10000">
        {{ "AUTH.VALIDATION.INVALID_OR_REQUIRED" | translate }}
      </kt-alert>
      <div>
        <h4 class="text-muted">{{ "TASK.DETAILS" | translate }}</h4>
        <div class="row">
          <div class="col pl-0">
            <mat-form-field class="col due-date-field">
              <input required [owlDateTime]="dt1" matInput [owlDateTimeTrigger]="dt1"
                     [placeholder]="getTimePlaceholder('date')" class="clendar-btn" formControlName="due_date" readonly>
              <owl-date-time #dt1></owl-date-time>
              <mat-icon matSuffix>access_time</mat-icon>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="col kt-margin-bottom-20-mobile">
              <mat-label>{{ "TASK.SET_PRIORITY" | translate }}</mat-label>
              <mat-select formControlName="priority">
                <mat-select-trigger>
                <span *ngIf="taskForm.controls['priority'].value !== 'LOW'"
                      [class]="getPriority(taskForm.controls['priority'].value)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="4px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect x="0" y="0" width="24" height="24"/>
                    <path
                      d="M8,4 L16,4 C17.1045695,4 18,4.8954305 18,6 L18,17.726765 C18,18.2790497 17.5522847,18.726765 17,18.726765 C16.7498083,18.726765 16.5087052,18.6329798 16.3242754,18.4639191 L12.6757246,15.1194142 C12.2934034,14.7689531 11.7065966,14.7689531 11.3242754,15.1194142 L7.67572463,18.4639191 C7.26860564,18.8371115 6.63603827,18.8096086 6.26284586,18.4024896 C6.09378519,18.2180598 6,17.9769566 6,17.726765 L6,6 C6,4.8954305 6.8954305,4 8,4 Z"
                      fill="#000000"/>
                    </g>
                  </svg>
                </span>
                  {{getPriorityText(taskForm.controls['priority'].value)}}
                </mat-select-trigger>
                <mat-option *ngFor="let option of priorityOptions" [value]="option">
                <span *ngIf="option !== 'LOW'" [class]="getPriority(option)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect x="0" y="0" width="24" height="24"/>
                    <path
                      d="M8,4 L16,4 C17.1045695,4 18,4.8954305 18,6 L18,17.726765 C18,18.2790497 17.5522847,18.726765 17,18.726765 C16.7498083,18.726765 16.5087052,18.6329798 16.3242754,18.4639191 L12.6757246,15.1194142 C12.2934034,14.7689531 11.7065966,14.7689531 11.3242754,15.1194142 L7.67572463,18.4639191 C7.26860564,18.8371115 6.63603827,18.8096086 6.26284586,18.4024896 C6.09378519,18.2180598 6,17.9769566 6,17.726765 L6,6 C6,4.8954305 6.8954305,4 8,4 Z"
                      fill="#000000"/>
                    </g>
                  </svg>
                </span>
                  <span *ngIf="option === 'LOW'" style="height: 26px; width: 26px">&nbsp;</span>
                  {{getPriorityText(option)}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col pr-0">
            <mat-form-field class="col kt-margin-bottom-20-mobile status-field">
              <mat-label>{{ "TASK.SET_STATUS" | translate }}</mat-label>
              <mat-select formControlName="progress">
                <mat-select-trigger>
                <span
                  class="mr-10 label label-lg label-light-{{ getItemCssClassByStatus(taskForm.controls['progress'].value) }} label-inline">{{ getItemTextByStatus(taskForm.controls['progress'].value) }}
                </span>
                </mat-select-trigger>
                <mat-option *ngFor="let option of progressOptions" [value]="option">
                <span
                  class="mr-10 label label-lg label-light-{{ getItemCssClassByStatus(option) }} label-inline">{{ getItemTextByStatus(option) }}
                </span>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <mat-form-field class="mat-form-field-fluid">
          <mat-label>{{ "TASK.DESCRIPTION" | translate }}</mat-label>
          <textarea rows="3" matInput formControlName="description"></textarea>
        </mat-form-field>
        <div class="row">
          <div class="col py-2">
            <mat-form-field class="mat-form-field-fluid">
              <mat-label>{{ "TASK.TITLE" | translate }}</mat-label>
              <input required matInput formControlName="title"/>
              <mat-error *ngIf="isControlHasError('title', 'required')">
                {{ "AUTH.VALIDATION.REQUIRED_FIELD" | translate }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col px-0">
          <kt-general-autocomplete [appearance]="'standard'" [label]="'Contacts'"
                                   [loadItemsFunction]="entityAutocompleteCall" [optionFormatter]="filterEntityFn"
                                   [valueFormatter]="filterEntityFn" [required]="false" [readOnly]="false"
                                   [control]="taskForm.get('task_entities')" [change]="onEntityChange.bind(this)"
                                   [dataPath]="'data'" [placeholder]="'Select Contacts'"
                                   [formatNewObjectFn]="formatNewEntityFn" [chipList]="true"
                                   [objects]="taskForm.get('task_entities').value"
                                   #entityAutocomplete></kt-general-autocomplete>
        </div>
        <div class="row pb-2">
          <ng-template ngxPermissionsExcept="canReassignTask">
            <div class="col kt-margin-bottom-20-mobile">
              <kt-general-autocomplete [appearance]="'standard'" [label]="'Assign To'"
                                       [loadItemsFunction]="assigneeAutocompleteCall"
                                       [optionFormatter]="filterAssigneeFn" [valueFormatter]="filterAssigneeFn"
                                       [required]="false" [readOnly]="true"
                                       [control]="taskForm.get('task_responsible_users')"
                                       [change]="onAssigneeChange.bind(this)" [dataPath]="'data'"
                                       [placeholder]="'Select Assignees'" [formatNewObjectFn]="formatNewAssigneeFn"
                                       [chipList]="true" [objects]="taskForm.get('task_responsible_users').value"
                                       #assigneeAutocomplete></kt-general-autocomplete>
            </div>
          </ng-template>
          <ng-template ngxPermissionsOnly="canReassignTask">
            <div class="col kt-margin-bottom-20-mobile">
              <kt-general-autocomplete [appearance]="'standard'" [label]="'Assign To'"
                                       [loadItemsFunction]="assigneeAutocompleteCall"
                                       [optionFormatter]="filterAssigneeFn" [valueFormatter]="filterAssigneeFn"
                                       [required]="false" [readOnly]="false"
                                       [control]="taskForm.get('task_responsible_users')"
                                       [change]="onAssigneeChange.bind(this)" [dataPath]="'data'"
                                       [placeholder]="'Select Assignees'" [formatNewObjectFn]="formatNewAssigneeFn"
                                       [chipList]="true" [objects]="taskForm.get('task_responsible_users').value"
                                       #assigneeAutocomplete></kt-general-autocomplete>
            </div>
          </ng-template>
          <div class="col kt-margin-bottom-20-mobile">
            <kt-general-autocomplete [appearance]="'standard'" [label]="'Followers'"
                                     [loadItemsFunction]="assigneeAutocompleteCall" [optionFormatter]="filterAssigneeFn"
                                     [valueFormatter]="filterAssigneeFn" [required]="false" [readOnly]="false"
                                     [control]="taskForm.get('task_followers')" [change]="onFollowerChange.bind(this)"
                                     [dataPath]="'data'" [placeholder]="'Select Followers'"
                                     [formatNewObjectFn]="formatNewFollowerFn" [chipList]="true"
                                     [objects]="taskForm.get('task_followers').value"
                                     #followerAutocomplete></kt-general-autocomplete>
          </div>
        </div>

        <div class="mb-5 mat-form-field-fluid kt-margin-bottom-20-mobile">
          <mat-slide-toggle class="mr-2" formControlName="is_recurring"></mat-slide-toggle>
          <mat-hint align="start">
            <strong>{{ getRecurringString() }}</strong>
          </mat-hint>
        </div>
        <div class="px-0 container mb-4">
          <h4 class="text-muted">{{ "TASK.ATTACHMENTS" | translate }}</h4>
          <div class="row">
            <div class="col-6 kt-margin-bottom-20-mobile">
              <div class="d-flex align-items-center flex-grow-1 mb-2" *ngFor="let a of attachments">
                <div class="symbol symbol-25 bg-transparent flex-shrink-0">
                  <!-- <span class="icon-svg" [inlineSVG]="el.svgPath"></span> -->
                  <img [src]="getSvgPath(a)" alt=""/>
                </div>
                <div class="d-flex flex-column ml-3 mt-2 mb-2" style="overflow: hidden;">
                  <a *ngIf="data.mode === 'update' && !data.nonDB" href="{{a.url}}"
                     class="font-weight-bold text-dark text-hover-primary" target="_blank">
                    {{ getAttachmentName(a) }}
                  </a>
                  <span *ngIf="data.mode === 'create' || data.nonDB" class="font-weight-bold text-dark">{{a}}</span>
                </div>
                <div *ngIf="data.mode === 'update' && attachments.length > 0"
                     [ngClass]="((attachments.length > 0)?'col-6':'col-12')+' kt-margin-bottom-20-mobile'">
                  <i class="ml-2 flaticon2-cross" (click)="deleteAttachment(a,'latest')"></i>
                </div>
              </div>
              <div class="d-flex align-items-center flex-grow-1 mb-2" *ngFor="let a of updatedAttachments">
                <div class="symbol symbol-25 bg-transparent flex-shrink-0">
                  <!-- <span class="icon-svg" [inlineSVG]="el.svgPath"></span> -->
                  <img [src]="getSvgPath(a,'update')" alt=""/>
                </div>
                <div class="d-flex flex-column ml-3 mt-2 mb-2">
                  <span class="font-weight-bold text-dark">{{a}}</span>
                </div>
                <div [ngClass]="((attachments.length > 0)?'col-6':'col-12')+' kt-margin-bottom-20-mobile'">
                  <i class="ml-2 flaticon2-cross" (click)="deleteAttachment(a,'updated')"></i>
                </div>
              </div>
              <input style="display: none;" #fileInput type="file" name="attachments" (change)="onFileChange($event)"
                     multiple>
              <div class="mx-2" *ngIf="data.mode === 'create' || data.nonDB">
                <span class="font-size-s text-hover-primary" (click)="fileInput.click()"><i
                  class="flaticon2-plus fa-s"></i> Add Attachment</span>
              </div>

              <input style="display: none;" #fileInput2 type="file" name="updatedAttachments"
                     (change)="onFileUpdated($event)" multiple>
              <div class="mx-2" *ngIf="data.mode === 'update'">
                <span class="font-size-s text-hover-primary" (click)="fileInput2.click()"><i
                  class="flaticon2-plus fa-s"></i> Add Attachment</span>
              </div>
            </div>
            <div *ngIf="data.mode === 'create'"
                 [ngClass]="((attachments.length > 0)?'col-6':'col-12')+' kt-margin-bottom-20-mobile'">
              <i class="ml-2 flaticon2-cross" *ngIf="files.length>0" (click)="resetFileInput()"></i>
            </div>
          </div>
        </div>
        <div class="mb-4" *ngIf="!data.isSubtask && !task.parent_id">
          <h4 class="text-muted">{{ "TASK.SUB_TASKS" | translate }}</h4>
          <div class="pl-1" *ngFor="let subtask of subtasks; let i = index">
            <i *ngIf="subtask.progress==='DONE'" class="fa fas fa-check-circle text-primary pr-2"
               style="padding-left: 5px !important;"></i>
            <span *ngIf="subtask.progress!=='DONE'" class="svg-icon svg-icon svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-02-01-052524/theme/html/demo1/dist/../src/media/svg/icons/Media/Rec.svg--><svg
              xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">

                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">

                <rect x="0" y="0" width="24" height="24"/>

               <path
                 d="M12,16 C14.209139,16 16,14.209139 16,12 C16,9.790861 14.209139,8 12,8 C9.790861,8 8,9.790861 8,12 C8,14.209139 9.790861,16 12,16 Z M12,20 C7.581722,20 4,16.418278 4,12 C4,7.581722 7.581722,4 12,4 C16.418278,4 20,7.581722 20,12 C20,16.418278 16.418278,20 12,20 Z"
                 fill="#000000" fill-rule="nonzero"/>

          </g>

        </svg><!--end::Svg Icon--></span>
            <a (click)="updateSubTask(subtask, i)" class="cursor-pointer text-dark text-hover-primary font-weight-bold">
              {{subtask.title}}
            </a>
          </div>
          <div class="mx-2" *ngIf="data.mode === 'create' || data.nonDB">
            <span class="font-size-s text-hover-primary" (click)="createSubTask()"><i class="flaticon2-plus fa-s"></i> Add Subtask</span>
          </div>
        </div>
        <div class="mb-4" *ngIf="task.id > 0">
          <h4 class="text-muted">{{ "TASK.COMMENTS" | translate }}</h4>
          <kt-comments  [id]="task.id" [comments]="comments" [type]="'tasks_v2'"></kt-comments>
        </div>
      </div>
      <div #comment></div>
    </div>
    <kt-custom-progress-bar *ngIf="showFileLoader | async" [requests]="uploadRequests" [totalFileSize]="totalFileSize"
                            (callback)="callbackOnFileLoad()"></kt-custom-progress-bar>
    <div class="card-footer">
      <div class="d-flex justify-content-between">
        <div class="mr-2"></div>
        <div>
          <button (click)="close()" type="button" mat-raised-button cdkFocusInitial matTooltip="Cancel">
            <span translate="GLOBAL.CANCEL">Cancel</span>
          </button>&nbsp;
          <ng-template ngxPermissionsOnly="canEditTask">
            <button type="button" mat-raised-button color="primary" [disabled]="clicked || task.status === 'DONE'"
                    (click)="onSubmit();" matTooltip="Create">
              <span translate="GLOBAL.SAVE">Save</span>
            </button>
          </ng-template>
        </div>
      </div>
    </div>
  </form>
</div>
