.workflow-inprogress {
  background-color: lightblue;
}


.workflow-pending {
  background-color: #d1d1d1;

}

.workflow-ready {
  background-color: lightgreen;

}

.workflow-review {
  background-color: #DDBDF1;

}

.workflow-card {
  margin-top: 8px;
}

.svg-icon {
  cursor: pointer;
  padding-right: 10px;
}

.warning-icon {
  display: flex;
  align-items: center;
}

.lock-overlay{
  overflow: hidden;
  position: absolute; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: rgb(0, 0, 0); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .3s
}

.overlay-content{
  color: #ffdea3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lock-overlay:hover{
  opacity: .25;
}

.overlay-icon .material-icons{
  font-size: 3em !important;
  max-width: 50%;
}

.pin{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0px;
  position: absolute;
  z-index: 1;
  top: -1px;
  right: 8px;
  min-height: 34px;
}
