<div class="card card-custom"
	[ngClass]="{ 'card-body-progress card-body-progress-overlay' : viewLoading }">
	<div class="card-header">
		<div class="card-title">
			<h3 class="card-label" translate>OFFICE.VIEW_OFFICE</h3>
		</div>
	</div>
		<div class="card-body">

			<div class="card-body-progress">
				<mat-spinner [diameter]="20"></mat-spinner>
			</div>
			<dl class="row">
				<dt class="col-sm-3 py-2" translate="OFFICE.FORM.NAME">Name</dt>
				<dd class="col-sm-9 py-2">{{ office.name }}</dd>

				<dt class="col-sm-3 py-2" translate="OFFICE.FORM.PHONE">Phone</dt>
				<dd class="col-sm-9 py-2"  >{{ formatPhone(office.phone) }}</dd>

				<dt class="col-sm-3 py-2" translate="OFFICE.FORM.FAX">Fax</dt>
				<dd class="col-sm-9 py-2"  >{{ formatPhone(office.fax) }}</dd>

				<dt class="col-sm-3 py-2" translate="OFFICE.FORM.ADDRESS">Address</dt>
				<dd class="col-sm-9 py-2">{{ office.address }}</dd>

				<dt class="col-sm-3 py-2" translate="OFFICE.FORM.STATUS">Status</dt>
				<dd class="col-sm-9 py-2">
					<span class="label label-lg label-light-{{ getItemCssClassByStatus(office.isActive) }} label-inline">{{  getItemStatusString(office.isActive) }}</span>
				</dd>

			  </dl>
		</div>
		<div class="card-footer">
			<div class="d-flex justify-content-between">
				<div class="mr-2"></div>
				<div>
					<button mat-button mat-dialog-close><span translate="GLOBAL.CLOSE">Close</span></button>
				</div>
			</div>
		</div>
</div>
